[2021-03-22 21:40] ericthomasswenson commented on #835
Let’s improve

Unable to confirm engine speed

to

Unable to confirm engine speed **_in freeze frame data._**

[2021-03-22 21:59] gumbelmj commented on #825
The new message should be:
"WARN: 6.3.13.2.e - Unable to determine engine speed from freeze frame data"

[2021-03-22 22:00] gumbelmj commented on #835
#825 was created to improve the engine speed message.  We're going to make it a warning.  Should we add that to the specification?

[2021-03-22 22:10] ericthomasswenson opened #836 "DTC count of FFh is a actually a good match to NACK"
FAIL: 6.7.6.2.c - DPF Controller (85) reported a different number of previously active DTCs than in DM2 response earlier in this part

Was observed for a DTC count of FFh, as compared to NACK or NULL.

10:48:56.1823 Destination Specific DM2 Request to DPF Controller (85)
10:48:56.1897 18EA55F9 [3] CB FE 00 (TX)
10:48:56.1914 18E8FF55 [8] 01 FF FF FF FF CB FE 00
Acknowledgment from DPF Controller (

[2021-03-22 22:18] gumbelmj commented on #824
Closing this as a duplicate of #836

[2021-03-22 22:18] #824 closed, assigned to nobody

[2021-03-22 22:40] gumbelmj commented on #830
Early in the report:
[code]

Later near the end:
[code]

[2021-03-22 22:43] gumbelmj commented on #830
@battjt, since you have a real adapter can you look into this?

[2021-03-22 22:53] ericthomasswenson opened #839 "6.7.6.2.c Fails FFh DM5 DTC counts with NACK response for DM2"
FAIL: 6.7.6.2.c - DPF Controller (85) reported a different number of previously active DTCs than in DM2 response earlier in this part

Was observed for a DTC count of FFh, as compared to NACK or NULL.

10:48:56.1823 Destination Specific DM2 Request to DPF Controller (85)
10:48:56.1897 18EA55F9 [3] CB FE 00 (TX)
10:48:56.1914 18E8FF55 [8] 01 FF FF FF FF CB FE 00
Acknowledgment from DPF Controller (

[2021-03-22 23:04] battjt commented on #830
It appears that the adapter clock resets in this area.  I assume the adapter was power cycled or otherwise reset.  In addition, it appears that TP packets are logged with system time, not the adapter time.

1. Anytime the packet time strays more than 1 s from the system clock, I'll reset the base offset for the adapter.
2. I'll fix the TP packet time to represent the fragments and not the system.

[2021-03-22 23:07] gumbelmj commented on #828
This is consistent with the design pattern of the project.

[2021-03-22 23:07] #828 closed, assigned to nobody

[2021-03-22 23:09] ericthomasswenson opened #842 "DM22 request malformed in Byte 8"
10:54:46.5856 Global DM22 Request
10:54:46.5901 18C3FFF9 [8] 01 FF FF FF FF FF FF F1 (TX)
10:54:47.1860 Timeout - No Response

10:54:47.1910 Global DM22 Request
10:54:47.1984 18C3FFF9 [8] 11 FF FF FF FF FF FF F1 (TX)
10:54:47.7911 Timeout - No Response

Was observed

Fault B FMI 31 would be the preferred stimulus value over SPN 3FFFFh, FMI 18h.

PGN 49920 (00C30016)
Byte 1                   Indivi

[2021-03-22 23:39] gumbelmj opened #844 "N/A for code counts should not indicate data was erased in DM5"
[code]

[2021-03-22 23:40] mmschaefer commented on #825
#840

[2021-03-22 23:41] #834 closed, assigned to gumbelmj

[2021-03-22 23:42] #826 closed, assigned to gumbelmj

[2021-03-22 23:42] #825 closed, assigned to mmschaefer

[2021-03-22 23:44] mmschaefer opened #845 "Write the test for Part02 Step 17"
Somehow a test was never written for the Part02Step17Controller.  It needs to be written.

[2021-03-22 23:44] #833 closed, assigned to gumbelmj

[2021-03-23 00:06] #822 closed, assigned to mmschaefer

[2021-03-23 00:22] #844 closed, assigned to gumbelmj

[2021-03-23 00:23] #839 closed, assigned to gumbelmj

[2021-03-23 00:26] #653 closed, assigned to mmschaefer

[2021-03-23 00:28] #842 closed, assigned to gumbelmj

[2021-03-23 00:44] ericthomasswenson opened #849 "ECM does not fail ACK for DS DM11"
The ECM was to fail an ACK for a DS DM11.

10:55:07.2986 Destination Specific DM11 Request to Engine #1 (0)
10:55:07.3021 18EA00F9 [3] D3 FE 00 (TX)
10:55:07.3094 18E8FF00 [8] 00 FF FF FF F9 D3 FE 00
Acknowledgment from Engine #1 (0): Response: ACK, Group Function: 255, Address Acknowledged: 249, PGN Requested: 65235

6.9.8.4.a - Checking for erased diagnostic information

This is due to an omissi

[2021-03-23 00:58] ericthomasswenson opened #850 "Test not Complete is Not Initialized?"
This juxtaposition just looks like a fallacy, but the SPNs are different

10:55:40.9287 Sending DM7 for DM30 to DPF Controller (85) for SPN 7393
10:55:40.9341 18E355F9 [8] FA E1 1C 01 FF FF FF FF (TX)
10:55:40.9436 18A4F955 [12] FA E1 1C 01 20 00 00 FB FF FF FF FF
DM30 from 85: SPN **_7393_** FMI 1 (SLOT 32) Result: Test Not Complete.
FAIL: 6.9.10.2.a - DPF Controller (85) reported test result for

[2021-03-23 01:08] gumbelmj commented on #850
In order to make the code easy to inspect, troubleshoot and update, it's designed to mirror the specification.  In nearly all cases, we perform the first step before moving onto other ones.

Thus the first step here is

Once we have requested all the test results, we inspect them per:

See the code in [Part9Step10Controller](https://github.com/battjt/j1939-84/blob/f6929be97ab116c90b16683f74324db48

[2021-03-23 01:09] #823 closed, assigned to gumbelmj

[2021-03-23 01:59] ericthomasswenson opened #852 "Review SP 7330 FMI 2 for Potential False Positive Outcome FAIL: 6.9.8.6.c - DPF Controller (85)"
FAIL: 6.9.8.6.c - DPF Controller (85) Observed for SP 7330 in

J1939-84 Tool version 3.0.1 - 2021/03/21 12:41
Generated: 2021/03/22 11:19:21.9789
Log File Name: C:\CdriveSave\new j1939-84\v301 ECM ACM Link2 B.j1939-84
...
VIN: 3HSDJSNR8HN447736
Vehicle MY: 2017
Engine MY: 2016
...
     DM19 from Engine #1 (0): CAL ID of M133XXM_B282NE06 and CVN of 0xCB465A72
     DM19 from DPF Controller (85): [

[2021-03-23 02:01] ericthomasswenson commented on #852
Outcome shown to be correct.   See #849 for missing Failure message for SA 85 ACK.

[2021-03-23 02:01] #852 closed, assigned to ericthomasswenson

[2021-03-23 02:05] ericthomasswenson commented on #849
SA 85 Should also fail for ACK to DS 11

Start Test 9.8 - DM11: Diagnostic data clear/reset for active DTCs

10:54:56.6602 Destination Specific DM11 Request to DPF Controller (85)
10:54:56.6645 18EA55F9 [3] D3 FE 00 (TX)
10:54:56.6693 18E8FF55 [8] 00 FF FF FF FF D3 FE 00
Acknowledgment from DPF Controller (85): Response: ACK, Group Function: 255, Address Acknowledged: 255, PGN Requested: 65235

6.

[2021-03-23 02:11] ericthomasswenson opened #853 "Failure message for 6.9.8.4.b does not reflect new phrasing"
FAIL: 6.9.8.4.b - One or more than one ECU erased diagnostic information and one or more other ECUs did not erase diagnostic information

Similar content was rephrased and harmonized in 17 March as built draft...

[2021-03-23 02:21] ericthomasswenson commented on #850
So as a part of the white space work let’s add a line

10:55:40.9287 Sending DM7 for DM30 to DPF Controller (85) for SPN 7393
10:55:40.9341 18E355F9 [8] FA E1 1C 01 FF FF FF FF (TX)
10:55:40.9436 18A4F955 [12] FA E1 1C 01 20 00 00 FB FF FF FF FF
DM30 from 85: SPN 7393 FMI 1 (SLOT 32) Result: Test Not Complete.
            <Modeled blank line here>
FAIL: 6.9.10.2.a - DPF Controller (85) reported te

[2021-03-23 02:35] ericthomasswenson opened #854 "Increase Font Size in Status Bar"
Laptops cannot always be placed in a good focal length for the status bar text size.
(Unlike my iPad at 15-18”)

The smaller size doesn’t create a lot of contrast for white on blue and blue on gray.

At least two incremental increases are suggested e.g. 8 to 10, or 8 to 11.

User manipulation of Operating System usability settings change all the other apps to.  They shall not be used.

[2021-03-23 02:38] ericthomasswenson opened #855 "Increase pop up window font size."
Laptops cannot always be placed in a good focal length for the pop up window font
(Unlike my iPad at 15-18”)

The smaller size is perceived to be potentially difficult to read for users.

At least two incremental increases are suggested e.g. 8 to 10, or 8 to 11.

User manipulation of Operating System usability settings change all the other apps to. They shall not be used.

[2021-03-23 02:51] ericthomasswenson opened #856 "Display CAL-IDs in the Order Received"
Please omit the sort for CAL-ID in the UI display, and display the CAL IDs in the order received.

The 1st CAL ID sent by an ECU is presumed to be preeminent among the list displayed.

This (The 1st CAL ID) is required in the CARB regulation to represent the OBD executive and key calibration values.

Sorting them for the UI makes the ECM appear to send them out of order.

The SA need not be consid

[2021-03-23 03:20] ericthomasswenson opened #857 "Increase text font size in pop up dialogue boxes"
Laptops cannot always be placed in a good focal length for the pop up dialog box text size.
(Unlike my iPad at 15-18”)

The small font size is perceived to be difficult for users to see.

At least two incremental increases are suggested e.g. 8 to 10, or 8 to 11.

User manipulation of Operating System usability settings change all the other apps to. They shall not be used.

[2021-03-23 03:57] ericthomasswenson opened #858 "Add Offset to table A-1 for SP 91"
Add Offset to table A-1 for SP 91. 0.4 % is close enough to 0, just like 99% is close enough to 100.

PGN 61443 with Supported SPNs 91, 92
09:55:06.4505 0CF00300 [8] D1 01 08 FF FF FF 6E FF
Found: Electronic Engine Controller 2 from Engine #1 (0):
  SPN   558, Accelerator Pedal 1 Low Idle Switch: 01
  SPN   559, Accelerator Pedal Kickdown Switch: 00
  SPN  1437, Road Speed Limit Status: 01
  SPN

[2021-03-23 03:58] ericthomasswenson opened #859 "Add Offset to table A-1 for SP 91"
Add Offset to table A-1 for SP 91. 0.4 % is close enough to 0: just like 99% is close enough to 100.

PGN 61443 with Supported SPNs 91, 92
09:55:06.4505 0CF00300 [8] D1 01 08 FF FF FF 6E FF
Found: Electronic Engine Controller 2 from Engine #1 (0):
  SPN   558, Accelerator Pedal 1 Low Idle Switch: 01
  SPN   559, Accelerator Pedal Kickdown Switch: 00
  SPN  1437, Road Speed Limit Status: 01
  SPN

[2021-03-23 04:06] ericthomasswenson commented on #859
Investigate parasitic losses too.

PGN 65247 with Supported SPNs 3236
09:53:54.3957 18FEDF00 [8] 7F 20 01 07 7D C1 04 FF
Found: Electronic Engine Controller 3 from Engine #1 (0):
  SPN   514, Nominal Friction - Percent Torque: 2.000000 %
  SPN   515, Engine's Desired Operating Speed: 36.000000 rpm
  SPN   519, Engine's Desired Operating Speed Asymmetry Adjustment: 7.000000
  **_SPN  2978, Estimate

[2021-03-23 04:32] ericthomasswenson opened #860 "FAIL: 6.12.3.2.a Outcome incorrect"
The following outcome is not clearly supported by the response data.
See DM5 response from part 1 in #860 for likely standard used instead of the part 11 response.

[code]

[code]

The support and status bits must be the same between these two responses.

[code]

[code]

[2021-03-23 04:55] ericthomasswenson opened #861 "Doc - Examples for DM26 enable bit review"
Review the following enable bit messages for enable bit criteria enhancement.
Note DM5 content for issue #860

Start Test 1.13 - DM5: Diagnostic Readiness 1: Monitor Readiness

10:32:51.3757 Global DM5 Request
10:32:51.3795 18EAFFF9 [3] CE FE 00 (TX)
10:32:51.3821 18FECE55 [8] FF FF 14 00 00 00 00 00
DM5 from DPF Controller (85): OBD Compliance: HD OBD (20), Active Codes: not available, Previously

[2021-03-23 05:23] ericthomasswenson opened #862 "Failure for prior v0.1.1x missing test results observed in part 1"
10:32:45.3365 Sending DM7 for DM30 to Engine #1 (0) for SPN 1322
10:32:45.3434 18E300F9 [8] F7 2A 05 1F FF FF FF FF (TX)
10:32:45.9367 Timeout - No Response
10:32:45.9456 18E300F9 [8] F7 2A 05 1F FF FF FF FF (TX)
10:32:46.5364 Timeout - No Response
10:32:46.5412 18E300F9 [8] F7 2A 05 1F FF FF FF FF (TX)
10:32:47.1368 Timeout - No Response
FAIL: 6.1.12.1.a - No test result for Supported SPN 1322 fr

[2021-03-23 05:57] ericthomasswenson opened #863 "Table A-1 Entry for SP 168 N.7 is incorrect"
PGN 65271 with Supported SPNs
10:33:01.6419 18FEF755 [8] FF FF FF FF F8 00 FF FF
Found: Vehicle Electrical Power 1 from DPF Controller (85):
  SPN   114, SLI Battery 1 Net Current: Not Available
  SPN   115, Alternator Current: Not Available
  SPN   167, Charging System Potential (Voltage): Not Available
  SPN   168, Battery Potential / Power Input 1: 12.400000 V
  SPN   158, Key Switch Battery Po

[2021-03-23 06:22] ericthomasswenson opened #864 "Remove BAM from warning message for “late” responses"
Warning: Late BAM response:  10:33:22.0812 18F00E00 [8] FF FF 96 5A FF 9F FF FF
Warning: Late BAM response:  10:33:22.1284 18F00E00 [8] FF FF 96 5A FF 9F FF FF
Warning: Late BAM response:  10:33:22.1811 18F00E00 [8] FF FF 96 5A FF 9F FF FF
Warning: Late BAM response:  10:33:22.2284 18F00E00 [8] FF FF 96 5A FF 9F FF FF
Warning: Late BAM response:  10:33:22.2812 18F00E00 [8] FF FF 96 5A FF 9F FF FF

[2021-03-23 12:19] gumbelmj commented on #858
Duplicate

[2021-03-23 12:19] #858 closed, assigned to nobody

[2021-03-23 12:23] gumbelmj commented on #863
@mmschaefer, there should be no warning message for this SP.

[2021-03-23 12:47] battjt commented on #864
The late warnings were "Late BAM response:..." and "Late DS response:...".  They will be changed to "Late response:...".

There are 8 late responses to the query.  When requesting from global, the tool takes all of the responses, not just the first response from an address.  If this PGN is broadcast every 50 ms, but the tool treats it as on request, then all of the responses from 200 ms to 600 ms

[2021-03-23 12:52] gumbelmj commented on #864
The tool attempted the global request after a DS request because the module reported SP 3216 as 'not available'

```FAIL: 6.1.26.2.a - SPN 3216 was received as NOT AVAILABLE from Engine #1 (0)```

[2021-03-23 13:05] gumbelmj commented on #815
Consider creating issue templates: https://docs.github.com/en/github/managing-your-work-on-github/creating-an-issue
and
https://github.blog/2018-01-25-multiple-issue-and-pull-request-templates/

[2021-03-23 14:36] #863 closed, assigned to mmschaefer

[2021-03-23 14:37] #856 closed, assigned to gumbelmj

[2021-03-23 14:39] #860 closed, assigned to gumbelmj

[2021-03-23 15:52] ericthomasswenson opened #868 "Logic reversed for 6.7.15.2.b, should be NACK received."
Logic should be if NACK received, not if NACK _**NOT**_ received for

10:49:08.2636 Sending DM7 for DM30 to Engine #1 (0) for SPN 1322
10:49:08.2681 18E300F9 [8] F7 2A 05 1F FF FF FF FF (TX)
10:49:08.8640 Timeout - No Response
10:49:08.8685 18E300F9 [8] F7 2A 05 1F FF FF FF FF (TX)
10:49:09.4643 Timeout - No Response
10:49:09.4688 18E300F9 [8] F7 2A 05 1F FF FF FF FF (TX)
10:49:10.0661 Timeout - N

[2021-03-23 16:03] ericthomasswenson commented on #868
The list of supported SPs for test results is iterated. NACK says the bit was wrong.
No response may infer the bit was wrong... but timeout is the better description of the error for no response.

[2021-03-23 16:23] #830 closed, assigned to battjt

[2021-03-23 16:23] #864 closed, assigned to battjt

[2021-03-23 17:06] gumbelmj commented on #868
If I'm reading the intent here, 6.7.15.2.b is meant to detect the ECU failed to support the request. It could be the module didn't respond (timed-out) or NACK'ed the request (What happens if the ECU ACK's the request?)

The description added to the criteria actually seems to confuse the issue.

I believe it should read:

Perhaps we should add to that:

[2021-03-23 17:34] ericthomasswenson commented on #836
This error was also observed for 6.8.6.2

10:52:34.3682 18FECE55 [8] FF FF 14 00 00 00 00 00
DM5 from DPF Controller (85): OBD Compliance: HD OBD (20), Active Codes: not available, Previously Active Codes: not available
..
FAIL: 6.8.6.2.a - DPF Controller (85) reported different number of DTCs than correspond DM1 response earlier in this part
FAIL: 6.8.6.2.a - DPF Controller (85) reported differen

[2021-03-23 17:43] ericthomasswenson commented on #836
Also see 6.4.6.2.b

10:39:26.9567 18FECE55 [8] FF FF 14 00 00 00 00 00
DM5 from DPF Controller (85): OBD Compliance: HD OBD (20), Active Codes: not available, Previously Active Codes: not available
...
FAIL: 6.4.6.2.b - DPF Controller (85) reported a different number of active DTCs than it did in DM1 response earlier in this part.

[2021-03-23 17:49] ericthomasswenson commented on #868
Also observed at:

FAIL: 6.7.15.2.b - NACK not received from Engine #1 (0) which did not support an SPN (1659) listed in its DM24 response

[2021-03-23 17:55] ericthomasswenson opened #869 "Warn for access denied in DM3 queries"
information was not erased 2 is not 1 ... warning would be better

10:49:25.7533 DS DM3 Request to DPF Controller (85)
10:49:25.7596 18EA55F9 [3] CC FE 00 (TX)
10:49:25.7633 18E8FF55 [8] 02 FF FF FF FF CC FE 00
Acknowledgment from DPF Controller (85): Response: Denied, Group Function: 255, Address Acknowledged: 255, PGN Requested: 65228
FAIL: 6.7.16.4.a - OBD ECU DPF Controller (85) did not provid

[2021-03-23 18:01] ericthomasswenson opened #870 "Omit excess DM31 query"
When DM31 is not supported and this may be omitted ... and, It should not create failures

Start Test 8.9 - DM31: DTC to lamp association

10:52:36.2079 Global DM31 Request
10:52:36.2143 18EAFFF9 [3] 00 A3 00 (TX)
10:52:36.8076 Timeout - No Response
FAIL: 6.8.9.2.a - No ECU reported same DTC as MIL on as reported in DM12 earlier in this part
FAIL: 6.8.9.2.c - No ECU reported same DTC as MIL off as

[2021-03-23 18:09] gumbelmj commented on #836
This issue was resolved in all three locations with this commit: https://github.com/battjt/j1939-84/commit/3ce3563117bc610c0f244af8f2bf60e4a67a68dc

[2021-03-23 18:09] #836 closed, assigned to gumbelmj

[2021-03-23 20:29] ericthomasswenson commented on #870
6.8.9.1 Actions
a. Global DM31 [(send Request (PGNPG 59904) for PGNPG 41728 (SPNSPs 1214, 1215, 4113, 4117)]).
6.8.9.2 Fail Criteria **_(if supported)_**
a. Fail if no ECU reports same DTC as MIL on for as was reported in DM12 earlier in this part. See Section A.8 for allowed values of SPNSP 4113 and 4117.
b. Fail if any ECU reports additional or fewer DTCs than those reported in DM12 and DM23 res

[2021-03-23 22:45] ericthomasswenson commented on #870
_III. Assessment of optional diagnostic messages – Several query evaluation criteria are marked with the term “(if supported).”. The criteria listed for these queries represent optional content that is at the discretion of the manufacturer to provide, as shown in SAE J1939-73 Tables 1 and 2. Vehicles and engines shall pass a test when there are no responses provided for queries marked as “(if supp

[2021-03-23 23:08] gumbelmj commented on #870
I missed the "if supported" in the specification.  I'll get that fixed.

[2021-03-23 23:22] gumbelmj commented on #870
Given the specification doesn't indicate the request is optional, I'll leave the request in, but I'll eliminate the false failure.

[2021-03-23 23:33] ericthomasswenson opened #873 "Doc - Only One OBD ECU needs to provide FF for 6.8.10.2"
SA does not provide the Freeze Frame ... SA 0 does ... SA 85 is not required to duplicate the SA 0 FF.
... intended performance is ... by all OBD ECUs

10:52:39.7216 Destination Specific DM25 Request to DPF Controller (85)
10:52:39.7291 18EA55F9 [3] B7 FD 00 (TX)
10:52:39.7334 18FDB755 [8] 00 00 00 00 00 FF FF FF
DM25 from DPF Controller (85):
Freeze Frames: [
No Freeze Frames
]
FAIL: 6.8.10.2.b -

[2021-03-23 23:33] #868 closed, assigned to gumbelmj

[2021-03-23 23:34] #870 closed, assigned to gumbelmj

[2021-03-23 23:47] gumbelmj commented on #873
To be consistent with the rest of the specification, the criteria should read:

[2021-03-23 23:49] gumbelmj commented on #873
Since I think this will cause customer complaints, I'm going to split this ticket and implement the new criteria.  I'll switch this ticket to a documentation ticket so the as-built spec can be updated.

[2021-03-24 00:00] gumbelmj opened #874 "Bug - Only One OBD ECU needs to provide FF for 6.8.10.2"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#873

SA does not provide the Freeze Frame ... SA 0 does ... SA 85 is not required to duplicate the SA 0 FF.
... intended performance is ... by all OBD ECUs

10:52:39.7216 Destination Specific DM25 Request to DPF Controller (85)
10:52:39.7291 18EA55F9 [3] B7 FD 00 (TX)
10:52:39.7334 18FDB755 [8] 00 0

[2021-03-24 00:00] gumbelmj commented on #874
To be consistent with the rest of the specification, the criteria should read:

[2021-03-24 00:00] gumbelmj commented on #874
Since I think this will cause customer complaints, I'm going to split this ticket and implement the new criteria.  I'll switch this ticket to a documentation ticket so the as-built spec can be updated.

[2021-03-24 00:19] ericthomasswenson opened #876 "Doubled query to SA 85 for SP 7330 Test results"
Several occasions were observed where the same test results were queried consecutively.  In this example it may be the case that the second query should have been for SP 7993.

10:49:35.8743 Sending DM7 for DM30 to DPF Controller (85) for SPN 7330
10:49:35.8798 18E355F9 [8] FA A2 1C 02 FF FF FF FF (TX)
10:49:35.8873 18A4F955 [24] FA A2 1C 02 20 00 00 00 E8 03 00 00 FA A2 1C 02 20 00 8B 08 EA 0D DC

[2021-03-24 00:21] gumbelmj commented on #876
This is resolved with #833

[2021-03-24 00:37] #874 closed, assigned to nobody

[2021-03-24 00:45] ericthomasswenson opened #877 "Failure Message for SA 85 Erasing Data for DS DM11"
End Test 9.7 - DM33: Emission increasing AECD active time

Start Test 9.8 - DM11: Diagnostic data clear/reset for active DTCs

10:54:56.6602 Destination Specific DM11 Request to DPF Controller (85)
10:54:56.6645 18EA55F9 [3] D3 FE 00 (TX)
10:54:56.6693 18E8FF55 [8] 00 FF FF FF FF D3 FE 00
Acknowledgment from DPF Controller (85): Response: ACK, Group Function: 255, Address Acknowledged: 255, PGN Re

[2021-03-24 00:55] ericthomasswenson commented on #877
10:55:22.2369 Sending DM7 for DM30 to DPF Controller (85) for SPN 7330
10:55:22.2513 18E355F9 [8] F7 A2 1C 1F FF FF FF FF (TX)
10:55:22.2559 18A4F955 [24] F7 A2 1C 02 20 00 00 00 E8 03 00 00 F7 A2 1C 02 20 00 00 FB FF FF FF FF
DM30 from 85: [
  SPN 7330 FMI 2 (SLOT 32) Result: Test Passed. Min: 0, Value: 0, Max: 1
  SPN 7330 FMI 2 (SLOT 32) Result: Test Not Complete.
]
FAIL: 6.9.8.4.b - One or mor

[2021-03-24 01:01] battjt opened #878 "Issue Reported from Field"
Submitter: Matt Gumbel
Test issue

[2021-03-24 01:02] #878 closed, assigned to nobody

[2021-03-24 01:07] ericthomasswenson commented on #876
10:55:40.8898 Sending DM7 for DM30 to DPF Controller (85) for SPN 7330
10:55:40.8933 18E355F9 [8] FA A2 1C 02 FF FF FF FF (TX)
10:55:40.8977 18A4F955 [24] FA A2 1C 02 20 00 00 00 E8 03 00 00 FA A2 1C 02 20 00 00 FB FF FF FF FF
DM30 from 85: [
  SPN 7330 FMI 2 (SLOT 32) Result: Test Passed. Min: 0, Value: 0, Max: 1
  SPN 7330 FMI 2 (SLOT 32) Result: Test Not Complete.
]

10:55:40.9087 Sending DM7 f

[2021-03-24 01:08] ericthomasswenson commented on #876
Added 2nd half of example. Showing sp 7993.

[2021-03-24 01:14] gumbelmj commented on #877
The problem is:

The definition of erased for test results is

The ECU appears to NACK most DMs which would be checked to determine if the diagnostic information was erased.  So none of those consider into the determination of erasure.

Thus, this one test result indicates the ECU didn't erase data.

In 6.9.8.2, ECU 0 is not erased and ECU 85 is not erased because of the test result above.

In 6.9

[2021-03-24 01:15] #876 closed, assigned to nobody

[2021-03-24 01:20] gumbelmj commented on #815
I'd like to propose we setup an anonymous bug reporting system found here: [https://gitreports.com/issue/battjt/j1939-84](https://gitreports.com/issue/battjt/j1939-84)

This will create an issue in the repo which can then be triaged by the team.  #878 is an example of an issue generated through this system.

Additionally, I'd like to put a link in the help which will link the user to the bug repor

[2021-03-24 01:36] gumbelmj commented on #815
Here's my proposed help text:

![Screen Shot 2021-03-23 at 9 29 53 PM](https://user-images.githubusercontent.com/7874086/112241018-d3c96c80-8c1f-11eb-84c7-0dd4cd8ca497.png)

[2021-03-24 01:56] gumbelmj opened #880 "Sort ScaledTestResults so they are always queried in the same order"

[2021-03-24 02:11] ericthomasswenson opened #882 "New bug or signed time stamp example?"
Start Test 8.14 - DM7/DM30: Command non-continuously monitored test/scaled test results

14:44:44.9995 Sending DM7 for DM30 to Engine #1 (0) for SPN 110
13:33:10.0458 18E300F9 [8] FA 6E 00 10 FF FF FF FF (TX)
14:44:45.0105 18A4F900 [12] FA 6E 00 10 44 00 70 26 80 30 FF FF
DM30 from 0: SPN 110 FMI 16 (SLOT 68) Result: Test Passed. Min: N/A, Value: 34.5, Max: 115 °C
// 13:33:10.0458 is presumed to b

[2021-03-24 02:15] gumbelmj commented on #882
Yes.  This is another example which was fixed by #830.  Closing as a duplicate of #830

[2021-03-24 02:15] #882 closed, assigned to battjt

[2021-03-24 02:21] ericthomasswenson opened #883 "Scaling in MPa in for SP 157 is believed to be incorrect."
Scaling in MPa in for SP 157 is believed to be incorrect.

14:44:45.1788 Sending DM7 for DM30 to Engine #1 (0) for SPN 157
13:33:10.2471 18E300F9 [8] FA 9D 00 10 FF FF FF FF (TX)
14:44:45.2117 18A4F900 [12] FA 9D 00 10 89 01 BF 70 FF FF 12 5B
DM30 from 0: SPN 157 FMI 16 (SLOT 393) Result: Test Passed. Min: -20.001, Value: -0.482, Max: N/A MPa
// Scaled data in conflict with units for SP 157.
// Ne

[2021-03-24 03:36] ericthomasswenson opened #884 "2nd Chance Observations"
14:17:47.1143 DS Request for PGN 65265 to Engine #1 (0) for SPNs 976
14:17:47.1438 18EA00F9 [3] F1 FE 00 (TX)
14:17:47.1441 18E8FF00 [8] 01 FF FF FF F9 F1 FE 00
Acknowledgment from Engine #1 (0): Response: NACK, Group Function: 255, Address Acknowledged: 249, PGN Requested: 65265
FAIL: 6.1.26.6.a - No DS response for PGN 65265 from Engine #1 (0)
// NACK of a DS request for Broadcast PG is not unex

[2021-03-24 04:19] ericthomasswenson commented on #884
6.1.26.5 Actions3
a. DS messages to ECU that indicated support in DM24 for upon request SPs and SPs not observed in step 1, **_where the PG was not observed in broadcast data._**
b. If no response/no valid data for any SP requested in 6.1.25.3.a, **_or if the broadcast PG from the SA did not support the SP listed in that SA’s DM24_**, send global **_request_** message **_(for the PG)_** to request

[2021-03-24 12:23] gumbelmj commented on #883
[code]

The ECU indicated that SLOT 393 was to be used to interpret this test result data.

SLOT 393 is defined [here](https://github.com/battjt/j1939-84/blob/trunk/src/org/etools/j1939_84/resources/j1939da-slots.csv#L271).

The scaling factor is 0.0035176 MPa/bit with an offset of -102.0104 MPa. (I've confirmed these values with J1939-DA)

Test value: `28863 * 0.0035176 + (-102.0104) = -0.4819112

[2021-03-24 12:23] #883 closed, assigned to ericthomasswenson

[2021-03-24 18:34] ericthomasswenson opened #885 "FE correctly shown as implausible for supported SP"
Warn message determined to be correct

PGN 64923 with Supported SPNs 3516
13:45:53.7450 18FD9B00 [8] FF FE FF FF FF FF FF FF
Found: AFT 1 DEF Information 1 from Engine #1 (0):
  SPN  3515, AFT 1 DEF Temperature 2: Not Available
  SPN  3516, AFT 1 DEF Concentration: Error
  SPN  3518, AFT 1 DEF Conductivity: Not Available
  SPN  3519, AFT 1 DEF Temperature 2 Preliminary FMI: 31.000000
  SPN  3520,

[2021-03-24 18:45] ericthomasswenson commented on #885
Well done Matt!

[2021-03-24 18:45] #885 closed, assigned to gumbelmj

[2021-03-24 18:51] ericthomasswenson commented on #859
PGN 65270 with Supported SPNs 102, 105, 173
13:49:14.2427 18FEF600 [8] FF 07 45 FF FF 6D 36 FF
Found: Intake/Exhaust Conditions 1 from Engine #1 (0):
  SPN    81, AFT 1 DPF Intake Pressure (use SPN 3609): Not Available
  SPN   102, Engine Intake Manifold #1 Pressure: 14.000000 kPa
  SPN   105, Engine Intake Manifold 1 Temperature: 29.000000 °C
  SPN   106, Engine Intake Air Pressure: Not Available

[2021-03-24 19:46] ericthomasswenson commented on #859
PGN 61444 with Supported SPNs 190, 512, 513
13:55:44.0076 0CF00400 [8] F0 7E 83 C8 12 00 F0 83
Found: Engine Speed from Engine #1 (0):
  SPN   899, Engine Torque Mode: 0000
  SPN  4154, Actual Engine - Percent Torque (Fractional): 1.875000 %
  SPN   512, Driver's Demand Engine - Percent Torque: 1.000000 %
  SPN   513, Actual Engine - Percent Torque: 6.000000 %
  SPN   190, Engine Speed: 601.000000

[2021-03-24 21:07] #880 closed, assigned to gumbelmj

[2021-03-24 21:12] gumbelmj opened #887 "Part 9 Step 10 Failure message is not near Test result that caused the failure"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#850

This juxtaposition just looks like a fallacy, but the SPNs are different

10:55:40.9287 Sending DM7 for DM30 to DPF Controller (85) for SPN 7393
10:55:40.9341 18E355F9 [8] FA E1 1C 01 FF FF FF FF (TX)
10:55:40.9436 18A4F955 [12] FA E1 1C 01 20 00 00 FB FF FF FF FF
DM30 from 85: SPN **_7393_** F

[2021-03-24 21:12] gumbelmj commented on #887
In order to make the code easy to inspect, troubleshoot and update, it's designed to mirror the specification.  In nearly all cases, we perform the first step before moving onto other ones.

Thus the first step here is

Once we have requested all the test results, we inspect them per:

See the code in [Part9Step10Controller](https://github.com/battjt/j1939-84/blob/f6929be97ab116c90b16683f74324db48

[2021-03-24 21:12] gumbelmj commented on #887
So as a part of the white space work let’s add a line

10:55:40.9287 Sending DM7 for DM30 to DPF Controller (85) for SPN 7393
10:55:40.9341 18E355F9 [8] FA E1 1C 01 FF FF FF FF (TX)
10:55:40.9436 18A4F955 [12] FA E1 1C 01 20 00 00 FB FF FF FF FF
DM30 from 85: SPN 7393 FMI 1 (SLOT 32) Result: Test Not Complete.
            <Modeled blank line here>
FAIL: 6.9.10.2.a - DPF Controller (85) reported te

[2021-03-24 21:16] #815 closed, assigned to battjt, gumbelmj, ericthomasswenson

[2021-03-24 21:21] #655 closed, assigned to mmschaefer

[2021-03-24 21:22] #887 closed, assigned to gumbelmj

[2021-03-24 21:27] battjt commented on #812
[Screenshots.zip](https://github.com/battjt/j1939-84/files/6200558/Screenshots.zip)
Screenshots attached.

[2021-03-24 21:27] #812 closed, assigned to battjt

[2021-03-25 01:33] ericthomasswenson opened #889 "Refine Criteria for NTE SPs vs. Practical Discussion Below"
Review Criteria with CARB — Current Criteria is underperforming

Start Test 2.16 - DM34: NTE status

08:45:07.2173 Global DM34 Request
08:45:07.2428 18EAFFF9 [3] 00 A0 00 (TX)
08:45:07.2456 18A0FF00 [8] 13 13 FF FF FF FF FF FF
DM34 NTE Status from Engine #1 (0):  {
                          NOx NTE Control Area Status = Outside Area (0)
  Manufacturer-specific NOx NTE Carve-out Area Status = Insid

[2021-03-25 01:45] ericthomasswenson commented on #889
6.2.16 DM34: NTE Status
6.2.16.1 Actions
a. Global DM34 [(send Request (PGNPG 59904) for PGNPG 40960 (SPNSPs 4127-4132)]).
6.2.16.2 Fail Criteria
a. Fail if no ECU responds, unless the user selected SI technology.
b. Fail if any ECU response is not = 00b or 01b (Outside Control Area) for NOx and PM control areas (byte 1 bits 7-8, byte 2 bits 7-8).
c. Fail if any ECU response is not = 00b (Outside

[2021-03-25 01:47] ericthomasswenson opened #890 "DM34 Criteria Incorrect"
Example

[2021-03-25 01:49] ericthomasswenson commented on #890
6.2.16 DM34: NTE Status
6.2.16.1 Actions
a. Global DM34 [(send Request (PGNPG 59904) for PGNPG 40960 (SPNSPs 4127-4132)]).
6.2.16.2 Fail Criteria
a. Fail if no ECU responds, unless the user selected SI technology.
b. Fail if any ECU response is **_not_** = 0b00b (Outside Control Area) for NOx and PM control areas (byte 1 bits 7-8, byte 2 bits 7-8).
c. Fail if any ECU response is **_not_** =00b (Ou

[2021-03-25 02:10] ericthomasswenson opened #891 "FB00h is status and not scalable to Engineering Value"
Please display FB00h when observed instead of Scaled Value

FB00h is not ready, and not 3012.800000 ppm
FB00h is an allowed value in Table A-1

Scaled value is misleading...
and suggests technicians should wear gas masks when working on the truck

PGN 61454 with Supported SPNs 3216, 3217
08:45:07.8759 18F00E00 [8] 00 FB FE FA FF FF FF FF
Found: AFT 1 Intake Gas 1 from Engine #1 (0):
  SPN  3216, E

[2021-03-25 02:40] ericthomasswenson opened #892 "Test 9.6 failures for SPN 110 is incorrect"
08:59:52.4038 Sending DM7 for DM30 to Engine #1 (0) for SPN 110
08:59:52.4286 18E300F9 [8] F7 6E 00 1F FF FF FF FF (TX)
08:59:52.4168 18A4F900 [36] F7 6E 00 10 44 00 94 27 80 30 FF FF F7 6E 00 **0A 44 00 00 FB FF FF** FF FF F7 6E 00 12 44 00 5F 27 FF FF 60 23
DM30 from 0: [
  SPN 110 FMI 10 (SLOT 68) Result: Test Not Complete.
  SPN 110 FMI 16 (SLOT 68) Result: Test Passed. Min: N/A, Value: 43.625

[2021-03-25 02:48] ericthomasswenson commented on #861
Start Test 11.11 - DM26: Diagnostic Readiness 3

09:26:23.3172 Destination Specific DM26 Request to Engine #1 (0)
08:14:48.3877 18EA00F9 [3] B8 FD 00 (TX)
08:14:48.3978 18FDB800 [8] 6F 02 00 27 C0 16 E0 1E
DM26 from Engine #1 (0): Warm-ups: 0, Time Since Engine Start: 623 seconds

End Test 11.11 - DM26: Diagnostic Readiness 3

End Test 12.1 - Verify engine operation

Start Test 12.2 - DM26: Diagno

[2021-03-25 12:00] battjt commented on #891
![image](https://user-images.githubusercontent.com/1972001/112469705-2b5ef980-8d40-11eb-98b3-2873efd5e1da.png)

[2021-03-25 12:51] #892 closed, assigned to gumbelmj

[2021-03-25 13:23] #891 closed, assigned to gumbelmj

[2021-03-25 13:24] #666 closed, assigned to gumbelmj

[2021-03-25 19:15] mmschaefer opened #897 "Fix Part01Step15 Test"
Break up the test of Part01Step15 so that each failure is clearly delineated.

[2021-03-26 03:44] ericthomasswenson opened #899 "Doc - Add SP 976 to Omit List"
Add SP 976 to the Omit list as shown below.

Whereas SP 976, PTO Governor State, is required in CARB regulations for optional equipment. When PTO is not supported, SP 976 is provided as NA. This breaks the assumption that supported SPs should not be received as NA (FF).

Moreover, There is no indication to disambiguate, whether the correct expectation is for Off, or NA in Part 1 and 2.

Considerin

[2021-03-26 03:46] ericthomasswenson commented on #899
PACCAR Side-by-side Issue 3

FAIL: 6.1.26.2.a - SPN 976 was received as NOT AVAILABLE from Engine #1 (0)
FAIL: 6.2.17.2.a - SPN 976 was received as NOT AVAILABLE from Engine #1 (0)
Explanation – Spec/Tool Issue?
Not every truck is equipped with a PTO. There must be exceptions added to this. If a truck does not have PTO then it is going to report “NOT AVAILABLE”.

This is expected to be a ubiquitou

[2021-03-26 03:54] ericthomasswenson commented on #899
This proposal will also resolve
PACCAR side-by-side issue 4

FAIL: 6.1.26.6.a - No DS response for PGN 65265 from Engine #1 (0)
FAIL: 6.2.17.6.a - No DS response for PGN 65265 from Engine #1 (0)
Explanation – Spec/Tool Issue?
Why is the tool sending a destination specific request for CCVS message (contains SPN 84 and SPN 976)? The CCVS message is broadcasted every 100ms

And PACCAR side-by-side is

[2021-03-26 04:10] ericthomasswenson commented on #899
6.1.26 Data Stream Support Verification
6.1.26.1 Actions
a.  Create a list of expected SPNs and PGNs from the DM24 response, where the data stream support bit defined in SAE J1939-73 5.7.24 is 0. Omit the the following SPNs (588, **_976_**, 1213, 1220, 12675, 12730, 12783, 12797) which are included in the list. Omit any remaining SPNs that map to multiple PGs. Display the completed list noting tho

[2021-03-26 04:24] ericthomasswenson opened #900 "Doc - Address Optional DM2 Support"
DM2 is not required.  When supported it must match DM23.  When not supported, the ECU shall NACK DS Request.

The following shows **_(if supported)_** yet failures were observed.

6.7.3.1 Actions
a. Global DM2 [(send Request (PG 59904) for PG 65227 (SPs 1213-1215, 1706, and 3038)]).
6.7.3.2 Fail Criteria **_(if  supported)_**
a. Fail if no OBD ECU reports any previously active DTC(s).

[2021-03-26 04:42] ericthomasswenson commented on #900
PACCAR side-by-side issue 7.

FAIL: 6.7.3.2.a - No OBD ECU reported previously active DTC(s)
FAIL: 6.7.6.2.c - Engine #1 (0) reported a different number of previously active DTCs than in DM2 response earlier in this part
FAIL: 6.8.6.2.a - Engine #1 (0) reported different number of DTCs than correspond DM2 response earlier in this part
Explanation – J1939-84 Specification issue
There is no requirem

[2021-03-26 04:50] ericthomasswenson commented on #900
6.7.6 DM5: Diagnostic Readiness 1
6.7.6.1 Actions
a. Global DM5 [send Request (PG 59904) for PG 65230 (SPs 1218-1219)].
6.7.6.2 Fail Criteria
a. Fail if any OBD ECU reports > 0 for active DTCs.
b. Fail if no OBD ECU reports > 0 for previously active DTCs. **_Ignore previously active count when DM2 is not supported._**
c. Fail if any OBD ECU reports a different number of previously active DTCs than

[2021-03-26 05:01] ericthomasswenson commented on #900
6.8.6 DM5: Diagnostic Readiness 1
6.8.6.1 Actions
a. Global DM5 [send Request (PG 59904) for PG 65230 (SPs 1218-1223)].
6.8.6.2 Fail Criteria
a. Fail if any OBD ECU reports different number of DTCs than corresponding DM1 or DM2 response earlier this part.  **_Ignore previously active count when DM2 is not supported._**

[2021-03-26 05:20] ericthomasswenson opened #901 "Correct Table A-5-1 table entry 3639-18 for DPF performance to 3936-18"
Change inspection/ query for SP 3639-18 to 3936-18.

PACCAR Issue 2.

FAIL: 6.1.12.2.a (A7.2.a) - Filtering Performance is missing required Test Result, one of: 3251:2, 3936:2, 3936:16, **_3639_**:18

Explanation – Tool Issue
Tool is looking for 3639-18. This is incorrect. Tool must be looking for 3936-18.

[2021-03-26 05:36] ericthomasswenson opened #902 "Doc - Ignore unsupported IUMPR monitors sent as FFFF / FFFFh"
Unsupported monitors will never be incremented, but must be reported as FFFF / FFFFh.

Skip DM20 Denominators/ Numerator numeric checks for monitor labels with unsupported counts.

PACCAR engines do not support the groups that report 65535 in numerator and denominator. Below screenshot from CCR 1971.1,

[2021-03-26 05:37] ericthomasswenson commented on #902
PACCAR side-by-side issue 19.	See #914 for 6.11.8.3.a NMHC warning message bug.

WARN: 6.11.8.3.a - Engine #1 (0) response indicates denominator for monitor SPN 5308 AFT 1 NOx Adsorber Catalyst System Monitor has not incremented by one

Explanation – Tool Issue

SPN 5308 AFT 1 NOx Adsorber Catalyst System Monitor                    65,535 / 65,535
PACCAR Engines do not support NOx adsorber and hen

[2021-03-26 05:43] ericthomasswenson commented on #902
6.11.8.3 Warn Criteria, **_for monitor labels with numerators and denominators not broadcast as FFFFh / FFFFh (unsupported)_**
a. Warn if any response indicates **_a supported_** denominator for SCR **_(SP 4792, 4364, or 5308), Catalyst  (SP 3050),_** EGR _**(SP 3058)**_ NOx sensor **_(SP 5318)_**, boost **_(SP 5321)_** and fuel system **_(SP 3055)_** have not incremented by one.
b. Warn if any EC

[2021-03-26 06:24] ericthomasswenson opened #903 "Remove warning for non-OBD device in 6.12.9.4.b"
PACCAR side-by-side issue 21.

WARN: 6.12.9.4.b - Headway Controller (42) responded with a ACK
Explanation – Tool Issue

J1939-84 specification states an ACK warning only for OBD controllers and not non-OBD controller. Headway Controller is a non-OBD device. See below screenshot,

17 March text says:

6.12.9.3 Actions
a. Global DM11.
b. Wait 5 seconds before checking for erased data.

6.12.9.4 Fai

[2021-03-26 11:07] gumbelmj opened #904 "SW - Add SP 976 to Omit List"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#899

Add SP 976 to the Omit list as shown below.

Whereas SP 976, PTO Governor State, is required in CARB regulations for optional equipment. When PTO is not supported, SP 976 is provided as NA. This breaks the assumption that supported SPs should not be received as NA (FF).

Moreover, There is no i

[2021-03-26 11:07] gumbelmj commented on #904
PACCAR Side-by-side Issue 3

FAIL: 6.1.26.2.a - SPN 976 was received as NOT AVAILABLE from Engine #1 (0)
FAIL: 6.2.17.2.a - SPN 976 was received as NOT AVAILABLE from Engine #1 (0)
Explanation – Spec/Tool Issue?
Not every truck is equipped with a PTO. There must be exceptions added to this. If a truck does not have PTO then it is going to report “NOT AVAILABLE”.

This is expected to be a ubiquitou

[2021-03-26 11:07] gumbelmj commented on #904
6.1.26 Data Stream Support Verification
6.1.26.1 Actions
a.  Create a list of expected SPNs and PGNs from the DM24 response, where the data stream support bit defined in SAE J1939-73 5.7.24 is 0. Omit the the following SPNs (588, **_976_**, 1213, 1220, 12675, 12730, 12783, 12797) which are included in the list. Omit any remaining SPNs that map to multiple PGs. Display the completed list noting tho

[2021-03-26 11:07] gumbelmj commented on #904
This proposal will also resolve
PACCAR side-by-side issue 4

FAIL: 6.1.26.6.a - No DS response for PGN 65265 from Engine #1 (0)
FAIL: 6.2.17.6.a - No DS response for PGN 65265 from Engine #1 (0)
Explanation – Spec/Tool Issue?
Why is the tool sending a destination specific request for CCVS message (contains SPN 84 and SPN 976)? The CCVS message is broadcasted every 100ms

And PACCAR side-by-side is

[2021-03-26 11:16] gumbelmj opened #905 "Bug - Address Optional DM2 Support"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#900

DM2 is not required.  When supported it must match DM23.  When not supported, the ECU shall NACK DS Request.

The following shows **_(if supported)_** yet failures were observed.

6.7.3.1 Actions
a. Global DM2 [(send Request (PG 59904) for PG 65227 (SPs 1213-1215, 1706, and 3038)]).
6.7.3.2 Fai

[2021-03-26 11:16] gumbelmj commented on #905
PACCAR side-by-side issue 7.

FAIL: 6.7.3.2.a - No OBD ECU reported previously active DTC(s)
FAIL: 6.7.6.2.c - Engine #1 (0) reported a different number of previously active DTCs than in DM2 response earlier in this part
FAIL: 6.8.6.2.a - Engine #1 (0) reported different number of DTCs than correspond DM2 response earlier in this part
Explanation – J1939-84 Specification issue
There is no requirem

[2021-03-26 11:16] gumbelmj commented on #905
6.7.6 DM5: Diagnostic Readiness 1
6.7.6.1 Actions
a. Global DM5 [send Request (PG 59904) for PG 65230 (SPs 1218-1219)].
6.7.6.2 Fail Criteria
a. Fail if any OBD ECU reports > 0 for active DTCs.
b. Fail if no OBD ECU reports > 0 for previously active DTCs. **_Ignore previously active count when DM2 is not supported._**
c. Fail if any OBD ECU reports a different number of previously active DTCs than

[2021-03-26 11:16] gumbelmj commented on #905
6.8.6 DM5: Diagnostic Readiness 1
6.8.6.1 Actions
a. Global DM5 [send Request (PG 59904) for PG 65230 (SPs 1218-1223)].
6.8.6.2 Fail Criteria
a. Fail if any OBD ECU reports different number of DTCs than corresponding DM1 or DM2 response earlier this part.  **_Ignore previously active count when DM2 is not supported._**

[2021-03-26 11:19] gumbelmj commented on #900
How does the tool know the DM2 is supported and it should fail here for no NACK?

[2021-03-26 12:13] gumbelmj opened #907 "SW - Ignore unsupported IUMPR monitors sent as FFFF / FFFFh"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#902

Unsupported monitors will never be incremented, but must be reported as FFFF / FFFFh.

Skip DM20 Denominators/ Numerator numeric checks for monitor labels with unsupported counts.

PACCAR engines do not support the groups that report 65535 in numerator and denominator. Below screenshot from CCR

[2021-03-26 12:13] gumbelmj commented on #907
PACCAR side-by-side issue 19.

WARN: 6.11.8.3.a - Engine #1 (0) response indicates denominator for monitor SPN 5308 AFT 1 NOx Adsorber Catalyst System Monitor has not incremented by one

Explanation – Tool Issue

SPN 5308 AFT 1 NOx Adsorber Catalyst System Monitor                    65,535 / 65,535
PACCAR Engines do not support NOx adsorber and hence denominator will never increment by 1.

PACCAR

[2021-03-26 12:13] gumbelmj commented on #907
6.11.8.3 Warn Criteria, **_for supported monitors not broadcast as FFFF / FFFF (unsupported)_**
a. Warn if any response indicates denominator for SCR, EGR, NOx sensor, boost, and fuel system have not incremented by one.
b. Warn if any ECU response shows:
i. any monitor denominator greater than the general denominator;
ii. general denominator greater than the ignition cycle counter (SPNSP 3048); or

[2021-03-26 20:36] ericthomasswenson opened #912 "Excess Failures Observed for Non-OBD ECUs in 6.8.6.2.a"
Excess Failures were observed for Non-OBD ECUs observed for step 8.6.2.a.
Criteria cites only OBD ECUs, making the non-OBD failure messages excess.

6.8.6 DM5: Diagnostic Readiness 1
6.8.6.1 Actions
a. Global DM5 [(send Request (PG 59904) for PG 65230 (SPs 1218-1223)]).
6.8.6.2 Fail Criteria
a. Fail if any **OBD ECU** reports different number of DTCs than corresponding DM1 or DM2 response earlier

[2021-03-26 20:38] ericthomasswenson commented on #912
Start Test 8.6 - DM5: Diagnostic readiness 1

14:04:43.8567 Global DM5 Request
14:04:43.8735 18EAFFF9 [3] CE FE 00 (TX)
14:04:43.8760 18FECE55 [8] FF FF 14 00 00 00 00 00
DM5 from DPF Controller (85): OBD Compliance: HD OBD (20), Active Codes: not available, Previously Active Codes: not available
14:04:43.8802 18FECE00 [8] 01 01 14 37 E0 1E E0 1E
DM5 from Engine #1 (0): OBD Compliance: HD OBD (20)

[2021-03-26 20:38] ericthomasswenson commented on #912
Start Test 8.5 - DM2: Previously active DTCs

14:04:43.2518 Global DM2 Request
14:04:43.2692 18EAFFF9 [3] CB FE 00 (TX)
14:04:43.2702 18FECB00 [8] 40 FF 83 10 07 01 FF FF
DM2 from Engine #1 (0): MIL: on, RSL: off, AWL: off, PL: off
DTC 4227:7 - Engine Crankcase Breather Oil Separator, Mechanical System Not Responding Or Out Of Adjustment - 1 times
14:04:43.3800 18FECB21 [10] 00 FF 19 F3 EE 09 15 F

[2021-03-26 20:41] ericthomasswenson commented on #912
Summary of J1939-84 Tool Execution
J1939-84 Tool version 3.0.3 - 2021/03/25 10:58
Generated: 2021/03/26 14:34:55.7241
Log File Name: C:\CdriveSave\new j1939-84\303 MY16 745 ECM ACM Link2.j1939-84

Vehicle Information:
VIN: 3HSDJSNR8HN447736
Vehicle MY: 2017
Engine MY: 2016
Cert. Engine Family: MY2016 745 12.4L ECM/ACM
Number of OBD ECUs Found: 2
    Make: INT  , Model: 7571031515, Serial: 124KM2Y4

[2021-03-26 21:03] gumbelmj commented on #912
This will be resolved with Pull Request #911

[2021-03-26 23:11] ericthomasswenson opened #913 "Need DM58 support and Freeze Frame Offset added to DM24 Tabular Display."
Need DM58 support and Freeze Frame Offset added to DM24 Tabular Display.

Congrats on saving dozens of pages with the tabular display.  Bob and I liked it.

We will need to add DM58 support and freeze frame offset to the existing tabular display as part of the maintenance enhancements as shown by the attachment in #666.

A second display for all SPs with non-zero FFrame lengths, in the same order

[2021-03-26 23:52] ericthomasswenson commented on #890
No false failures were observed with V3.0.0.  This apparently is no longer needed.

[2021-03-26 23:52] #890 closed, assigned to nobody

[2021-03-27 00:42] ericthomasswenson commented on #902
WARN: 6.11.8.3.a - Engine #1 (0) response indicates denominator for monitor SPN 5308 AFT 1 NOx Adsorber Catalyst System Monitor has not incremented by one

is created by
_a. Warn if any response indicates denominator for SCR, EGR, NOx sensor, boost, and fuel system have not incremented by one._

The warning is not expected as another SP was provided for the NOx conversion monitor requirement among

[2021-03-27 00:48] ericthomasswenson commented on #902
Providing FFFFh is a Diagnostic Executive Reuse Strategy that provides coverage for SI alternative fuel calibrations, and alternant diesel emissions control selections in a fixed layout for DM20.  To achieve this, the unused labels are sent as FFFFh / FFFFh.

[2021-03-27 01:02] ericthomasswenson commented on #902
Minimum monitor support to Table A-4 is performed in Part 1.
We can disclose the convention in the regulation here.

6.1.8 DM20: Monitor Performance Ratio
6.1.8.1 Actions
a. Global DM20 (send Request (PG 59904) for PG 49664 (SPs 3048, 3049, 3066-3068).
i. Create list by ECU address of all data for use later in the test.
6.1.8.2 Fail Criteria
a. Fail if minimum expected SPs are not supported (in th

[2021-03-27 01:46] ericthomasswenson commented on #862
Part 1 detects missing test results in v3.0.3 as shown below.

13:31:51.6251 Sending DM7 for DM30 to Engine #1 (0) for SPN 1659
13:31:51.6300 18E300F9 [8] F7 7B 06 1F FF FF FF FF (TX)
13:31:52.2270 Timeout - No Response
13:31:52.2319 18E300F9 [8] F7 7B 06 1F FF FF FF FF (TX)
13:31:52.8293 Timeout - No Response
13:31:52.8349 18E300F9 [8] F7 7B 06 1F FF FF FF FF (TX)
13:31:53.4298 Timeout - No Respo

[2021-03-27 01:47] ericthomasswenson commented on #862
Added review of current performance as rationale for no action

[2021-03-27 01:47] #862 closed, assigned to nobody

[2021-03-27 01:55] ericthomasswenson commented on #884
The problems created by SP 976 breaking the rules were eliminated by adding 976 to the omit list #899.

General improvements (e.g. for broadcasted on request data) are still anticipated in future enhancements.

[2021-03-27 04:13] ericthomasswenson opened #914 "WARN: 6.11.8.3.a - for monitor SPN 5322 AFT NMHC Converting Catalyst Incorrect"
WARN: 6.11.8.3.a - for monitor SPN 5322 AFT NMHC Converting Catalyst Incorrect

Criteria excludes NMHC Converting Catalyst ... but it is flagged anyway.  V3.0.3
See #902 for detailed info on 6.11.8.3.a and Table A-4.

WARN: 6.11.8.3.a - Engine #1 (0) response indicates denominator for monitor SPN 5322 AFT NMHC Converting Catalyst System Monitor has not incremented by one

Start Test 11.8 - DM20: M

[2021-03-27 04:28] ericthomasswenson commented on #914
Documentation to #902 will suffice for this issue.
No documentation changes planned.

[2021-03-27 12:15] gumbelmj opened #915 "Add Freeze Frame Offset to Part 3 Step 12"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#913

A second display for all SPs with non-zero FFrame lengths, in the same order as received in DM24, showing the offsets is desired.  The 1st SP with non-zero FF length is the fifth byte of DM25.

[code]

https://github.com/battjt/j1939-84/files/6060024/TabularDM24displayEnhancementExample.docx

[2021-03-27 12:23] gumbelmj commented on #915
I'm only updating Part 3 Step 12:

[code]

[2021-03-27 12:46] gumbelmj commented on #902
In addition to adding a notation of "not available", can we identify the SPNs of interest?

"SCR, EGR, NOx sensor, boost, and fuel system" is vague.  I thought "AFT NMHC Converting Catalyst" was part of the "SCR" criteria.

[2021-03-28 12:56] gumbelmj commented on #902
From @ericthomasswenson  via email:

I think this should do ... as shown in #902

6.11.8.3 Warn Criteria, for monitor labels with numerators and denominators not broadcast as FFFFh / FFFFh (unsupported)
a. Warn if any response indicates a supported denominator for SCR (SP 4792, 4364, or 5308), EGR (SP 4364) NOx sensor (SP 5318), boost (SP 5321) and fuel system (SP 3055) have not incremented by one

[2021-03-28 12:57] gumbelmj commented on #902
Shouldn't the EGR SP be 3058 "EGR System Monitor"?

[2021-03-28 13:02] gumbelmj commented on #902
Are the same SPs used for Spark Ignition engines as well?

[2021-03-28 16:43] gumbelmj commented on #902
in Email from @ericthomasswenson:

They are except for Catalyst (SP 3050), which is the SI 3-way catalyst, and O2 sensor (3058).  Which results in:

6.11.8.3 Warn Criteria, for monitor labels with numerators and denominators not broadcast as FFFFh / FFFFh (unsupported)
a. Warn if any response indicates a supported denominator for SCR (SP 4792, 4364, or 5308), Catalyst (SP 3050), EGR (SP 3058) NOx

[2021-03-29 18:05] #901 closed, assigned to gumbelmj

[2021-03-29 18:06] #903 closed, assigned to gumbelmj

[2021-03-29 18:08] #904 closed, assigned to gumbelmj

[2021-03-29 18:09] #907 closed, assigned to gumbelmj

[2021-03-29 18:11] #905 closed, assigned to gumbelmj

[2021-03-29 18:11] #912 closed, assigned to gumbelmj

[2021-03-29 18:14] #915 closed, assigned to gumbelmj

[2021-03-29 18:15] #914 closed, assigned to gumbelmj

[2021-03-30 17:13] mmschaefer opened #918 "Update keystate logging"
Update keystate logging to correctly not report when the keystate is already set to the state requested.

[2021-03-30 17:50] #918 closed, assigned to mmschaefer

[2021-03-30 18:33] mmschaefer commented on #897
This needs to stay open until we get the tests updated for annotations.

[2021-03-31 06:27] ericthomasswenson commented on #861
6.1.14.2 Fail Criteria
a. Fail if any response for any monitor supported in DM5 by a given ECU is reported as “'0=monitor complete this cycle or not supported”' in SP 3303 bits 1-4 and SP 3305 [except comprehensive components monitor (CCM)].
b. Fail if any response for each monitor not supported in DM5 by a given ECU is not also reported in DM26 as “'0=monitor complete this cycle or not supported”

[2021-03-31 06:44] ericthomasswenson commented on #861
Add misfire to a.
6.12.2.2 Fail Criteria
a. Fail if any supported monitor (except CCM **_or misfire_**) that was “0 = complete this cycle” in part 11 is not reporting “1 = not complete this cycle.”.
b. Fail if NACK not received from OBD ECUs that did not provide a DM26 message.

[2021-03-31 17:07] ericthomasswenson commented on #861
See #745 for prior part 2 discussion.

Test Conditions for Enable/Disable status bits are not adequately controlled to predict values without creating false positive outcomes. Cold soaks, cold ambient conditions, and engine running have been observed to present false positive outcomes.  The text below removes the criteria that have been observed present the false positive outcomes for enabled/disa

[2021-03-31 17:33] ericthomasswenson commented on #745
This content consolidated into #861

[2021-03-31 17:33] #745 closed, assigned to ericthomasswenson

[2021-03-31 18:31] ericthomasswenson commented on #861
Let’s try and do this with the discovered user issues.  Vimal complained about this as part of his back to back changes. Carb has been informed of the decision. The most practical approach seems to be to delete the criteria creating the false positive outcomes.

[2021-03-31 20:12] gumbelmj opened #921 "SW - Enhanced handling of DM26 enabled and status values"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#861

Review the following enable bit messages for enable bit criteria enhancement.
Note DM5 content for issue #860

Start Test 1.13 - DM5: Diagnostic Readiness 1: Monitor Readiness

10:32:51.3757 Global DM5 Request
10:32:51.3795 18EAFFF9 [3] CE FE 00 (TX)
10:32:51.3821 18FECE55 [8] FF FF 14 00 00 00

[2021-03-31 20:12] gumbelmj commented on #921
See #745 for prior part 2 discussion.

Test Conditions for Enable/Disable status bits are not adequately controlled to predict values without creating false positive outcomes. Cold soaks, cold ambient conditions, and engine running have been observed to present false positive outcomes.  The text below removes the criteria that have been observed present the false positive outcomes for enabled/disa

[2021-03-31 20:12] gumbelmj commented on #921
Let’s try and do this with the discovered user issues.  Vimal complained about this as part of his back to back changes. Carb has been informed of the decision. The most practical approach seems to be to delete the criteria creating the false positive outcomes.

[2021-03-31 20:12] gumbelmj commented on #921
Start Test 11.11 - DM26: Diagnostic Readiness 3

09:26:23.3172 Destination Specific DM26 Request to Engine #1 (0)
08:14:48.3877 18EA00F9 [3] B8 FD 00 (TX)
08:14:48.3978 18FDB800 [8] 6F 02 00 27 C0 16 E0 1E
DM26 from Engine #1 (0): Warm-ups: 0, Time Since Engine Start: 623 seconds

End Test 11.11 - DM26: Diagnostic Readiness 3

End Test 12.1 - Verify engine operation

Start Test 12.2 - DM26: Diagno

[2021-03-31 20:14] ericthomasswenson commented on #921
Thank you Matt

[2021-03-31 20:21] gumbelmj commented on #921
Scope of changes:

Test 1.14 - Remove Step 6.1.14.2.c (and re-number subsequent steps)
Test 2.8 - Update Step 6.2.8.2.a to _only_ compare _status_ bits (not enabled bits)
Test 11.11 - Add Step 6.11.11.1.c to display the vehicle composite response
Test 12.2 - Update Step 6.12.2.2.a don't evaluated Misfire

[2021-03-31 20:22] gumbelmj opened #922 "Update help file to add email address"

[2021-04-01 01:02] gumbelmj opened #923 "Packets from the adapter are not being pulled quickly enough"
There are 48 RX queue full errors coming from the adapter in these logs.  That error indicates that we were unable to read the packets from the adapter fast enough.

[code]

and then we fail to see the global request echoed back to us on the bus.

[code]

The failure to send is a clear error, but the RX queue full errors are related.  I tried to blame it on the truck, but from 14:31:12.7319 to 14:

[2021-04-01 01:43] #897 closed, assigned to mmschaefer

[2021-04-01 02:23] #922 closed, assigned to nobody

[2021-04-01 02:26] #921 closed, assigned to nobody

[2021-04-01 06:55] ericthomasswenson opened #927 "Accept Completed DM5 Monitors in Part 2"
Accept Completed DM5 Monitors in Part 2, as the engine is running
Monitor completion for DM5 misfire monitor bit in Part 2 is a good thing.
1000 revs is less than 2 mins, creating a race condition that the engine won, and then failed.

May the outcome below say

**_INFO_**: 6.2.2.2.a (A6.2.c) - Composite vehicle readiness for Misfire observed as complete, was not complete in part 1 test 13 did not

[2021-04-01 07:00] ericthomasswenson commented on #927
_6.2.2 DM5: Diagnostic Readiness 1
6.2.2.1 Actions
a. Global DM5 [send Request (PG 59904) for PG 65230 (SPs 1218-1223)].
b. Display monitor readiness composite value in log for OBD ECU replies only.
6.2.2.2 Fail/Warn Criteria
a. Fail/warn per the Section A.6 Criteria for Readiness 1 Evaluation,_ **_except that monitor completion bits which transition from not complete to complete shall be prefixed

[2021-04-01 07:25] ericthomasswenson commented on #927
From A.6.
Specific implementations may require the immediate setting of the misfire monitor status bit to zero (complete). Refer to 13 CCR 1971.1 for such conditions. Observation of a zero (complete) for a misfire monitor status bit after fault codes have been cleared will be marked with a warning message.
...
_Note that cold start aid monitoring results, where equipped, will depend on cold soak o

[2021-04-01 12:55] gumbelmj commented on #927
Though I understand the intent, I don't think adding a few paragraphs to the document clearly defines that intent.  Table A-4 needs updated to indicate when FAIL, WARN and INFO should be reported.

[2021-04-01 17:07] #923 closed, assigned to battjt

[2021-04-01 18:25] ericthomasswenson commented on #927
Revised Table A-6-1 Note Text Proposal
**_Note monitor status bits marked with (after code clear) change from not complete (1) to complete (0) as the engine runs.  Engine operation in part 2 can result in a completed monitor. In particular, Misfire has been observed to be complete after 1000 revs of operation. Transitions from not complete to complete shall be accepted, and not flagged as a failur

[2021-04-01 19:31] battjt opened #928 "Doc - Notify user of second device using SA F9."
Provide notice for extraneous queries from SA F9,
When extraneous queries, not sent by the SAE J1939-84 software are observed:
1. Print a time stamped message in the log:
_HH:MM:SS.SSSS ccccccF9 [n] XX XX XX XX XX XX XX
WARN: Unexpected Service Tool Message from SA F9 observed. Test results uncertain. False failures are possible._
2. Add a pop up message for the UI
_Unexpected Service Tool Query f

[2021-04-01 19:36] ericthomasswenson opened #929 "Are two failures for one action appropriate"
Double failure message outcome can this be reduced to one?

Start Test 10.4 - DM28: Permanent DTCs

14:24:49.8393 Destination Specific DM28 Request to Engine #1 (0)
14:24:50.4640 18EA00F9 [3] 80 FD 00 (TX)
14:24:50.4506 Timeout - No Response
FAIL: 6.10.4.2.a - No ECU reported a permanent DTC
FAIL: 6.10.4.2.c - OBD ECU Engine #1 (0) did not provide a NACK for the DS query

[2021-04-01 20:20] gumbelmj commented on #929
It is completely possible to avoid redundant failures.  However, by a strict reading of the document, both failures are required.

If the desired behavior is not report redundant failures, I think it's best handled as an enhancement in V3.1. As such, the documentation needs updated to indicate that failure 6.10.4.2.a (not DTCs) should be reported if DM28(s) is(are) received but does no module repo

[2021-04-01 20:31] gumbelmj commented on #927
Footnote 30 completely invalidates the checking of the status bits in Table A4.  If the table indicates that the value must be 1 but footnote 30 then indicates the value is allowed to be 0, then either value is acceptable.  The only bits that need checked are the supported bits.

Or am I missing something?

[2021-04-01 21:50] gumbelmj commented on #927
Ah!  I think I get it.

For misfire:
must=1 after code clear, warn if 0

So if it's 1, that's acceptable, if it's 0, then just INFO, correct?

[2021-04-02 03:06] ericthomasswenson commented on #928
After II.B add the following footnote.
**_[xx] Implementors are encouraged to detect overlapping queries created by on-board devices using the test tool’s F9h address. Notices to the user through the implementor’s user interface, and messages in the test log of these occurrences are recommended._**

[2021-04-02 11:57] battjt commented on #928
I suggest that we word this as an invalid test, not a warning.  A second tool makes the test invalid; all DS transport protocol will be effected.  It's not just overlapping queries.

[2021-04-02 12:50] battjt opened #930 "synchronize adapter and PC clock drift"
Notice how the application clock (the text message) is after the adapter clock (the packets).  What can we do?  What's important?

[code]

To fix this, instead of using the adapter clock + and offset for the packets and the system clock for the messages we will use the adapter clock and the system clock to calculate the "adapter offset" only once (and on roll over), and adjust an "application offs

[2021-04-02 14:04] gumbelmj commented on #927
In email from @ericthomasswenson:

Yes, You’re getting much closer. Table A-4 doesn’t say after code clear like Table A-6.

And I see your confusion here too.

must = 1 after code clear, warn if 0

As the text stood this warning was intended for part 1 KOEO.
Info is needed for KOER, I could add a line like this

Part 1: must = 1 after code clear, warn if 0
Part 2: must = 1 after code clear, info i

[2021-04-02 14:06] gumbelmj commented on #927
"after code clear" is redundant and doesn't make any sense.  A global DM 11 request is sent in Test 1.10. The monitors are supported in Test 1.13 and Test 2.2, both of which are obviously after the codes have been cleared.

[2021-04-02 21:38] ericthomasswenson commented on #927
Yes Matt, (after code clear) is redundant in a way.
Yet, it provides a context cue that results are transient, which is explained in the notes.

Are you in favor of the Part 1/Part 2 approach for Table A-6-1.?

Sent from my iPad

[2021-04-02 21:41] ericthomasswenson commented on #929
That’s why it’s a question and nothing more.

In terms of priorities it ranks below white space cleanup, but I thought it was worth recording.

Sent from my iPad

[2021-04-02 21:48] gumbelmj commented on #927
Yes, it would be more clear if the table outlined the values expected in each part.

[2021-04-03 12:22] gumbelmj opened #932 "SW - Notify user of second device using SA F9."
From j1939-84 created by [battjt](https://github.com/battjt): battjt/j1939-84#928

Provide notice for extraneous queries from SA F9,
When extraneous queries, not sent by the SAE J1939-84 software are observed:
1. Print a time stamped message in the log:
_HH:MM:SS.SSSS ccccccF9 [n] XX XX XX XX XX XX XX
WARN: Unexpected Service Tool Message from SA F9 observed. Test results uncertain. False failures

[2021-04-03 12:22] gumbelmj commented on #932
After II.B add the following footnote.
**_[xx] Implementors are encouraged to detect overlapping queries created by on-board devices using the test tool’s F9h address. Notices to the user through the implementor’s user interface, and messages in the test log of these occurrences are recommended._**

[2021-04-03 12:22] gumbelmj commented on #932
I suggest that we word this as an invalid test, not a warning.  A second tool makes the test invalid; all DS transport protocol will be effected.  It's not just overlapping queries.

[2021-04-03 14:26] battjt opened #935 "fix crashing rp1210 driver"
Concurrent calls to rp1210 will crash some drivers.

[2021-04-04 16:06] #927 closed, assigned to gumbelmj

[2021-04-05 14:18] #930 closed, assigned to battjt

[2021-04-05 16:30] #932 closed, assigned to gumbelmj

[2021-04-07 01:48] #935 closed, assigned to battjt

[2021-04-07 19:10] battjt opened #942 "Update RP1210 read loop"
The problem:
[code]
Possibilities:
1. Update the GC parameters to avoid stop the world events
2. Update the read loop to avoid the 1 ms delay that may be leading to full queue.
3. Memory leak.

Turns out that #3 was the main culprit.  There was a memory leak when a BAM message was started and not completed, resulting in all future traffic being stored in memory until memory was exhausted.  At that

[2021-04-08 19:05] #942 closed, assigned to battjt

[2021-04-09 22:53] gumbelmj opened #944 "Adapter buffer is still not being cleared fast enough"

[2021-04-12 12:15] #944 closed, assigned to battjt

[2021-04-12 22:18] ericthomasswenson opened #946 "Investigate Address claim late response vs J1939-81"
The timing rules for address claim may not meet the 220 ms model at the beginning of section 6.

Investigate timing complaint vs. J1939-81 ... the single segment assumption may be incorrect.

Here SA 4C is isolated on a disparate segment

13:22:10.8789 Global Request for Address Claim
13:22:10.8857 18EAFFF9 [3] 00 EE 00 (TX)
13:22:10.8873 18EEFF03 [8] 00 00 40 02 00 03 00 00
Transmission #1 (3) re

[2021-04-12 22:39] ericthomasswenson opened #947 "Timing Error Count is incorrect"
Timing Error Count is incorrect

The correct count is 2; count for “TIMING: Late” instead of “timing:”

Log File Name: C:\CdriveSave\new j1939-84\v307 786b Link2.j1939-84

TEST SUMMARY REPORT
OUTCOME:
Failures:    10	// I think this is the best current 786 can do? ETS looks that way to me too, Bob
Warnings:    29	// I didn’t look at these. ETS: No false failures were perceived
Information: 0
Incom

[2021-04-12 23:58] ericthomasswenson commented on #946
4C answered twice here

Log File Name: C:\CdriveSave\new j1939-84\v307 786 Samsara Link2.j1939-84

TEST LOG REPORT

J1939-84 Tool version 3.0.7 - 2021/04/12 08:26

Start Part 1 - KOEO Data Collection

Start Test 1.1 - Test vehicle data collection
Initial Engine Speed = 0.0 RPMs
Final Engine Speed = 0.0 RPMs

12:06:49.7146 Global Request for Address Claim
12:06:49.7178 18EAFFF9 [3] 00 EE 00 (TX)
12

[2021-04-13 00:05] ericthomasswenson opened #948 "DS Query Not Shown in log for failure outcome"
DS query not shown in log for failure outcome. ... it is presumed not sent, if not in the log.

Global data would be sent by TP.BAM, which would fit a TP interference model.

Log File Name: C:\CdriveSave\new j1939-84\v307 786 Samsara Link2.j1939-84

Start Test 1.7 - DM19: Calibration information

12:07:12.8353 Global DM19 Request
12:07:12.8379 18EAFFF9 [3] 00 D3 00 (TX)
12:07:13.4371 Timeout - No

[2021-04-13 00:31] ericthomasswenson opened #949 "Engine Global DM2 Response Believed to Have Been Missed"
Engine Global DM2 Response Believed to Have Been Missed
Check Logs to confirm Engine Omission in Test 1.16

Log File Name: C:\CdriveSave\new j1939-84\v307 786 Samsara Link2.j1939-84

Start Test 1.16 - DM2: Previously Active DTCs

12:07:33.5834 Global DM2 Request
12:07:33.5866 18EAFFF9 [3] CB FE 00 (TX)
12:07:33.5873 18FECB17 [8] 00 FF 00 00 00 00 FF FF
DM2 from Instrument Cluster #1 (23): MIL: off

[2021-04-13 00:40] ericthomasswenson commented on #949
Unexpected Service Tool notice #932 not observed
Check logs for excess F9 messages too.

[2021-04-13 00:57] ericthomasswenson opened #950 "Global response to DM6 not observed in Test 7.7"
Global response to DM6 not observed in Test 7.7.  See #949 for parallel example in DM2.
...
Both the Global and DS Queries were Supported... in Part 3.  Yet a failure was in Part 7.

Start Test 7.7 - DM6: emission related pending DTCs

12:26:57.8366 Global DM6 Request
12:26:57.8407 18EAFFF9 [3] CF FE 00 (TX)
12:26:57.8435 18FECF17 [8] 00 FF 00 00 00 00 FF FF
DM6 from Instrument Cluster #1 (23): MI

[2021-04-14 12:55] battjt commented on #947
"Timing" was counting all J1939 TP errors, but apparently not reporting them in the report.

Should these be reported and/or counted?

1. Receiving BAM:
  * warn("BAM canceled or aborted: " + bam + " -> " + p);
  * warn("BAM missing DT %d != %d", received.cardinality(), numberOfPackets);
2. Receiving DS:
  * Canceled DS TP session.
3. Most of the TP errors that we catch are sending DS, which I don

[2021-04-14 18:45] ericthomasswenson commented on #947
How about we let this ride and select from among the enhancement suggestions later.
All of these seem closer to nice to have than must have.

We can choose to reconcile the count in the header later as well

[2021-04-15 12:23] #948 closed, assigned to mmschaefer

[2021-04-15 15:11] battjt commented on #950
Looks to me like the lack of a response was due to some other module requesting FEEB and that response still being in progress.  The following is filtered:

[code]
There was no BUSY NACK.

[2021-04-15 16:29] mmschaefer commented on #949
[j1939_8444.log](https://github.com/battjt/j1939-84/files/6319308/j1939_8444.log)

2021-04-12 12:07:33.392 FINE   org.etools.j1939_84.bus.RP1210Bus lambda$decodeDataAndQueuePacket$4 12:07:33.5866 18EAFFF9 [3] CB FE 00 (TX)
2021-04-12 12:07:34.020 FINE   org.etools.j1939_84.bus.RP1210Bus lambda$decodeDataAndQueuePacket$4 12:07:34.2159 18FECB00 [8] 00 FF 00 00 00 00 FF FF
2021-04-12 12:07:34.021 INF

[2021-04-15 18:01] mmschaefer commented on #950
Application behaves as expected.  There was no BUSY NACK and reporting was handled correctly.

[2021-04-15 18:01] #950 closed, assigned to mmschaefer

[2021-04-17 00:56] ericthomasswenson opened #953 "Insufficient wait time observed in the V3.0.7 786 SAMSARA log for part 1 test 16."
Insufficient wait time observed in the V3.0.7 786 SAMSARA log for part 1 test 16.

FAIL: 6.1.16.4.b - OBD ECU Engine #1 (0) did not provide a response to Global query and did not provide a NACK for the DS query

The log shows that BAM resources were busy when the global query was sent.
The DS query was sent after 600 ms.  However the test software did not wait a sufficient amount of time for the e

[2021-04-17 01:05] ericthomasswenson commented on #953
V3.0.7. 786 Samsara Log Excerpts https://github.com/battjt/j1939-84/files/6319308/j1939_8444.log

**2021-04-12 12:07:33.159 12:07:33.3535 18EAFFFE [3] EB FE 00**
2021-04-12 12:07:33.160 12:07:33.3547 18ECFF2A [8] 20 17 00 04 FF EB FE 00
**2021-04-12 12:07:33.161 12:07:33.3559 18ECFF00 [8] 20 3F 00 09 FF EB FE 00**
2021-04-12 12:07:33.163 12:07:33.3579 0CF00203 [8] CC 00 00 FF F0 00 00 FF
...
2021-

[2021-04-17 03:04] ericthomasswenson commented on #949
600 ms is the agreed standard. Thank you for checking the log.

[2021-04-17 03:41] ericthomasswenson commented on #948
Annotated Excerpts from V3.0.7 Samsara log
https://github.com/battjt/j1939-84/files/6319308/j1939_8444.log

**_12:07:12.7992 18EAFFFE [3] EB FE 00_**
12:07:12.8012 1CECFF05 [8] 20 20 00 05 FF EB FE 00
12:07:12.8029 0CF00203 [8] CC 00 00 FF F0 00 00 FF
...
12:07:12.8045 18ECFEEC [8] 10 18 00 04 02 EB FE 00
12:07:12.8056 18ECFEED [8] 10 18 00 04 02 EB FE 00
**_12:07:12.8067 18ECFF00 [8] 20 3F 00 09

[2021-04-17 03:44] ericthomasswenson commented on #948
Log review for missing DM19 DS Query Added to better illustrate issue

[2021-04-17 16:03] battjt commented on #953
I don't understand the analysis:

34.2176 is a TCM broadcast packet.
```12:07:34.2176 0CF00203 [8] CC 00 00 FF F0 00 00 FF```

The single frame response was correctly read and reported.
From the raw log:
[code]
From the report:
[code]

As I read it:

[code]

[2021-04-17 16:18] ericthomasswenson commented on #953
It was the 1st 4 decimal point time stamp after message ... which did not have one ... a little arbitrary yes, but close enough.

Sent from my iPad

[2021-04-19 09:50] gumbelmj commented on #953
Since the source address 0x00 failed to respond to the global request, a failure is reported because source address 0x00 did not return a NACK to the DS query.

Since source address 0x00 was busy with a TP session at the time of the global request, it should have returned BUSY and the tool would have allowed additional time for a response.

Therefore, it's determined the tool is performing correct

[2021-04-19 09:50] #953 closed, assigned to gumbelmj

[2021-04-19 16:57] battjt commented on #949
Based on a phone call with Eric this closed.

[2021-04-19 16:57] #949 closed, assigned to battjt

[2021-04-22 20:49] ericthomasswenson opened #957 "Alternate off MIL status should pass for NON OBD ECU DM1 in 6.1.15.2.c"
Alternate off MIL status should pass for NON OBD ECU DM1 in 6.1.15.2.c

13:42:52.8882 18FECA2F [8] 00 00 00 00 00 00 00 00
DM1 from Suspension - System Controller #1 (47): MIL: alternate off, RSL: alternate off, AWL: alternate off, PL: alternate off, No DTCs

FAIL: 6.1.15.2.c - Non-OBD ECU Suspension - System Controller #1 (47) did not report MIL off or not supported, need not change

6.1.15.2.c -

[2021-04-22 20:55] ericthomasswenson commented on #957
Proposed text

6.1.15.2.c - Fail if any non-OBD ECU does not report MIL Status **_as_** MIL off **_(preferred or alternate)_** or not supported (per SAE J1939-73 Table 5).

[2021-04-22 22:21] ericthomasswenson opened #958 "There should be means to continue the test when failure implants fail"
Today’s test on a Cummins ISX could not be completed when the fault A implant failed.

In particular there is value in the general denominator test in parts 11 and 12 — skipping fault implants to get to parts 11 and 12 is expected user behavior.

[2021-04-23 19:15] ericthomasswenson opened #959 "Error: arraycopy: length -1 is negative, observed during PSI SI Part 1 testing"
Error: arraycopy: length -1 is negative, observed during PSI SI Part 1 testing of V3.0.7.

Presumed fix is to protect the arraycopy by checking the length first.

![image](https://user-images.githubusercontent.com/78398059/115918639-c208fe00-a445-11eb-882c-8e22e9c9431e.jpeg)

[2021-04-23 19:35] ericthomasswenson commented on #959
[v307 error message.docx](https://github.com/battjt/j1939-84/files/6367664/v307.error.message.docx) — error message screen capture
[v307 gasoline SI Link2.docx](https://github.com/battjt/j1939-84/files/6367669/v307.gasoline.SI.Link2.docx) — Report file from run with error.
[v307 old ISB Link2 c.docx](https://github.com/battjt/j1939-84/files/6367671/v307.old.ISB.Link2.c.docx) — report file for comp

[2021-04-23 19:47] ericthomasswenson opened #960 "Failure Count Incorrect observation"
I’ve seen a mismatch twice now ... recheck for log with all 12 parts.

Summary of J1939-84 Tool Execution

J1939-84 Tool version 3.0.7 - 2021/04/12 08:26
Generated: 2021/04/23 12:16:23.1555
Log File Name: C:\CdriveSave\new j1939-84\v307 old ISB Link2 c.j1939-84

TEST SUMMARY REPORT
OUTCOME:
Failures:    32             **_// Search in word Finds FAIL: 34 times_**
Warnings:    25
Information: 3
Inco

[2021-04-24 11:20] gumbelmj commented on #959
[code]

[2021-04-24 15:20] gumbelmj commented on #959
The offending packet is:
[code]

According to J1939DA, this message should be 40 bytes long.

[2021-04-24 19:16] gumbelmj commented on #960
The discrepancy between the counts is a result of duplicate outcomes being reported:

[code]

[code]

But when the total count is reported, the duplicate are removed.

I'll update the logic to not remove the duplicates.  Additionally in 6.1.12, I'll add the FMI to the message.

[2021-04-25 14:47] battjt commented on #959
I'm unclear on what he expected outcome should be.  @ericthomasswenson  should we just ignore the malformed packet?  Parse what we can?  Clearly the current error message is not clear enough.

[2021-04-25 15:01] #960 closed, assigned to gumbelmj

[2021-04-25 22:23] ericthomasswenson commented on #959
Please assume the truncated bytes are not supported in
_**18FEE300 [34] 00 19 B3 C8 36 D0** E8 1C B8 60 22 C8 C8 **36 D0 C8 36 FF FF 55** 04 38 5E 14 46 AF 7D **C8 C8 36 86 00 D2 03**_
My recollection is that unsupported data may be truncated ... this is a backwards compatibility hedge as multiple frame messages are extended with new data at the end. Transmitting an (empty) TP.DT frame containing

[2021-04-25 22:30] ericthomasswenson commented on #959
There are some multi frame after treatment PGs, that may be sent as truncated entities too.

We can analyze those as an enhancement, perhaps.

[2021-04-25 22:35] ericthomasswenson commented on #959
I recommend padding the perceived missing bytes at the end of the EC1 message with FFh ... this cannot be assumed to be a fixed length message when the ending SPs are not supported. See #959 comment for more explanation.
Sent from my iPad

[2021-04-26 13:51] #959 closed, assigned to gumbelmj

[2021-04-27 15:52] ericthomasswenson commented on #569
Current performance for part 1 fails the engine for failure to respond.

Repeating this failure each time deletion of ‘diag. Info’ is checked is undesirable.

[2021-04-27 15:52] #569 closed, assigned to nobody

[2021-04-27 16:31] ericthomasswenson commented on #667
Added Active Technology Legend. Need xEV examples.

Obsolete upload deleted...

[2021-04-27 20:04] ericthomasswenson commented on #869
6.4.13 DM3: Diagnostic Data Clear/Reset for Previously Active DTCs
6.4.13.1 Actions
a. DS DM3 [send Request (PG 59904) for PG 65228] to each OBD ECU. 43
b. Wait 5 seconds before checking for erased information.
6.4.13.2 Fail Criteria
a. Fail if any OBD ECU does not NACK with control byte = 1 or 2 or 3.
**_b. Fail,_** if any ECU erases any diagnostic information. See Section A.5 for more informatio

[2021-04-27 20:57] ericthomasswenson commented on #819
6.1.6.1 Actions
a. Global DM56 (send Request (PG 59904) for PG 64711 (SPs 5844 and 5845)).
6.1.6.2 Fail Criteria (if supported, **_DM56 support required for 2024MY+ Engines)_** 12
a. Fail if engine model year does not match user input.
b. Fail if indicates “V” instead of “E” for cert type.
c. Fail if not formatted correctly (e.g., “2013E-MY” is correct format so fail if doesn’t have xxxxE-MY with

[2021-04-27 21:16] ericthomasswenson commented on #853
Reopen if users complain.  Let’s keep Current text which says:
6.9.8.4 Fail Criteria2
a. Fail if any ECU partially erases diagnostic information (pass if it erases either all or none).
b. For systems with multiple ECU’s, fail if one ECU or more than one ECU erases diagnostic information and one or more other ECUs do not erase diagnostic information.

[2021-04-27 21:16] #853 closed, assigned to ericthomasswenson

[2021-04-27 21:32] ericthomasswenson commented on #515
Need user community input for the desired list of future values.

[2021-04-29 22:23] vmuthu2 opened #964 "False FAIL for VIN in 6.1.5.2e - TOOL Issue"
12:03:09.1071 Global VIN Request
12:03:09.1103 18EAFFF9 [3] EC FE 00 (TX)
12:03:09.2952 18FEEC00 [18] 31 58 50 42 44 4B 39 58 31 4C 44 37 30 38 31 39 35 2A
Vehicle Identification from Engine #1 (0): 1XPBDK9X1LD708195
FAIL: 6.1.5.2.e - VIN is not valid (not 17 legal chars, incorrect checksum, or non-numeric sequence

Version detected in - J1939-84 Tool version 3.0.7

The VIN is reported correctly a

[2021-04-29 22:28] vmuthu2 opened #965 "Timing - Test Summary Report Outcome"
![image](https://user-images.githubusercontent.com/46825003/116625941-56200d00-a8ff-11eb-8e0a-8ad85a14d9cb.png)

Timing : 6??

How does the tool evaluate it? What must the user be looking for?

Version detected - J1939-84 Tool version 3.0.7

[2021-04-29 22:37] vmuthu2 commented on #957
PACCAR vehicles also have a similar issue.
FAIL: 6.1.15.2.c - Non-OBD ECU Instrument Cluster #1 (23) did not report MIL off or not supported
FAIL: 6.3.6.2.d - Non-OBD ECU Instrument Cluster #1 (23) did not report MIL off or not supported
FAIL: 6.9.22.2.a - ECU Instrument Cluster #1 (23) reported MIL status of alternate off
WARN: A.8 - Alternate coding for off (0b00, 0b00) has been accepted

There

[2021-04-29 22:52] vmuthu2 commented on #861
Start Test 2.8 - DM26: Diagnostic readiness 3

12:05:16.5114 Destination Specific DM26 Request to Engine #1 (0)
12:05:16.5144 18EA00F9 [3] B8 FD 00 (TX)
12:05:16.5229 18FDB800 [8] 43 00 00 37 60 1C E0 1E
DM26 from Engine #1 (0): Warm-ups: 0, Time Since Engine Start: 67 seconds
FAIL: 6.2.8.2.a - Difference from Engine #1 (0) monitor support bits this cycle compared to responses in part 1 after DM11

[2021-04-29 23:14] vmuthu2 opened #966 "Multiple CAL-ID/CVNs in a single DM19"
WARN: 6.1.7.3.b - Engine #1 (0) provided more than one CAL ID and CVN pair in a single DM19 message

Specification issue

Most engine manufacturers report multiple CAL-Ids and CVNs in a single DM19. Why cannot this be changed to an INFO?

[2021-04-29 23:19] vmuthu2 opened #967 "Engine Serial Number - Specification Issue"
WARN: 6.1.9.3.a - Serial number field (SPN 588) from Engine #1 (0) is less than 8 characters long

![image](https://user-images.githubusercontent.com/46825003/116629687-a0f15300-a906-11eb-9846-666fe0be0b00.png)

This issue was supposed to be fixed with the new tool. The issue is still not fixed.

[2021-04-29 23:30] vmuthu2 opened #968 "Non-OBD ECU responses for DM5 - Spec Issue"
12:03:26.1374 Global DM5 Request
12:03:26.1399 18EAFFF9 [3] CE FE 00 (TX)
12:03:26.1439 18FECE03 [8] 00 00 05 00 00 00 00 00
DM5 from Transmission #1 (3): OBD Compliance: Not intended to meet OBD II requirements (5), Active Codes: 0, Previously Active Codes: 0

WARN: 6.1.13.2.a (A6.3.a) - Non-OBD ECU Transmission #1 (3) responded
WARN: 6.2.2.2.a (A6.3.a) - Non-OBD ECU Transmission #1 (3) responded

[2021-04-29 23:33] vmuthu2 opened #969 "Incorrect SPN 3217 evaluation for plausibility - Spec Issue"
PGN 61454 with Supported SPNs 3216, 3217
12:03:35.6165 18F00E00 [8] 00 FB FF FE FF FF FF FF
Found: AFT 1 Intake Gas 1 from Engine #1 (0):
  SPN  3216, Engine Exhaust 1 NOx 1: 0xFB00
  SPN  3217, Engine Exhaust 1 Percent Oxygen 1: Error
  SPN  3218, Engine Exhaust 1 Gas Sensor 1 Power In Range: 11
  SPN  3219, AFT 1 Intake Gas Sensor 1 at Temperature: 11
  SPN  3220, Engine Exhaust 1 NOx 1 Reading

[2021-04-29 23:41] vmuthu2 opened #970 "SPN 3609, 3610 and 3251 plausibility check incorrect values - Spec Issue"
PGN 64908 with Supported SPNs 3609, 3610
12:03:36.0769 18FD8C00 [8] 0E 00 00 00 FF FF FF FF
Found: AFT 1 Gas Parameters from Engine #1 (0):
  SPN  3609, AFT 1 DPF Intake Pressure: 1.400000 kPa
  SPN  3610, AFT 1 DPF Outlet Pressure: 0.000000 kPa

WARN: 6.1.26.2.d - N.8 Engine #1 (0) reported value for SPN 3609 (1.4000000000000001) is implausible

Sensor tolerances are not taken into account for pl

[2021-04-29 23:48] vmuthu2 opened #971 "SPN 96 available from two ECU - Spec Issue"
WARN: 6.1.26.2.f - N.5 SPN 96 provided by more than one ECU
WARN: 6.2.17.2.d - N.5 SPN 96 provided by more than one ECU

There is nothing wrong here when two ECU's report SPN 96. The OBD ECU (Engine Controller) reports SPN 96 correctly as per the regulation. All the required datastream is provided by the engine controller.

![image](https://user-images.githubusercontent.com/46825003/116631904-c1bb

[2021-04-29 23:57] vmuthu2 opened #972 "SPN 2978 incorrect plausibility check - Spec Issue"
WARN: 6.2.17.2.b - N.8 Engine #1 (0) reported value for SPN 2978 (0.0) is implausible
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for SPN 2978 (0.0) is implausible

On PACCAR's engines, SPN 2978 (Estimated Engine Parasitic Losses - Percent Torque) is a sum of parasitic torque from the coolant pump and cooling fan. Some trucks are equipped with a variable speed fan and hence when the coolin

[2021-04-30 00:14] vmuthu2 opened #973 "WARN for DM22 - Spec Issue"
WARN: 6.8.12.6.a - Engine #1 (0) did not provide DM22 CLR_PA_NACK or CLR_ACT_NACK with acknowledgement code of 0
WARN: 6.9.3.6.a - Engine #1 (0) did not provide DM22 CLR_PA_NACK or CLR_ACT_NACK with acknowledgement code of 0

There is no requirement from any legislation to support DM22. PACCAR’s engines do not support DM22. “Table 1 - Emission-related component PGN and SPN support” in J1939-73 doe

[2021-04-30 00:26] vmuthu2 opened #974 "Incorrect plausibility check in Part 11 Test 7 - Tool Issue"
The tool is incorrectly executing a plausibility check when the engine speed is being increased from idle (650rpm) to 1200rpm. Below are the three WARNINGs due to that,
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for SPN 183 (6.25) is implausible
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for SPN 1600 (5.472) is implausible
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for S

[2021-04-30 01:03] gumbelmj commented on #964
@vmuthu2 , that VIN is invalid.  The checksum is not correct.

![Screen Shot 2021-04-29 at 9 00 37 PM](https://user-images.githubusercontent.com/7874086/116635928-0d337d00-a92e-11eb-8902-67d99d48d4ee.png)

[2021-04-30 01:06] gumbelmj commented on #966
This appears to be a duplicate of #811

[2021-04-30 01:16] gumbelmj commented on #969
SP 3217 is supported by the ECU.  However, the ECU reported the value as "ERROR".  As such, the value is implausible per footnote 28:

![Screen Shot 2021-04-29 at 9 14 22 PM](https://user-images.githubusercontent.com/7874086/116636758-10c80380-a930-11eb-8b1b-3cf953efd832.png)

"Received values of the error indicator... shall be considered a plausibility failure..."

[2021-04-30 01:26] gumbelmj commented on #964
The source of truth can be found at [govinfo.gov](https://www.govinfo.gov/content/pkg/CFR-2011-title49-vol6/pdf/CFR-2011-title49-vol6-part565.pdf)

[2021-04-30 05:00] ericthomasswenson commented on #974
Matt, there are two contributing approaches to reducing the number of Warns in part 11.
 -1. Increase allowed idle engine values in Table A-1 to account for transients
 -2. Wait until all the time for engine operation above 1150 has been collected to minimize exposure to transient engine operation.
I suggest we do both.

 -2. Can be justified by observed performance of the Table A-1 values in Part

[2021-04-30 05:26] ericthomasswenson commented on #973
There is a prohibition (not) to support DM22, the warning text in J1939-84 was agreed upon a long time ago. (Led by Bill Chittick).
The suggestion I have is to change from warning to info.

[2021-04-30 05:30] ericthomasswenson commented on #974
-1. Should include value improvements for #972 and #970
      And May address SP 91 comment in #858.
      This change may be considered a future enhancement as the software matches the specification.

 -2. Waiting until all time above 1150 RPM has elapsed to match current software and minimize warnings is recommended for the current contract.

[2021-04-30 05:36] ericthomasswenson commented on #964
Vimal, I don’t see a need for a change, do you have a rebuttal argument?

[2021-04-30 05:52] ericthomasswenson commented on #969
Vimal, my expectation is that were SP 3217 not included in your DM24 response, the value for SP 3217 would have been ignored.  Under the current conventions, there should be a DM1/DM12 DTC for SP 3217, given the broadcast value of FEFFh. Oxygen sensor values of FB00/FBXXh can be accepted, but we would add the same notes in Table A-1 and J1939DA.

[2021-04-30 05:58] ericthomasswenson commented on #973
See #771 for Correction of garbled text in J1939-84

[2021-04-30 06:07] ericthomasswenson commented on #966
And #813

Proposed text is documented in #811

[2021-04-30 06:36] ericthomasswenson commented on #967
Did 5 numeric digits pass or fail?

Yes, there is an error of omission compared to the statement of work and the table of ESN archetypes in Appendix A-1 for SP 588. The real omission is in 6.1.9.2.c which says.

c. Fail if the serial number field (SP 588) from any function 0 device does not end in 6 numeric characters (ASCII 0 through ASCII 9).
... Which should say 5 numeric digits to match the en

[2021-04-30 06:46] ericthomasswenson commented on #967
Proposed J1939-84 text
6.1.9.2.c Fail if the serial number field (SP 588) from any function 0 device does not end in **_5_** numeric characters (ASCII 0 through ASCII 9).

6.1.9.3.a. **_INFO_** if the serial number field (SPNSP 588) from any function 0 device is less than eight characters long.

[2021-04-30 06:58] ericthomasswenson commented on #965
See #947 for prior discussion on this question.  This was deemed low priority compared to false failures for 3.0.7., but is appropriate for correction under the current contract.

[2021-04-30 08:19] ericthomasswenson commented on #971
I’ve seen circumstances where the engine supports SP 96 in DM24, and then provides the value FF.
This results in a Fail message that cannot be excused.

Changing “Action if Two or More ECUs Respond” to info I believe can be accommodated in the maintenance contract.

[2021-04-30 08:29] ericthomasswenson commented on #972
Perhaps the better concept would defining a maximum parasitic loss > x%

Would 8% do?

[2021-04-30 09:01] ericthomasswenson commented on #835
6.3.13.2.e. Fail/warn per Section A.2, Criteria for Freeze Frame Evaluation.

Table A.2 Says [Warn If] SP 190 is not supported in DM24

Add **_Or, if Engine Speed cannot be determined in FF data._** behind quoted entry.

[2021-04-30 09:14] ericthomasswenson commented on #156
To clarify, the methods to check for invalid CAL IDs was not directly defined in SAE J1939-84.
The padding checks proposed provide a heuristic approach for error detection 16-bit padding with zeros is compelling evidence as 16 consecutive zero bits in a CRC is highly unlikely.

[2021-04-30 09:17] ericthomasswenson commented on #171
Matt, Is this closed?

[2021-04-30 12:03] battjt commented on #965
Closing as duplicate of #947

[2021-04-30 12:03] #965 closed, assigned to battjt

[2021-04-30 12:13] gumbelmj commented on #964
@ericthomasswenson , I have a rebuttal.  It _is_ a valid bug.  The fractional remainder is "0.091" which should be '1' not 'X'.  I mis-read the spec.

[2021-04-30 13:01] ericthomasswenson commented on #964
Might explain the problem with the brand F Vin early too

Sent from my iPad

[2021-04-30 13:06] battjt commented on #966
Duplicate of #813 and #811.

[2021-04-30 13:06] #966 closed, assigned to ericthomasswenson

[2021-04-30 17:52] ericthomasswenson commented on #972
Hi Eric,
...
As far as the parasitic load (SPN 2978), would propose the following improvement for plausibility:
Engine Off >0% (no changes here)
Engine On (low idle)  >5% (can be 5% or 8% like you have suggested)
...

Thank you,
Vimal

[2021-04-30 19:49] vmuthu2 commented on #969
Agreed with the addition Eric. But until the sensor is ready for measurement, it has to report something on the bus and since there is no definition/guidance in any documents, not really sure what can be done for it as it stands. So until the sensor warms up, it reports FEFF and finally once the sensor is online, it reports the correct values. Suggestion here is to add some exceptions.
I would not

[2021-04-30 19:54] vmuthu2 commented on #970
It will be great if this one can be fixed within the warranty period. This must have been included in the original scope request/statement of work. Kindly review and do the needful to get this bug rectified.

[2021-04-30 20:36] gumbelmj commented on #969
I change this from a Tool Issue to a Spec Issue and remove the Invalid flag

Matt

On Apr 30, 2021, at 15:50, vmuthu2 ***@***.***> wrote:

﻿
Agreed with the addition Eric. But until the sensor is ready for measurement, it has to report something on the bus and since there is no definition/guidance in any documents, not really sure what can be done for it as it stands. So until the sensor warms up,

[2021-04-30 22:42] ericthomasswenson commented on #970
Fixing table A-1 values beyond the values noted in the J1939-84 change pages is not in the detailed statement of work.  I think this is clear in the task 1 text which says:

Omissions from the “revised Table A-1” and new Table A-1 insights (like info for SP 96) are not the provider’s responsibility.  A similar request, #859, already has a future enhancement label.

I’m willing to lead a new set of

[2021-05-01 00:44] ericthomasswenson commented on #969
Dear Vimal,

Accepting error (FEFFh) anyway is anathetical.  ...  The agreed convention (model) is to provide FBXXh until the sensor is ready. I think you need to work toward that model.

[2021-05-01 00:52] ericthomasswenson commented on #969
Advertised data stream SPs, that are sent and received as FEFF (error), is defined to fail as a general matter of course.

[2021-05-01 01:12] ericthomasswenson commented on #967
There is also an omission in Appendix A

Add

| aa * b * A12345  | Unit number field and delimiter not provided for six character serial number | Pass |

[2021-05-01 01:19] ericthomasswenson commented on #974
A consolidated list of proposal was set out for review:

Dear Vimal,

Overall, we are starting to approach 10% of the plausibility value lines.
Any additional requests (not already in GitHub).

Bob, Joseph, and Dan,

Do you have any additional plausible value limits suggestions.
The concept is to address low value added plausible value warnings, especially during engine transient operation during

[2021-05-01 18:53] ericthomasswenson commented on #964
2. Fail if the check digit (ninth character) does not match the expected check digit as calculated by the test software per §565.15(c).

[2021-05-01 18:55] ericthomasswenson commented on #964
Glad to see this resolved.

[2021-05-01 18:55] #964 closed, assigned to gumbelmj

[2021-05-05 01:06] ericthomasswenson opened #976 "Need Query Support and Evaluation for DM58"
Need Query Support and Evaluation for DM58 to

6.1.12.3 Actions2:
a. DS DM7 with TID 245 (for DM58) using FMI 31 for each SP identified as supporting DM58 in a DM24 response In step 6.1.4.1 to the SP’s respective OBD ECU.
b. Display the scaled engineering value for the requested SP.

6.1.12.4 Fail/Warn criteria2:
a. Fail if NACK received for DM7 PG from OBD ECU
b. Fail, if DM58 not received (after

[2021-05-05 01:14] ericthomasswenson commented on #976
5.7.58.1 Test Identifier
The test identifier (SPN 1224) shall echo the value of TID 245 (F5h) that was provided in the directly addressed DM7 query. Additional TIDs for alternate uses of the DM58 format are not defined. The full range of test identifiers is described in 5.7.7.1. See Table 25 for all other response requirements.

5.7.58.2 Rationality Fault SPN
The rationality fault SPN (SPN 8555) i

[2021-05-06 13:32] ericthomasswenson opened #977 "SW: Correct Test 1.14 DM26 Enable Bit Outcomes"
Correct Test 1.14 DM26 Enable Bit Outcomes

Enable status settings are incorrectly identified as errors in part 1 test 14.

Details provided below in explanation to CARB.

[2021-05-06 13:34] ericthomasswenson commented on #977
Correct Test 1.14 DM26 Enable Bit Outcomes

<div dir="ltr" style="font-style: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px

[2021-05-06 15:25] ericthomasswenson opened #978 "Correct Part 2 Test 8 DM26 Monitor Completion False Failures"
False failures have been observed in Part 2 Test 8, when monitors complete under KOER conditions.

// In KOER mode, checking for differences in a KOEO Part 1 DM26 response is a conceptual error.
// Invariant conditions from Part 1 still apply and can be checked, except for monitors that may complete KOER.
// Enabled and Disabled bit values are not checked in Part 1 for supported monitors and need

[2021-05-06 15:26] ericthomasswenson commented on #978
Dear Paul and Dan,

The recommended text for DM26 in Part 2 Test 8 builds upon the recommended revisions for part 1.  The failure criteria not impacted by the change to KOER are repeated. The monitor complete failure criteria from part 1 was retained as an informative message. Checking for differences from part 1, was a conceptual error as improved monitor performance in recent MY engines has resu

[2021-05-06 15:34] ericthomasswenson commented on #977
The existing text is technically correct, but too hard to read.

[2021-05-06 17:36] ericthomasswenson opened #979 "DM26 Completed Monitors detected as Failed in Part 12 Test 2"
The Part 12 DM26 test triggers false positive outcomes for completed monitors after engine operation.

The criterion in part 12 test 2 exhibits the same conceptual error discussed for Part 2 test 8.

Additional details are provided below.

[2021-05-06 17:38] ericthomasswenson commented on #979
Dear Dan and Paul,

DM26 is queried in Part 12, after engine operation.  Failures for completed monitors have been observed.

Start Test 12.2 - DM26: Diagnostic readiness 3

09:30:02.8123 Destination Specific DM26 Request to Engine #1 (0)
08:18:27.8825 18EA00F9 [3] B8 FD 00 (TX)
08:18:27.8890 18FDB800 [8] 00 00 00 37 C0 16 E0 1E
DM26 from Engine #1 (0): Warm-ups: 0, Time Since Engine Start: 0 seco

[2021-05-06 19:00] ericthomasswenson commented on #979
This composite will make it easier to review part 12 results.

6.11.11.1 Actions
a. DS DM26 [send Request (PG 59904) for PG 64952 (SPs 3301-3305)] to each OBD ECU.
b. Record all monitor readiness this trip data (i.e., which supported monitors are complete this trip or supported and not complete this trip).
**_c. Display composite status for support and enable bits for responses received from OBD E

[2021-05-06 19:47] battjt commented on #974
@gumbelmj split this into 3 issues:
1. plausibility numbers
2. routine (delay start of check)
3. document routine (delay start of check)

[2021-05-06 19:53] gumbelmj opened #980 "Spec: Correct Test 1.14 DM26 Enable Bit Outcomes"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): battjt/j1939-84#977

Correct Test 1.14 DM26 Enable Bit Outcomes

Enable status settings are incorrectly identified as errors in part 1 test 14.

Details provided below in explanation to CARB.

[2021-05-06 19:53] gumbelmj commented on #980
The existing text is technically correct, but too hard to read.

[2021-05-06 19:53] gumbelmj commented on #980
Correct Test 1.14 DM26 Enable Bit Outcomes

<div dir="ltr" style="font-style: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-tap-highlight-color: rgba(26, 26, 26, 0.3); -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px

[2021-05-06 19:57] battjt commented on #947
The count should only count timing errors.  TP aborts are not timing errors.

[2021-05-06 19:59] gumbelmj opened #981 "Engine Serial Number - Tool Issue"
From j1939-84 created by [vmuthu2](https://github.com/vmuthu2): battjt/j1939-84#967

WARN: 6.1.9.3.a - Serial number field (SPN 588) from Engine #1 (0) is less than 8 characters long

![image](https://user-images.githubusercontent.com/46825003/116629687-a0f15300-a906-11eb-9846-666fe0be0b00.png)

This issue was supposed to be fixed with the new tool. The issue is still not fixed.

[2021-05-06 19:59] gumbelmj commented on #981
Did 5 numeric digits pass or fail?

Yes, there is an error of omission compared to the statement of work and the table of ESN archetypes in Appendix A-1 for SP 588. The real omission is in 6.1.9.2.c which says.

c. Fail if the serial number field (SP 588) from any function 0 device does not end in 6 numeric characters (ASCII 0 through ASCII 9).
... Which should say 5 numeric digits to match the en

[2021-05-06 19:59] gumbelmj commented on #981
Proposed J1939-84 text
6.1.9.2.c Fail if the serial number field (SP 588) from any function 0 device does not end in **_5_** numeric characters (ASCII 0 through ASCII 9).

6.1.9.3.a. **_INFO_** if the serial number field (SPNSP 588) from any function 0 device is less than eight characters long.

[2021-05-06 19:59] gumbelmj commented on #981
There is also an omission in Appendix A

Add

| aa * b * A12345  | Unit number field and delimiter not provided for six character serial number | Pass |

[2021-05-06 19:59] battjt commented on #946
Addressed with previous TP and application tuning.

[2021-05-06 19:59] #946 closed, assigned to ericthomasswenson

[2021-05-06 20:01] battjt commented on #929
Not an error.

[2021-05-06 20:01] #929 closed, assigned to ericthomasswenson

[2021-05-06 20:02] gumbelmj opened #982 "Incorrect plausibility VALUES in Part 11 Test 7 - Spec Issue"
From j1939-84 created by [vmuthu2](https://github.com/vmuthu2): battjt/j1939-84#974

The tool is incorrectly executing a plausibility check when the engine speed is being increased from idle (650rpm) to 1200rpm. Below are the three WARNINGs due to that,
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for SPN 183 (6.25) is implausible
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for SPN

[2021-05-06 20:02] gumbelmj commented on #982
Matt, there are two contributing approaches to reducing the number of Warns in part 11.
 -1. Increase allowed idle engine values in Table A-1 to account for transients
 -2. Wait until all the time for engine operation above 1150 has been collected to minimize exposure to transient engine operation.
I suggest we do both.

 -2. Can be justified by observed performance of the Table A-1 values in Part

[2021-05-06 20:02] gumbelmj commented on #982
-1. Should include value improvements for #972 and #970
      And May address SP 91 comment in #858.
      This change may be considered a future enhancement as the software matches the specification.

 -2. Waiting until all time above 1150 RPM has elapsed to match current software and minimize warnings is recommended for the current contract.

[2021-05-06 20:02] gumbelmj commented on #982
A consolidated list of proposal was set out for review:

Dear Vimal,

Overall, we are starting to approach 10% of the plausibility value lines.
Any additional requests (not already in GitHub).

Bob, Joseph, and Dan,

Do you have any additional plausible value limits suggestions.
The concept is to address low value added plausible value warnings, especially during engine transient operation during

[2021-05-06 20:02] gumbelmj commented on #982
@gumbelmj split this into 3 issues:
1. plausibility numbers
2. routine (delay start of check)
3. document routine (delay start of check)

[2021-05-06 20:04] gumbelmj commented on #982
This ticket is now to track updating the plausibility _values_ used in Test 11.7

[2021-05-06 20:04] gumbelmj opened #983 "Update plausibility check in Part 11 Test 7 - Spec Issue"
From j1939-84 created by [vmuthu2](https://github.com/vmuthu2): battjt/j1939-84#974

The tool is incorrectly executing a plausibility check when the engine speed is being increased from idle (650rpm) to 1200rpm. Below are the three WARNINGs due to that,
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for SPN 183 (6.25) is implausible
WARN: 6.11.7.3.a - N.8 Engine #1 (0) reported value for SPN

[2021-05-06 20:04] gumbelmj commented on #983
Matt, there are two contributing approaches to reducing the number of Warns in part 11.
 -1. Increase allowed idle engine values in Table A-1 to account for transients
 -2. Wait until all the time for engine operation above 1150 has been collected to minimize exposure to transient engine operation.
I suggest we do both.

 -2. Can be justified by observed performance of the Table A-1 values in Part

[2021-05-06 20:04] gumbelmj commented on #983
-1. Should include value improvements for #972 and #970
      And May address SP 91 comment in #858.
      This change may be considered a future enhancement as the software matches the specification.

 -2. Waiting until all time above 1150 RPM has elapsed to match current software and minimize warnings is recommended for the current contract.

[2021-05-06 20:04] gumbelmj commented on #983
A consolidated list of proposal was set out for review:

Dear Vimal,

Overall, we are starting to approach 10% of the plausibility value lines.
Any additional requests (not already in GitHub).

Bob, Joseph, and Dan,

Do you have any additional plausible value limits suggestions.
The concept is to address low value added plausible value warnings, especially during engine transient operation during

[2021-05-06 20:04] gumbelmj commented on #983
@gumbelmj split this into 3 issues:
1. plausibility numbers
2. routine (delay start of check)
3. document routine (delay start of check)

[2021-05-06 20:07] gumbelmj commented on #983
This ticket is to update the document to specify when plausibility checks are to be run (after 1150 time has expired and engine speed has settled)

[2021-05-06 20:18] battjt commented on #831
Unneeded.

[2021-05-06 20:18] #831 closed, assigned to nobody

[2021-05-06 20:21] battjt commented on #829
Useful.

[2021-05-06 20:21] #829 closed, assigned to nobody

[2021-05-06 20:24] gumbelmj opened #984 "Add on screen timer for engine running time"
It would be helpful for the user to know how long the engine has been running

[2021-05-06 20:30] battjt commented on #525
Consolidate test 26 suggestions for datastream into new ticket.

[2021-05-06 20:40] battjt commented on #816
To include NoX binning and GHG tracking.

[2021-05-06 20:46] gumbelmj commented on #974
The tool will now wait until 1150 time has expired then check values once the engine speed settles.

[2021-05-06 21:49] ericthomasswenson opened #985 "Consolidated Part 1 Test 26 / Part 2 Test 17 Data Stream J1939-84 Model Text"
Provide a consolidated specification text model for all data stream tests before adding NOx Binning GHG Tracking specific tests.

This ticket covers the work needed for Part 2 Test 17.  Work for Part 1 Test 26 was cloned to j1939-84 created by [mmschaefer](@mmschaefer ): #1040

[2021-05-06 21:55] ericthomasswenson commented on #985
6.1.26 Data stream support verification
6.1.26.1 Actions:
a. Create a list of expected SPs and PGs from the DM24 response, where the data stream support bit defined in SAE J1939-73 5.7.24 is 0.
b. Add any omissions from Table A-1, excluding those SPs noted (as CI or SI) for the opposite fuel type provided by the user.
c. Omit the the following SPNs (588, 976, 1213, 1220, 12675, 12691, 12730, 12783

[2021-05-06 21:58] ericthomasswenson commented on #985
Unconsolidated issues may now be closed.  Implementation issues for future enhancements will refer to this issue.

[2021-05-06 22:41] ericthomasswenson commented on #771
5.7.22 SP 3034 Control Byte Values Enumeration says:

Table 18 - Individual DTC clear/reset control byte

0 Reserved for SAE assignment
1 Request to clear/reset a specific previously active DTC
2 Positive acknowledge of clear/reset of a specific previously active DTC
3 Negative acknowledge of clear/reset of a specific previously active DTC
4-16 Reserved for SAE assignment
17 Request to clear/reset

[2021-05-06 22:46] ericthomasswenson commented on #973
5.7.22 Individual Clear/Reset of Active and Previously Active DTC (DM22)

All of the diagnostic information pertaining to the specified diagnostic trouble code should be erased when the CLR_PA_REQ or CLR_ACT_REQ action of this PG is requested. This PGN is used to provide the DTC clear/reset services offered with DM3 and DM11, but for individual DTCs. When the individual clear of a previously activ

[2021-05-06 22:55] ericthomasswenson commented on #973
Proposed Text

6.8.12.4 Actions2
a. DS DM22 to OBD ECU with a DM12 MIL on DTC stored using the DM12 MIL On DTC SPN and FMI and control byte = 1, Request to Clear/Reset Previously Active DTC.

6.8.12.5 Fail Criteria2
a. Fail if the ECU provides DM22 with CLR_PA_ACK or CLR_ACT_ACK.
b. Fail if the ECU provides J1939-21 ACK for PG 49920.
c. Fail if the ECU provides CLR_ACT_NACK with an acknowledgement

[2021-05-06 23:01] ericthomasswenson commented on #973
No response at all is anticipated in SAE J1939-73

[2021-05-06 23:11] ericthomasswenson commented on #973
Proposal Matches

6.8.12.3 Warn Criteria
a. Info: if DM22 (PG 49920) **_CLR_**_PA_NACK or **_CLR_**_ACT_NACK is not received with an acknowledgement code of 0.[53]

[2021-05-06 23:28] ericthomasswenson commented on #884
Included in #985

[2021-05-06 23:28] #884 closed, assigned to nobody

[2021-05-06 23:33] ericthomasswenson commented on #869
2: Conditions not correct
3: Access Denied

[2021-05-07 11:42] #981 closed, assigned to gumbelmj

[2021-05-07 11:43] #974 closed, assigned to gumbelmj

[2021-05-07 12:05] #947 closed, assigned to battjt

[2021-05-07 16:42] ericthomasswenson opened #989 "Accommodate FBxx for additional Exhaust Sensors"
Accommodate FBxx for additional NOx Sensors.

In anticipation of request 21200507WW, https://www.sae.org/servlets/works/postDiscussion.do?comtID=TETES7Z&docID=&resourceID=840863&inputPage=showAll

Required to meet expectations of J1939-84 compliance test tool.
Applies to SPNs 3217, 3227, 3256, 3266, 7650, 7661, 7672, 7683

J1939DA will add the text below for the subject SPs
value of FB00h shall be

[2021-05-07 21:15] ericthomasswenson commented on #985
Proposed Part 2 Test 17 Text

6.2.17 KOER Data Stream Verification
6.2.17.1 Actions
**a. Display the completed list noting those omitted SPs, supported SPs as ‘broadcast’ or ‘upon request’, and additions from Table A-1.
b**. Gather broadcast data for all SPNs that are supported for data stream in **_the OBD ECU DM24 responses, and the added SPNs from Table A-1, using the SPN list from Part 1. This

[2021-05-10 14:26] #977 closed, assigned to gumbelmj

[2021-05-10 20:14] ericthomasswenson commented on #983
Proposed text for approach 2

6.11.7 DM20/DM28/Broadcast data: Waiting until General Denominator Is Met
6.11.7.1 Actions
a. Broadcast data received shall comply with the values defined in Section A.1.  **_Evaluation of Table A-1 criteria shall commence only after 300 s of engine operation above 1150 RPM have been observed._**
b. Wait 3 minutes.
c. Increase engine speed over 1150 rpm (a minimum of

[2021-05-10 20:35] ericthomasswenson commented on #982
The approved values for Table A-1 changes will be posted here when available.

[2021-05-10 20:57] ericthomasswenson commented on #983
Updated Table A-1 values will be reviewed with Carb and then posted on #982.

Additional values for new MY’22 and MY’24 (h)(4) are also needed but are not part of this request.

[2021-05-10 21:39] ericthomasswenson opened #991 "Investigate Unknown Publisher notice in installer"
The installer provides an unknown publisher message.

keep anyway May work

Investigate what may be done to define ETI as publisher.

[2021-05-10 21:44] ericthomasswenson opened #992 "Address DM21 mismatch: accept 1 minute difference between queries"
Address DM21 mismatch: accept 1 minute (1 bit state) difference between queries

14:07:00.8905 Destination Specific DM21 Request to Engine #1 (0)
14:07:00.8951 18EA00F9 [3] 00 C1 00 (TX)
14:07:00.8981 18C1F900 [8] 00 00 00 00 00 00 02 00
DM21 from Engine #1 (0): [
 Distance Traveled While MIL is Activated:     0 km (0 mi)
 Time Run by Engine While MIL is Activated:    0 minutes
 Distance Since DTC

[2021-05-10 21:46] ericthomasswenson opened #993 "Failure and warning counts incorrect in 3.0.8"
Looks like when we fixed the timing count..
Failures:    81
Warnings:    84
Information: 0
Incomplete:  0
Timing:      2
Passes:      167
We broke the fail and warnings counts ...

Search for FAIL: says 27 found.
Joe reports 3 * 27 were in the log.

[2021-05-10 23:37] vmuthu2 commented on #993
J1939-84 Tool version 3.0.8 - 2021/05/10 10:33
Generated: 2021/05/10 16:04:35.9885
Log File Name: C:\Users\Vimal.Muthukumar\Desktop\Back_up\Working_Files\J1939-84\Official_PVE_1_Testing\MY2021\NewTool-P1286seq-132\Truck_2060_-84_May10.j1939-84

TEST SUMMARY REPORT
OUTCOME:
Failures:    114
Warnings:    54
Information: 9
Incomplete:  0
Timing:      0
Passes:      1

Observed the same issue

[2021-05-10 23:40] vmuthu2 opened #995 "Incorrect FAIL assessment on DM29 - SPN 4106"
Issue was not present in v3.0.7

This bug is introduced with v3.0.8

SPN 4106 is supported and reports correctly. DM29 bytes 6-8 is reserved by SAE and will report 0xFF.

15:22:50.3044 DS Request for PGN 40448 to Engine #1 (0) for SPNs 4106
15:22:50.3088 18EA00F9 [3] 00 9E 00 (TX)
15:22:50.3102 189EF900 [8] 00 00 00 00 00 FF FF FF
DM29 from Engine #1 (0):
Emission-Related Pending DTC Count

[2021-05-10 23:46] vmuthu2 opened #996 "Incorrect FAIL assessment on DM26 - SPN 3301, 3302, 3303, 3304 and 3305"
New issue introduced with v 3.0.8.. Issue was not present in v3.0.7

DM26 reports correctly and all the SPNs are supported as expected.

15:22:52.2934 DS Request for PGN 64952 to Engine #1 (0) for SPNs 3301, 3302, 3303, 3304, 3305
15:22:52.2972 18EA00F9 [3] B8 FD 00 (TX)
15:22:52.3002 18FDB800 [8] 00 00 00 37 E0 1E E0 1E
DM26 from Engine #1 (0): Warm-ups: 0, Time Since Engine Start: 0 seconds
PGN

[2021-05-10 23:49] vmuthu2 opened #997 "Incorrect FAIL assessment for DM34"
New issue introduced with v 3.0.8.. Issue was not present in v3.0.7

DM34 reports correctly and all the SPNs are supported as expected.
Bytes 3 to 8 are reserved for SAE and will report 0xFF.

15:22:50.9210 DS Request for PGN 40960 to Engine #1 (0) for SPNs 4127, 4128, 4129, 4130, 4131, 4132
15:22:50.9251 18EA00F9 [3] 00 A0 00 (TX)
15:22:50.9302 18A0F900 [8] 0F 0F FF FF FF FF FF FF
DM34 NTE Status

[2021-05-10 23:52] vmuthu2 opened #998 "Incorrect FAIL assessment for DM21 - SPN 3069, 3294, 3296"
New issue introduced with v 3.0.8.. Issue was not present in v3.0.7

DM21 reports correctly and all the SPNs are supported as expected.

15:22:51.5449 DS Request for PGN 49408 to Engine #1 (0) for SPNs 3069, 3294, 3296
15:22:51.5472 18EA00F9 [3] 00 C1 00 (TX)
15:22:51.5515 18C1F900 [8] 00 00 00 00 00 00 00 00
DM21 from Engine #1 (0): [
  Distance Traveled While MIL is Activated:     0 km (0 mi)

[2021-05-10 23:54] #993 closed, assigned to gumbelmj

[2021-05-11 00:08] gumbelmj opened #999 "Incorrect Fail Assessment for Diagnostic Messages"
As a result of a change made to fix #959, any SPN which has no data is now reported as "Not Available".

The Diagnostic Messages aren't defined in J1939/DA, therefore we don't have an automated way to parse Diagnostic Messages.

This is has been reported multiple times (See #995, #996, #997, #998).

@vmuthu2 This ticket has been created to consolidated those issues as the root cause and resolution

[2021-05-11 03:22] ericthomasswenson commented on #998
PGN 49408 with Supported SPNs 3069, 3294
14:04:45.5743 18C1F900 [8] 00 00 00 00 00 00 00 00
Found: DM21 from Engine #1 (0): [
  Distance Traveled While MIL is Activated:     0 km (0 mi)
  Time Run by Engine While MIL is Activated:    0 minutes
  Distance Since DTCs Cleared:                  0 km (0 mi)
  Time Since DTCs Cleared:                      0 minutes
]
FAIL: 6.1.26.6.a - SPN 3069 was rece

[2021-05-11 03:25] ericthomasswenson commented on #996
14:04:47.7660 DS Request for PGN 64952 to Engine #1 (0) for SPNs 3301, 3302, 3303
14:04:47.7705 18EA00F9 [3] B8 FD 00 (TX)
14:04:47.7741 18FDB800 [8] 00 00 00 37 E0 1E E0 1E
DM26 from Engine #1 (0): Warm-ups: 0, Time Since Engine Start: 0 seconds
PGN 64952 with Supported SPNs 3301, 3302, 3303
14:04:47.7741 18FDB800 [8] 00 00 00 37 E0 1E E0 1E
Found: DM26 from Engine #1 (0): Warm-ups: 0, Time Since

[2021-05-11 17:26] #995 closed, assigned to nobody

[2021-05-11 17:26] #996 closed, assigned to nobody

[2021-05-11 17:26] #997 closed, assigned to nobody

[2021-05-11 17:26] #998 closed, assigned to nobody

[2021-05-11 17:26] #999 closed, assigned to battjt

[2021-05-12 11:56] battjt commented on #991
Initial investigation shows that it's about $500/year to maintain a certificate.  We would need the certificate when we make a release.  The certificate would not need to be maintained if there are no releases being made.  Search for "EV Code Signing Certificates" for more information.

[2021-05-12 20:55] vmuthu2 opened #1001 "Incorrect FAIL assessment for DM34 - SPN 4129 and SPN 4132 (Part 1 Test 26 and Part 2 Test 17)"
Bug found with tool version: v 3.0.9

Failing for reporting "NOT AVAILABLE" in Part 1 Test 26 and Part 2 Test 17 is not acceptable.

SPN 4129:
![2021-05-12 13_47_54-Window](https://user-images.githubusercontent.com/46825003/118043768-a8632400-b32a-11eb-8cee-91065b4ac8b2.jpg)

SPN 4132:
![2021-05-12 13_49_38-Window](https://user-images.githubusercontent.com/46825003/118043800-b1ec8c00-b32a-11eb-941

[2021-05-12 21:11] vmuthu2 commented on #1001
![SPN4132](https://user-images.githubusercontent.com/46825003/118044741-e57be600-b32b-11eb-8e43-03af2886a9d8.jpg)
![J1939-84_Spec](https://user-images.githubusercontent.com/46825003/118044742-e6147c80-b32b-11eb-9130-3e6e4062bb06.jpg)
![SPN4129](https://user-images.githubusercontent.com/46825003/118044744-e6147c80-b32b-11eb-817e-debc78c74d11.jpg)

[2021-05-13 01:57] gumbelmj commented on #1001
@vmuthu2, this is not a bug.  The tool is following the specification.

In Part 1 Test 26, the tool is requesting SPs which Engine #1 claims to support:
[code]

However, Engine #1 returns N/A for SPs is claims to support in the Data Stream:
[code]

Therefore this is a failure. From the specification:

Since N/A is not valid data for supported SPs, a failure is reported.  The same logic applies for

[2021-05-13 02:54] ericthomasswenson commented on #820
Corrected in Table A-1 draft

[2021-05-13 04:25] ericthomasswenson commented on #1001
In Part 2, there is a strategy to accept part 1 values for many queries without detailed evaluation to minimize duplicated failure messages.

In general, SPs that are not supported should not appear in DM24, we made an exception for 976.

Not sure it makes sense to add an exception for Deficiency Area Status.

If there are no deficiency areas, 11b is reasonable (as stated in J1939-84).
To me, 00b

[2021-05-13 04:50] ericthomasswenson commented on #1001
From SAE J1939-73

5.7.24.1 SPN Supported This parameter defines each SPN that is supported by the ECU in data stream, expanded freeze frame, scaled test results, or rationality fault SPN data. **_Any SPN not supported for at least one of these purposes will not be transmitted in this parameter group_**. The SPNs reported may be limited to those required to satisfy regulated OBD requirements. Be a

[2021-05-13 04:59] ericthomasswenson commented on #1001
I believe there is now sufficient rationale to close this issue.

[2021-05-13 04:59] #1001 closed, assigned to battjt

[2021-05-21 12:02] ericthomasswenson commented on #818
CARB requested the addition of the following at 11am EDT 5/20/2021

1) Commanded DEF dosing
2) DEF dosing mode (A, B, C, etc.)
3) DEF usage for current driving cycle, _**Not yet defined in J1939-DA**_
4) Target ammonia storage level on SCR
5) SCR outlet temperature
6) Stability of NOx sensor reading
7) EGR mass flow rate
8) Hydrocarbon doser flow rate
9) Hydrocarbon doser injector duty cycle
10) A

[2021-05-21 16:09] battjt opened #1002 "Allow user to select adapter speed based on speeds supported by selected adapter."

[2021-05-21 22:10] ericthomasswenson commented on #818
Table A-1 additions for the above late feedback have been drafted and are available for quotation.  They are presently under review by engine manufacturers.

[2021-05-26 14:57] ericthomasswenson opened #1003 "Improve Distributed System Advice in 6.13.2"
It’s not possible to follow the advice below.  Improve the advice:

6.13.2 Sequential Evaluation of Components

The procedures above can be adapted for distributed systems by iteration among the separate modules. Such iteration may be sequenced among engine off and engine running segments in the following way:

1. Execute parts 1 and 2 once. Obtain CAL ID and CVN for each ECU in the distributed sy

[2021-05-26 15:23] ericthomasswenson commented on #1003
Proposed text:

6.13.2 Sequential Evaluation of Components

The procedures above can be adapted for distributed systems by iteration among the separate modules. Such iteration may be sequenced among engine off and engine running segments in the following way:

1. **_Screen the distributed system for sequential evaluation. Execute parts 1 and 2 once.  Review responses for omissions in supported con

[2021-05-26 15:25] ericthomasswenson commented on #1003
No software development changes are required.

[2021-05-26 15:27] ericthomasswenson commented on #1002
Mock-up drop menu was used in help-file graphics

[2021-05-26 16:35] gumbelmj opened #1004 "Waiting for DTCs doesn't work with multiple modules"
Reported from field:

I’ve located a bug during testing of the new -84 tool that may be similar to a statement you made in this email: “Failure implants are still required to succeed. Permitting the test to proceed when DM6 and DM12 are not detected is planned for the following maintenance contract.”

I believe since we use multiple OBD ECUs and faults from different ECUs to complete the -84 test,

[2021-05-26 16:38] gumbelmj commented on #1004
This is a problem with Test 3.2, Test 4.2 and Test 8.2.

[2021-05-26 17:42] ericthomasswenson opened #1006 "Investigate Aftertreatment ECU fault implant failure."
DB. reported that fault implants into two different modules failed.
One fault is implanted in the engine controller —- the other, in the aftertreatment module.  Both are reported as HD OBD modules. Log files have been requested.

[2021-05-26 17:45] ericthomasswenson commented on #1006
To be resolved by #1004 and #1005

[2021-05-26 17:45] #1006 closed, assigned to nobody

[2021-05-26 20:59] ericthomasswenson opened #1007 "Update Help File Graphics for Omitted Baud-rate selection."
Update help file graphics to show selected baud rate where omitted in figures based on screenshots before the rate selection drop down menu was added to the adapter pane.

Its omission is not material to the text associated with the Figures.

[J1939-84-Draft-Help-File-PDF.pdf](https://github.com/battjt/j1939-84/files/6549592/J1939-84-Draft-Help-File-PDF.pdf)

[2021-05-26 21:02] ericthomasswenson opened #1008 "Update help file graphics to show selected baud rate where omitted"
Update help file graphics to show selected baud rate where omitted in figures based on screenshots before the rate selection drop down menu was added to the adapter pane.

Its omission is not material to the text associated with the Figures.

[J1939-84-Draft-Help-File-PDF.pdf](https://github.com/battjt/j1939-84/files/6549592/J1939-84-Draft-Help-File-PDF.pdf)

[2021-05-26 21:04] ericthomasswenson commented on #664
Use PDF instead of html.

Intended draft is attached as PDF.

[J1939-84-Draft-Help-File-PDF.pdf](https://github.com/battjt/j1939-84/files/6549613/J1939-84-Draft-Help-File-PDF.pdf)

[2021-05-26 21:07] ericthomasswenson commented on #1007
Thought the first button press didn’t happen.

[2021-05-26 21:07] #1007 closed, assigned to ericthomasswenson

[2021-05-27 17:21] #1004 closed, assigned to gumbelmj

[2021-05-27 18:01] ericthomasswenson commented on #989
The notes for Table A-1 are proposed to say:  (As shown in table A1 proposed additions draft)

| Note | Table A1 Column Title | Comments |
|-- | -- | --|
| 1 | SPN (MY) | Entries in Table A1 represent a subset of those SPs which are expected in a DM24 message from an HD OBD ECU. Additional SPs from those listed here are expected in DM24 responses. Query support for individual SPs provided in a DM2

[2021-05-27 18:11] ericthomasswenson commented on #989
Add

**_SP Data displays sent with the Special Conditions (FBh) indicators shall be accepted._**

at the end of footnote [26]

[26] Missing SPN support, as compared to Table A1, shall be determined for the data presented by DM24 in test 6.1.4. Here only SPNs provided in the DM24 data from test 6.1.4 need be evaluated. As given in (d) data from non-OBD ECUs may be flagged with a warning or an infor

[2021-05-27 20:23] #664 closed, assigned to battjt

[2021-05-27 20:23] #1002 closed, assigned to battjt

[2021-05-27 22:11] ericthomasswenson opened #1010 "Add DM20 test in Part 12"
Add DM20 test in Part 12 as an accommodation for variances in DM20 housekeeping that may occur between test 11.8 and 12.9.

**_6.12.9 DM20: Monitor Performance Ratio
6.12.9.1 Actions
a. DS DM20 [send Request (PG 59904) for PG 49664 (SPs 3048-3049, 3066-3068)] to ECUs that reported DM20 data earlier in Part 11.
b. If no response [transport protocol RTS or NACK(Busy) in 220 ms], then retry DS DM20 r

[2021-05-27 22:13] ericthomasswenson commented on #1010
Proffer in response to issue identified May 26.
Initial assessment is that 3.0.9 works as designed.
The additional query will reset (by reacquisition) the baseline data (now) used in 12.9.2.
Needs acceptance from observer.

[2021-05-28 05:30] ericthomasswenson commented on #1010
Acceptance received via email from observer

Hi Eric,

Thank you for this information about proposed changes to Part 12 of the STI(-84) test.

Based on the proposed addition in Part 12 of the test, I see that changes to 6.12.9.3 Warn Criteria should assist in overcoming the following failure messages –
c. Compare all values to values recorded in part 11 test 8.
  i. Warn if any value (numerator, d

[2021-05-28 23:38] ericthomasswenson commented on #928
Joe reported that Bob collected this log fragment today 5/28.

Start Test 1.26 - Data stream support verification
Expecting the following messages:
...
Step 6.1.26.1.a - Reading bus for 20 seconds

WARN: 6.1.26 - Unexpected Service Tool Message from SA 0xF9 observed. Test results uncertain. False failures are possible
ABORT: User cancelled testing at Part 1 Step 26
WARN: 6.1.26.2.f - N.5 SPN 84 pr

[2021-06-01 15:33] ericthomasswenson opened #1011 "SI Exhaust Sensor Test coverage messages are incorrect."
Failure message misstated for SP3217; should say two of ... 3217 are required.
Failure message missing for SP 3227, only one  FMI was provided.

at least two FMIs are needed for SP 3217, and
at least two FMIs are needed for SP 3227

SPN 3053 FMI 2 (SLOT 52) Result: Test Not Complete.
SPN 3222 FMI 1 (SLOT 143) Result: Test Not Complete.
SPN 3227 FMI 10 (SLOT 390) Result: Test Not Complete.
SPN 3227

[2021-06-01 16:28] ericthomasswenson opened #1012 "Table A-7-2 Entries Incorrect — Don’t Match Existing Product"
Table A-7-2 Entries Incorrect — Don’t Match Existing Product

     T 0  SPN 3050 - Catalyst Bank 1 System Monitor
     T 0  SPN 3051 - Catalyst 2 System Monitor
     T 0  SPN 3053 - Engine Evaporative System Monitor

SPN 3050 FMI 18 (SLOT 132) Result: Test Not Complete.
SPN 3051 FMI 18 (SLOT 132) Result: Test Not Complete.
SPN 3053 FMI 1 (SLOT 52) Result: Test Not Complete.
SPN 3053 FMI 2 (SLOT 52

[2021-06-01 17:15] ericthomasswenson commented on #1012
New Table A-7-2 attached
[J1939-84-Table-A-7-2-SI.pdf](https://github.com/battjt/j1939-84/files/6578266/J1939-84-Table-A-7-2-SI.pdf)

[2021-06-01 18:56] ericthomasswenson opened #1014 "EGR Monitor Completion Bit vs. Support Bit"
07:57:51.6544 Global DM5 Request
07:57:51.6568 18EAFFF9 [3] CE FE 00 (TX)
07:57:51.6628 18FECE00 [8] 00 00 14 07 65 00 65 00
DM5 from Engine #1 (0): OBD Compliance: HD OBD (20), Active Codes: 0, Previously Active Codes: 0

Is it really fair to fail a completion bit of complete for EGR when the Support bit for not supported is a warn.  Maybe add if supported to completion bit? ...in SI Table.

Vehi

[2021-06-01 18:58] ericthomasswenson commented on #1014
Fuel System failure message is believed to be correct.

Fuel System monitors don’t run and complete KOEO

[2021-06-01 19:34] ericthomasswenson opened #1015 "CAL-ID and CVN incorrectly listed as NA in Failure messages in SI Log of 6/1"
CAL-ID and CVN incorrectly listed as NA in Failure messages in SI log 6/1/2021
FFh does not appear in reply of one CAL-ID and one CVN in part 1 test 26.

07:58:21.0655 DS Request for PGN 54016 to Engine #1 (0) for SPNs 1634, 1635
07:58:21.0672 18EA00F9 [3] 00 D3 00 (TX)
07:58:21.1020 18D3F900 [20] D2 FF 9C 4E 33 38 33 30 30 30 38 31 2D 31 00 00 00 00 00 00
DM19 from Engine #1 (0): CAL ID of 383000

[2021-06-02 17:32] #1011 closed, assigned to gumbelmj

[2021-06-02 17:42] ericthomasswenson commented on #816
Potential Maintenance task after NOX Binning and GHG Tracking release is done

potential to satisfy with IUMPR function B and or E

[2021-06-02 17:50] ericthomasswenson commented on #667
With xEV examples

obsolete link deleted use link below.

[2021-06-02 18:28] ericthomasswenson commented on #976
Need parallel construction for parts 2 and 12 too

[2021-06-02 21:25] ericthomasswenson commented on #976
Parts 2 and 12 added

6.2.10.3 Warn Criteria
a. Warn if all test results show initialized results across all SPs requested. [35]

**_6.2.10.4 Actions2:
a. DS DM7 with TID 245 (for DM58) using FMI 31 for each SP identified as supporting DM58 in a DM24 response In step 6.1.4.1 to the SP’s respective OBD ECU.
b. Display the scaled engineering value for the requested SP._**

**_6.2.10.5 Fail/Warn crit

[2021-06-03 02:50] ericthomasswenson commented on #1014
Fuel System failure is correct. CARB language says

_(4.1.1)(B) The readiness status for the following component/system
readiness bits shall always indicate “complete”:
(i) Diesel misfire (section (e)(2)) for engines with a single monitor
designed to detect both misfires identified in section (e)(2.2.1) and subject to the monitoring conditions of sections (e)(2.3.1) and (e)(2.3.2) and misfires ide

[2021-06-03 13:04] #1012 closed, assigned to battjt

[2021-06-03 16:36] ericthomasswenson opened #1018 "Prepopulated CVN count incorrect for PSI CVN"
The UI user data entry dialog box presumably prepopulated the PSI CVN count as zero and suggested an override for the single occurrence of FFh in the CVN.

[PSI missed number of Cal IDs.docx](https://github.com/battjt/j1939-84/files/6593068/PSI.missed.number.of.Cal.IDs.docx)

The correct prepopulated CVN count should be 1 and there should be no override checkbox.

[2021-06-03 16:55] gumbelmj commented on #1018
As designed, the override checkbox will be presented to the user anytime the "OK" button is disabled because the vehicle information is not 'valid' (See [VehicleInformationPresenter.java](https://github.com/battjt/j1939-84/blob/b8723bad439b43d66914bdaf4a27984797f83a43/src/org/etools/j1939_84/ui/VehicleInformationPresenter.java#L333))

In this case, the tool queried the vehicle for DM19s and, for a

[2021-06-03 16:57] ericthomasswenson opened #1019 "Improve missing test count in Table A-7-2 Displays"
The table A-7-2 Outcomes appear to be correct (EVAP is correctly no longer missing), but the text message will be difficult to interpret.

32 is not the number of missing results... it is the number of accepted FMIs.  Let’s find better grammar.

One sensor was missing 1 FMI; the other, 2 FMIs.
Adding the count of missing FMIs would improve the messages below.

FAIL: 6.1.12.2.a (A7.2.a) - Engine Ex

[2021-06-03 16:58] gumbelmj opened #1020 "Part 1 Step 12 failure condition text is wrong"
[code]

Not all 32 of these are required.

[2021-06-03 17:01] gumbelmj commented on #1019
We found the same issue simultaneously.  I created #1020 to fix this

[2021-06-03 17:02] #1019 closed, assigned to nobody

[2021-06-03 17:02] ericthomasswenson commented on #1015
Retest Outcome omits error message.

09:08:15.6354 DS Request for PGN 54016 to Engine #1 (0) for SPNs 1634, 1635
09:08:15.6390 18EA00F9 [3] 00 D3 00 (TX)
09:08:15.6788 18D3F900 [20] D2 FF 9C 4E 33 38 33 30 30 30 38 31 2D 31 00 00 00 00 00 00
DM19 from Engine #1 (0): CAL ID of 38300081-1 and CVN of 0x4E9CFFD2

[2021-06-03 17:05] ericthomasswenson commented on #1015
Posted evidence of success for test 1.26.  See #1018 for additional example.

[2021-06-03 17:06] ericthomasswenson commented on #1015
Closed after mentioning 1018

[2021-06-03 17:06] #1015 closed, assigned to gumbelmj

[2021-06-03 17:09] gumbelmj opened #1022 ""6.2.7.2.a" failure is the incorrect reference number"
```FAIL: 6.2.7.2.a - There are no positive response from Engine #1 (0)```
should be
```FAIL: 6.2.7.4.a - There is no positive response from Engine #1 (0)```

[2021-06-03 17:12] ericthomasswenson commented on #969
Proposed Table A-1 text change accepts FBh for all SPs, as provided for the maintenance SOW.

[2021-06-03 17:15] ericthomasswenson commented on #969
Documented maintenance contract proposed resolution.

[J1939-84-Table-A-1-MY24 May-21-2021 .docx](https://github.com/battjt/j1939-84/files/6593273/J1939-84-Table-A-1-MY24.May-21-2021.docx)

[2021-06-03 17:15] #969 closed, assigned to battjt

[2021-06-03 17:27] ericthomasswenson commented on #1019
That should be fine ... Nice of Bob to have done the retest ... so soon.

I think I rechecked all the posted issues from Bob’s previous PSI test.  Have a look at the screen shot Bob sent.  It’s apparently related to the test 26 observation... that did get fixed.

Sent from my iPad

[2021-06-04 04:15] ericthomasswenson opened #1024 "Correct grammatical error in 6.8.10.3."
Correct software for garbled criteria in 6.8.10.3.a

 2. DM25 from SA 0 is missing SPN X, FMI Y from DM12
_// Ed. User provided Item 2 actually referred to 2.2 performance as a goal for the current effort.  User data was received, separately, that illustrated 3.0.9 performance._
This was intended to be improved.

6.8.10 DM25: Expanded Freeze Frame
6.8.10.1 Actions
a. DS DM25 [send Request (PG 5990

[2021-06-04 18:42] #1022 closed, assigned to gumbelmj

[2021-06-04 18:42] #1020 closed, assigned to gumbelmj

[2021-06-05 01:43] ericthomasswenson opened #1025 "DM29 Pending Count Failure Incorrect?"
DM29 Pending Count Failure Incorrect?

Start Test 3.2 - DM6: Emission related pending DTCs

Attempt 1

13:39:13.1252 Global DM6 Request
13:39:13.1282 18EAFFF9 [3] CF FE 00 (TX)
13:39:13.1412 18FECF3D [8] 03 FF A9 F0 F0 01 FF FF.    **_// One DM6 DTC_**
DM6 from Exhaust Emission Controller (61): MIL: off, RSL: off, AWL: off, PL: not supported
DTC 520361:16 - Manufacturer Assignable SPN, Data Valid

[2021-06-05 01:46] ericthomasswenson commented on #1025
These outcomes can be avoided by waiting sufficient time for both DTCs to be added to the DM6 display.  Here, waiting one more second would have avoided these messages.

[2021-06-05 01:47] ericthomasswenson commented on #1025
When we have the luxury... we may consider using the last DM6 count instead of the first.

[2021-06-05 01:50] ericthomasswenson commented on #1025
No urgent action needed.

[2021-06-05 01:50] #1025 closed, assigned to nobody

[2021-06-05 02:22] ericthomasswenson commented on #1024
Data from 3.0.11

...
Start Test 8.2 - DM12: Emissions related active DTCs

Attempt 1

14:02:02.9226 Global DM12 Request
14:02:02.9256 18EAFFF9 [3] D4 FE 00 (TX)
14:02:02.9286 18FED43D [8] 47 FF **_6D 16 0D_** 01 FF FF
**_DM12 from Exhaust Emission Controller (61): MIL: on, RSL: off, AWL: on, PL: not supported
DTC 5741:13 - AFT 1 Outlet Soot, Out Of Calibration - 1 times_**
14:02:02.9301 18FED401

[2021-06-05 02:29] ericthomasswenson commented on #1024
Figure 2 of J1939-84 describes the expectation for the freeze frame content when only one freeze frame is is provided.  The DTC in DM23 is clearly identified as the expected content.  When the DTC in DM12 has priority for the freeze frame storage over the the data for a single freeze frame, the Freeze frame should reflect the DTC displayed in DM12.  This is clearly allowed by the failure criteria.

[2021-06-05 02:40] ericthomasswenson opened #1026 "Additional example for #1019"
Additional example for #1019

FAIL: 6.1.12.2.a (A7.2.a) - % of misfire is missing required Test Result, 1 of: 1323:31
FAIL: 6.1.12.2.a (A7.2.a) - % of misfire is missing required Test Result, 1 of: 1324:31
FAIL: 6.1.12.2.a (A7.2.a) - % of misfire is missing required Test Result, 1 of: 1325:31
FAIL: 6.1.12.2.a (A7.2.a) - % of misfire is missing required Test Result, 1 of: 1326:31

[2021-06-05 02:41] ericthomasswenson commented on #1026
Closed as 1019 is closed.

[2021-06-05 02:42] ericthomasswenson commented on #1026
Closed as #1019 is closed.

[2021-06-05 02:42] #1026 closed, assigned to nobody

[2021-06-05 02:48] ericthomasswenson opened #1027 "Correct SP 2848, NAME detected as NA"
FAIL: 6.1.26.6.a - SPN 2848(ECU Name) was received as NOT AVAILABLE from Engine #1 (0)

SPN 2848 configured appropriately for Data Stream support.
Valid response received for SPN 2848 from Source Address 0(ECU)

[2021-06-05 02:49] ericthomasswenson commented on #1027
Data forwarded to J1939-84 as pictures don’t paste well.

[2021-06-05 12:20] gumbelmj commented on #1027
This issue should have been resolved with #1015 which was included in release 3.0.11. Can you re-test with the latest version and see if this issues remains?

[2021-06-05 14:02] ericthomasswenson opened #1028 "No Failure message for null ESN"
As observed on 3.0.9, Failure message(s) missing for a null ESN

Start Test 1.9 - Component ID: Make

13:33:49.8338 Destination Specific Component Identification Request to Engine #1 (0)
13:33:49.8363 18EA00F9 [3] EB FE 00 (TX)
13:33:49.9493 18FEEB00 [39] 44 54 44 53 43 2A 39 33 36 4E 31 36 2A 00 00 00 00 00 00 00 00 00 00 00 00 00 00 2A 20 20 20 20 20 20 20 20 20 20 2A
Component Identification fr

[2021-06-05 14:03] gumbelmj commented on #1028
No it is not

Matt

On Jun 5, 2021, at 10:02, ericthomasswenson ***@***.***> wrote:

﻿
Start Test 1.9 - Component ID: Make

13:33:49.8338 Destination Specific Component Identification Request to Engine #1 (0)
13:33:49.8363 18EA00F9 [3] EB FE 00 (TX)
13:33:49.9493 18FEEB00 [39] 44 54 44 53 43 2A 39 33 36 4E 31 36 2A 00 00 00 00 00 00 00 00 00 00 00 00 00 00 2A 20 20 20 20 20 20 20 20 20 20 2A
Compo

[2021-06-05 14:31] ericthomasswenson opened #1029 "Exclusion List Escape Observed"
Exclusion List Escape Observed.

Was SP 12691 expected in exclusion list?  Or was 12691 added to DM24 in error, as there was to be one representative for all GHG?

DM24 from Engine #2 (1): [
  D F T F
  a r e F
  t F s l
  a r t n  SPN — SP Name
  ----------------------
  D F   2  SPN 27 - Engine EGR 1 Valve Position
...
  D     4  SPN 12675 - NOx Tracking Engine Activity Lifetime Fuel Consumption

[2021-06-05 14:33] ericthomasswenson opened #1030 "Exclusion List Escape Observed."
Exclusion List Escape Observed.

Was SP 12691 expected in exclusion list?  Or was 12691 added to DM24 in error, as there was to be one representative for all GHG?

 DM24 from Engine #2 (1): [
  D F T F
  a r e F
  t F s l
  a r t n  SPN — SP Name
  ----------------------
  D F   2  SPN 27 - Engine EGR 1 Valve Position
...
  D     4  SPN 12675 - NOx Tracking Engine Activity Lifetime Fuel Consumptio

[2021-06-05 15:48] ericthomasswenson opened #1031 "FAIL: 6.4.12.2.a - difference in test result labels - correctly provided"
FAIL: 6.4.12.2.a - Engine #2 (1) reported a difference in test result labels from the test results received in part 1
Is correctly provided.

DM7 requests for the added SPs in Part 4 response timed out in part 1.

DM30 from 1: [
  SPN 157 FMI 10 (SLOT 350) Result: Test Passed. Min: -80, Value: 5.4, Max: 80 l/h
  SPN 164 FMI 2 (SLOT 350) Result: Test Passed. Min: -80, Value: 5.4, Max: 80 l/h
  SPN

[2021-06-05 15:49] ericthomasswenson commented on #1031
Information only— no resolution required.

[2021-06-05 15:49] #1031 closed, assigned to nobody

[2021-06-05 16:12] ericthomasswenson opened #1032 "Assess 3 module DM5 outcomes"
Check Monitor support v. Table A-6; in particular all devices should support CCM and show it as complete. Is 04 correct for this expectation. Check Duplicate support warnings which appear to be correct.

13:33:42.6868 18FECE80 [8] 00 00 FF 00 00 00 00 00
DM5 from Reserved for future assignment 128 (128): OBD Compliance: Not available (255), Active Codes: 0, Previously Active Codes: 0
13:33:42.6898

[2021-06-05 17:32] ericthomasswenson opened #1033 "Standard incorrect for test 7.12 in 6.7.12.2.b"
Whereas the implant was an unexpected a two for one.  There is a question as to what should be the standard for 7.12.  One clear strategy is don’t implant a two for one.  The first detected DTC is what should (most likely) appear, and was provided.  It was flagged a a failure.

Start Test 7.12 - DM25: Expanded freeze frame

13:56:41.9442 Destination Specific DM25 Request to Engine #1 (0)
13:56:41.

[2021-06-05 17:35] ericthomasswenson commented on #1030
Pressed back and got a duplicate

[2021-06-05 17:35] #1030 closed, assigned to nobody

[2021-06-05 17:43] ericthomasswenson commented on #1028
Not worth a release by itself

[2021-06-05 20:10] ericthomasswenson opened #1034 "Deletion of DM5 correctly detected for DM5 from SA 1"
Searching for 18FECE01 [8] 00 00 14 37 E0 02 E0 02, it was found 8 times. Deletion of DM5 data seemed highly unlikely for DM5 from SA 1.  A 1 bit difference was found. One monitor had run.

14:08:12.7131 Destination Specific DM5 Request to Engine #2 (1)
14:08:12.7171 18EA01F9 [3] CE FE 00 (TX)
14:08:12.7206 18FECE01 [8] 00 00 14 37 E0 02 A0 02
DM5 from Engine #2 (1): OBD Compliance: HD OBD (20), A

[2021-06-05 20:30] ericthomasswenson commented on #1034
The finding for DM12 appears to be correct.

14:08:13.0716 Destination Specific DM12 Request to Exhaust Emission Controller (61)
14:08:13.0736 18EA3DF9 [3] D4 FE 00 (TX)
14:08:13.0796 18FED43D [8] 43 FF 6D 16 0D 01 FF FF
DM12 from Exhaust Emission Controller (61): MIL: on, RSL: off, AWL: off, PL: not supported
DTC 5741:13 - AFT 1 Outlet Soot, Out Of Calibration - 1 times

14:08:55.2111 Destination

[2021-06-05 20:33] ericthomasswenson commented on #1034
The outcome for DM23 is correct.

14:08:13.0806 Destination Specific DM23 Request to Exhaust Emission Controller (61)
14:08:13.0836 18EA3DF9 [3] B5 FD 00 (TX)
14:08:13.1196 18FDB53D [10] 43 FF A9 F0 F0 01 A9 F0 E2 01
DM23 from Exhaust Emission Controller (61): MIL: on, RSL: off, AWL: off, PL: not supported
DTC 520361:16 - Manufacturer Assignable SPN, Data Valid But Above Normal Operating Range - M

[2021-06-06 13:48] ericthomasswenson opened #1036 "Add warning for multiple DTCs in DM6 response."
The warning for multiple DM6 responses escaped when the global query returned one and the DS query returned two DM6 DTCs. Two warning messages can be accepted to avoid the escape.
Add provisions for multiple DM6 DTCs warnings to DS DM6 query as shown below.

6.3.2 DM6: Emission Related Pending DTCs40
6.3.2.1 Actions
a. Global DM6 [(send Request (PGNPG 59904) for PGNPG 65227 (SPNSPs 1213-1215, 3038

[2021-06-06 13:59] ericthomasswenson commented on #958
6.3.2.1 Actions
a. Global DM6 [(send Request (PGNPG 59904) for PGNPG 65227 (SPNSPs 1213-1215, 3038, 1706)]).
 i. Repeat request for DM6 no more frequently than once per second until one or more ECUs reports a pending DTC.
 ii. Time-out after every 5 minutes and ask user “‘yes/no”’ to continue if still no pending DTC; and fail if user says “'no'” and no ECU reports a pending DTC.
 **_iii. Permit us

[2021-06-06 14:03] ericthomasswenson commented on #958
6.4.2.1 Actions
a. Global DM12 [send Request (PG 59904) for PG 65236 (SPs 1213-1215, 1706, and 3038)] to retrieve confirmed and active DTCs.
i. Repeat request no more frequently than once per second until one or more ECUs reports a confirmed and active DTC.
ii. Time-out after every 5 minutes and ask user “‘yes/no”’ to continue if there is still no confirmed and active DTC; fail if user says “'no”'

[2021-06-06 14:06] ericthomasswenson commented on #958
6.8.2.1 Actions
a. Global DM12 [(send Request (PGNPG 59904) for PGNPG 65236 (SPNSPs 1213-1215, 1706, and 3038)]).
b. Repeat request until one or more ECUs reports an active DTC.
i. Time-out after 5 minutes and ask user yes/no to continue if there is still no active DTC.
ii. Fail if user says “no” and no ECU reports an active DTC.
**_iii. Permit user to elect to continue test if a DM12 DTC was not

[2021-06-06 15:26] ericthomasswenson commented on #1036
The DM12 query in Part 5 would also benefit as one DTC is clearly intended for subsequent test criteria.

**_6.5.2.3 Warn Criteria
a. Warn if more than one DTC is provided in DM12 response._**

[2021-06-07 12:06] #1028 closed, assigned to gumbelmj

[2021-06-07 22:59] ericthomasswenson opened #1037 "Add version number display to User Interface Data Collection Dialog Box"
Earlier today I got a screenshot of the User Interface Data Collection Dialog Box.

Had the dialog box included the version number, I would have been able to answer the question, with less effort, as the answer was directly related to the version number used.  This will save all of us some time, if the clip art for the  User Interface Data Collection Dialog Box contains the version number.

Perhap

[2021-06-08 15:14] ericthomasswenson opened #1038 "SPN target missing"
Targeted SPs do not appear for some Test 1.26 and 2.17 log query displays for 3.0.12

PGN 61450 with Supported SPNs         **_<—— location for missing SP._**
07:39:25.2363 0CF00A00 [8] FF FF 00 00 FF FF FF FF
Found: Engine Gas Flow Rate from Engine #1 (0):
  SPN  2659, Engine EGR 1 Mass Flow Rate: Not Available
  _**SPN   132, Engine Intake Air Mass Flow Rate: 0.000000 kg/h**_
  SPN  5257, Engine

[2021-06-09 05:44] ericthomasswenson commented on #1029
See https://github.com/Equipment-and-Tool-Institute/j1939-84/issues/817 for the planned addition of SP 12691 into the exclusion list.  Perhaps we should provide the planned exclusion list in Task 1.

c. Omit the the following SPNs (588, 976, 1213, 1220, 12675, **_12691_**, 12730, 12783, 12797) which are included in the list. Display the completed list noting those omitted SPNs, supported SPNs as ‘

[2021-06-09 05:58] ericthomasswenson commented on #811
#813 is the fix ticket for both #811 (open) and #966 (closed, duplicate)

[2021-06-10 14:37] mmschaefer commented on #811
Per @ericthomasswenson - closing ticket as correct ticket  [#813](https://github.com/Equipment-and-Tool-Institute/j1939-84/issues/813) will be used to track the work/fix.

[2021-06-10 14:37] #811 closed, assigned to ericthomasswenson

[2021-06-10 18:11] ericthomasswenson opened #1039 "Accommodate Tests that run KOEO — Task 8 proposal"
Tests that run KOEO are problematic for multiple tests.  Here they elicit a presumed false failure when they run and complete before they can be queried. One heuristic is to collect all the KOEO completions at the end of the part 1 test and excuse or warn the part 1 completed results from future erasure failures.

15:30:58.9386 Sending DM7 for DM30 to Engine #1 (0) for SPN 157
15:30:58.9421 18E300

[2021-06-10 18:21] ericthomasswenson commented on #1039
For Part 1, one potential heuristic is to warn for completed tests and fail if the number of completed tests exceeds a figure of merit.  This figure of merit could be a single digit percentage, or a user Entered (alternate) limit defined by the certificate holder’s certificate application data submission.

[2021-06-10 18:27] ericthomasswenson commented on #1039
Otherwise CARB must accept that there can never be a J1939-84 test with zero failures.
Collaboration with CARB will be required to create more specific performance requirements.

[2021-06-14 12:59] mmschaefer opened #1040 "Consolidated Part 1 Test 26 Data Stream J1939-84 Model Text"
Part 1 Step 26 Test: provide a consolidated specification text model for all data stream tests before adding NOx Binning GHG Tracking specific tests.

Cloned from j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): Equipment-and-Tool-Institute/j1939-84#985

[2021-06-14 12:59] mmschaefer commented on #1040
6.1.26 Data stream support verification
6.1.26.1 Actions:
a. Create a list of expected SPs and PGs from the DM24 response, where the data stream support bit defined in SAE J1939-73 5.7.24 is 0.
b. Add any omissions from Table A-1, excluding those SPs noted (as CI or SI) for the opposite fuel type provided by the user.
c. Omit the the following SPNs (588, 976, 1213, 1220, 12675, 12691, 12730, 12783

[2021-06-14 12:59] mmschaefer commented on #1040
Unconsolidated issues may now be closed.  Implementation issues for future enhancements will refer to this issue.

[2021-06-14 12:59] mmschaefer commented on #1040
Proposed Part 2 Test 17 Text

6.2.17 KOER Data Stream Verification
6.2.17.1 Actions
**a. Display the completed list noting those omitted SPs, supported SPs as ‘broadcast’ or ‘upon request’, and additions from Table A-1.
b**. Gather broadcast data for all SPNs that are supported for data stream in **_the OBD ECU DM24 responses, and the added SPNs from Table A-1, using the SPN list from Part 1. This

[2021-06-14 13:54] mmschaefer opened #1041 "Create the Business Proposal Section"
The business proposal section shall provide a price schedule for the statement of work and list of deliverables.  The price list shall be supported with a model work schedule which discloses provider's basis of estimate for each task and deliverable.  The model work schedule shall be scaled in weeks after receipt of order (ARO).

The business proposal section shall pledge key personnel for the exe

[2021-06-14 16:12] mmschaefer opened #1042 "Create the Technical Proposal Section"
The technical proposal section shall identify provider's approach for the SAE J1939-84 3.2.x Software Maintenance.  The maintenance work is described in SAE J1939-84 3.2 Maintenance Statement of Work, as supported by Draft Nox Binning and GHG Tracking additions to SAE J1939-84 with Example Tabular Displays, and Proposed Table A-1 Additions [Table A-1 Additions](https://github.com/Equipment-and-Too

[2021-06-15 15:42] mmschaefer commented on #667
[Example NOx Binning GHG Tabular Displays May12-2021.docx](https://github.com/Equipment-and-Tool-Institute/j1939-84/files/6656444/Example.NOx.Binning.GHG.Tabular.Displays.May12-2021.docx)
This link works.  Use it.

[2021-06-15 16:11] mmschaefer commented on #804
@gumbelmj - Is this related to #984

[2021-06-15 16:12] mmschaefer commented on #804
Closed accidentally.

[2021-06-16 12:45] mmschaefer commented on #971
@ericthomasswenson - the reverence above is to 6.1.26.2.(f?). The latest copy of the spec only goes to 6.1.26.2.e.  Code change ticket?

[2021-06-16 15:45] mmschaefer commented on #971
This is actually referring to 6.1.26.2.e. - will also require a code change if doing.

[2021-06-16 21:36] ericthomasswenson commented on #971
We can fix providing f instead of e during maintenance contract fixes for test 1.26.
Doing it now, for inclusion in the first maintenance release, would avoid a potential error of omission.
Your choice, add a maintenance issue to track it separately from this issue.
This issue is about what the -84 document should say in table A-1 for the future test 1.26 performance.

[2021-06-25 03:50] ericthomasswenson commented on #983
Added to 6.11.7.1 et.al as defined above for 24June as built draft

[2021-06-25 03:50] #983 closed, assigned to ericthomasswenson

[2021-06-25 04:16] ericthomasswenson commented on #980
Added to 24June As built draft.

[2021-06-25 04:16] #980 closed, assigned to ericthomasswenson

[2021-06-25 04:24] ericthomasswenson commented on #967
6 is now 5 and
aa * b * A12345 -- Unit number field and delimiter not provided for six character serial number | Pass
added to serial number examples in Appendix A ESN Example table in 24 June as built draft.

[2021-06-25 04:24] #967 closed, assigned to ericthomasswenson

[2021-06-25 04:28] ericthomasswenson commented on #928
Footnote 2 inserted into 24June as built draft as: "Implementors are encouraged to detect overlapping queries created by on-board devices using the test tool’s F9h address. Notices to the user through the implementor’s user interface, and messages in the test log of these occurrences are recommended."

[2021-06-25 04:28] #928 closed, assigned to ericthomasswenson

[2021-06-25 04:34] ericthomasswenson commented on #900
Ignore previously active count when DM2 is not supported. added to 24 June As built draft as indicated above.

[2021-06-25 04:34] ericthomasswenson commented on #900
Ignore previously active count when DM2 is not supported. added as indicated above in 24 June as built draft

[2021-06-25 04:34] #900 closed, assigned to ericthomasswenson

[2021-06-25 04:39] ericthomasswenson commented on #873
add to 24 June as built draft as
b.   Fail if no OBD ECU provides freeze frame data (i.e. an empty freeze frame is provided by all OBD modules).

[2021-06-25 04:39] #873 closed, assigned to ericthomasswenson

[2021-06-25 04:46] ericthomasswenson commented on #1003
Amended as shown in the 24 June As Built Draft

[2021-06-25 04:46] #1003 closed, assigned to ericthomasswenson

[2021-06-25 04:59] ericthomasswenson commented on #902
Updated 6.11.8.3 as SCR (SP 4792, 4364, or 5308), Catalyst (SP 3050), EGR (SP 3058) NOx sensor (SP 5318), O2 sensor (3056), boost (SP 5321) and fuel system (SP 3055) have not incremented by one.

Updated 6.1.8.2 to add When a numerator and denominator are provided as FFFFh and FFFFh, the monitor identified in the label SPN shall be considered to be unsupported.

[2021-06-25 04:59] #902 closed, assigned to ericthomasswenson

[2021-06-25 05:07] ericthomasswenson commented on #899
976 is on the omit list now.  Corrected 6.2.17 to match 6.1.26 too.

a. Create a list of expected SPNs and PGNs from the DM24 response, where the data stream support bit defined in SAE J1939-73 5.7.24 is 0. Omit the the following SPNs (588, 976, 1213, 1220, 12675, 12730, 12783, 12797) which are included in the list. Omit any remaining SPNs that map to multiple PGs. Display the completed list notin

[2021-06-25 05:07] #899 closed, assigned to ericthomasswenson

[2021-06-25 05:09] ericthomasswenson commented on #877
No specific recommendation for as built draft

[2021-06-25 05:09] #877 closed, assigned to gumbelmj, ericthomasswenson

[2021-06-25 05:17] ericthomasswenson commented on #771
CA was replaced with CLR in for spots in Part 8 test 12 for the 24 June as built draft

[2021-06-25 05:17] #771 closed, assigned to ericthomasswenson

[2021-06-25 05:24] ericthomasswenson commented on #545
Added text and inserted footnote 4 into 24June as built draft

[2021-06-25 05:24] #545 closed

[2021-07-01 18:02] ericthomasswenson commented on #436
Joe, I see a let it ride vibe here with no documentation proposal for the Jun24 as built.
The other 6.I-VII proposals were completed...

I believe we agreed to let experience for the current implementation guide additional changes, with the possible exception of increasing the 600 ms timeout to 720 ms timeout based on the UR experiences for UR PGs that were sent on broadcast schedules, for the mai

[2021-07-01 18:02] #436 closed

[2021-07-01 18:16] ericthomasswenson opened #1043 "Assess 600 ms Timeout Performance after Test 1.26 and 2.17 Maintenance"
Assess the need to increase the 600 ms timeout figure of merit to the 720 ms timeout defined in J1939-21 Appendix C for TP.DT reception, based on a preponderance of timing failures for test 1.26 and 2.17, leading to missed 1 Hz PGs due to timeout race conditions.

Document the change in D.I-VII if the change is accepted.

See #436 for background information.

[2021-07-01 18:25] ericthomasswenson opened #1044 "Assess DS query reception success"
Assess reported issues for a pattern of DS query response complaints regarding lack of retries or failures to provide retries when code 3 (busy) was received.

Update 6.D.I-VII as may be appropriate to action taken.

See #436 for background information.

[2021-07-07 22:29] ericthomasswenson opened #1045 "DS Query to SA 0 expected after Busy response"
DS Query to SA 0 expected after Busy response for DM20

Observed on 3.0.10 by Scania

07:25:15.7080 Global DM20 Request
07:25:15.7081 18EAFFF9 [3] 00 C2 00 (TX)
07:25:15.7155 1CE8FF00 [8] 03 FF FF FF FF 00 C2 00
Acknowledgment from Engine #1 (0): Response: Busy, Group Function: 255, Address Acknowledged: 255, PGN Requested: 49664
07:25:15.8353 18C2FF3D [11] 07 00 00 00 B8 12 F8 06 00 00 00
DM20 fr

[2021-07-07 22:36] ericthomasswenson opened #1046 "DS query for DM 19 to SA 61 was not observed."
DS query for DM 19 to SA 61 was not observed.  V.3.0.10

Start Test 2.5 - DM19: Calibration information

07:25:16.9318 Destination Specific DM19 Request to Engine #1 (0)
07:25:16.9339 18EA00F9 [3] 00 D3 00 (TX)

// to each OBD ECU?
// query to SA 61 not in log

[2021-07-07 22:37] ericthomasswenson commented on #1046
Will retest with V3.0.12, and a different adapter

[2021-07-07 22:38] ericthomasswenson commented on #1045
Will retest on V.3.0.12 and a different adapter

[2021-07-08 00:33] ericthomasswenson opened #1047 "Display FF length from DM24"
In the example, below the FF was not decoded

May the overall calculated length be displayed too

   2  SPN 3464 - Engine Throttle Actuator 1 Control Command
   1  SPN 641 - Engine Variable Geometry Turbocharger Actuator #1
   1  SPN 2795 - Engine Variable Geometry Turbocharger (VGT) 1 Actuator Position
**_Total Freeze Frame Data Length 999 bytes_**
]

[2021-07-08 00:37] ericthomasswenson commented on #1047
Start Test 3.12 - DM24: SPNs Supported

...
07:27:00.2400 Destination Specific DM24 Request to Engine #1 (0)
07:27:00.2404 18EA00F9 [3] B6 FD 00 (TX)
07:27:04.1624 18FDB600 [544] 01 02 1C 01 5C 00 1C 01 00 02 1C 01 6E 00 18 01 BE 00 1C 02 20 02 1C 01 1B 02 1C 01 1C 02 1C 01 1D 02 1C 01 1E 02 1C 01 1F 02 1C 01 E5 0C 1C 02 54 00 1C 02 6C 00 18 01 A8 00 1C 02 5B 00 1C 01 67 04 1C 02 AB 00 1C 02 46 0A

[2021-07-08 00:40] ericthomasswenson commented on #1047
Start Test 3.13 - DM25: Expanded freeze frame

07:27:04.7733 Destination Specific DM25 Request to Engine #1 (0)
07:27:04.7741 18EA00F9 [3] B7 FD 00 (TX)
07:27:04.7781 1CE8FF00 [8] 03 FF FF FF F9 B7 FD 00
Acknowledgment from Engine #1 (0): Response: Busy, Group Function: 255, Address Acknowledged: 249, PGN Requested: 64951
07:27:04.9797 18EA00F9 [3] B7 FD 00 (TX)
07:27:04.9879 1CE8FF00 [8] 03 FF FF

[2021-07-08 00:45] ericthomasswenson commented on #1047
6.4.10 DM25: Expanded freeze frame
6.4.10.1 Actions:
a. DS DM25 (send Request (PGN 59904) for PGN 64951 (SPNs 3300, 1214-1215)) to each OBD ECU.
6.4.10.2 Fail criteria:
a. Fail if no ECU reports freeze frame data.
b. Fail if DTC in freeze frame data does not include the DTC reported in DM12 earlier in this part.
c. Fail if NACK not received from OBD ECUs that did not provide DM25 response.

[2021-07-08 01:28] ericthomasswenson opened #1048 "FF False Failure in Part 8 V.3.0.10"
FF False Failure in Part 8 V.3.0.10

**_FAIL: 6.8.10.2.a - DTC(s) reported in the freeze frame by Engine #1 (0) did not include either the DTC reported in DM12 or DM23 earlier in this part_** is incorrect.
**_In fact it included both the DM12 and DM23 FFs (and three extras)_**

Start Test 8.10 - DM25: Expanded freeze frame

07:30:57.5242 Destination Specific DM25 Request to Engine #1 (0)
07:30:57.

[2021-07-08 01:40] ericthomasswenson commented on #1048
Start Test 8.2 - DM12: Emissions related active DTCs

Attempt 1

07:30:48.6730 Global DM12 Request
07:30:48.6744 18EAFFF9 [3] D4 FE 00 (TX)
07:30:48.6754 18FED417 [8] 00 FF 00 00 00 00 FF FF
DM12 from Instrument Cluster #1 (23): MIL: off, RSL: off, AWL: off, PL: off, No DTCs
07:30:48.6758 18E8FF4C [8] 01 00 FF FF FF D4 FE 00
Acknowledgment from Communications Unit, Radio (76): Response: NACK, Grou

[2021-07-08 02:39] ericthomasswenson opened #1049 "Potential false failure in DM33 query for Part 9"
Potential false failure in DM33 query for Part 9

FAIL: 6.9.7.2.a - Exhaust Emission Controller (61) reported a different number of EI-AECD timers than was reported in part 2
// Responses displayed for SA 61 are consistent
// But they are different from SA 0 response.

Start Test 9.7 - DM33: Emission increasing AECD active time

07:31:48.8525 Global DM33 Request
07:31:48.8532 18EAFFF9 [3] 00 A1 00

[2021-07-08 02:44] ericthomasswenson commented on #1049
Need expectation whether SA 0 and SA 61 are allowed to provide local counts for local EI-AECDs.   (Like test results)

EI AECD numbers need to be unique, as they are to have a unique description in the cert. application.

The criteria does not enforce this. It enforces whether the same EI AECD numbers are provided each time compared to the part 2 response.

Part 9 criteria also check whether timer

[2021-07-08 04:01] ericthomasswenson opened #1050 "Correct SA picked for DS DM11 In Test 9.8 V.3.0.10"
Correct SA picked for DS DM11 In Test 9.8 V.3.0.10

SA 61 believed to be correct, based on Test 8.2 ... as it is MIL Off

Start Test 9.8 - DM11: Diagnostic data clear/reset for active DTCs

07:31:50.0618 Destination Specific DM11 Request to Exhaust Emission Controller (61)
07:31:50.0630 18EA3DF9 [3] D3 FE 00 (TX)
07:31:50.0958 1CE8FF3D [8] 00 FF FF FF F9 D3 FE 00
Acknowledgment from Exhaust Emissi

[2021-07-08 04:12] ericthomasswenson commented on #1050
6.9.8 DM11: Diagnostic data clear/reset for active DTCs
6.9.8.1 Actions:
a. DS DM11 (send Request (PGN 59904) for PGN 65235) to each OBD ECU without DM12 active MIL on DTC, based on the list created in step 6.9.2.1.52
b. Wait 5 seconds before checking for erased data.
6.9.8.2 Fail criteria:
a. Fail if any ECU partially erases diagnostic information (pass if it erases either all or none).
b. Fail i

[2021-07-08 04:35] ericthomasswenson opened #1051 "Steps 6.9.8.3 & 6.9.8.4 appear to be missing. V.3.0.10"
Steps 6.9.8.3 & 6.9.8.4 appear to be missing from the following log.

[2021-07-08 04:43] ericthomasswenson commented on #1051
End Test 9.7 - DM33: Emission increasing AECD active time

Start Test 9.8 - DM11: Diagnostic data clear/reset for active DTCs

07:31:50.0618 Destination Specific DM11 Request to Exhaust Emission Controller (61)
07:31:50.0630 18EA3DF9 [3] D3 FE 00 (TX)
07:31:50.0958 1CE8FF3D [8] 00 FF FF FF F9 D3 FE 00
Acknowledgment from Exhaust Emission Controller (61): Response: ACK, Group Function: 255, Address

[2021-07-12 17:43] ericthomasswenson commented on #1051
The vehicle was found to violate test condition assumptions.
Correct performance will be rechecked at a later date.

[2021-07-12 17:46] ericthomasswenson commented on #1048
Let’s discuss

See #1095 For Similar Complaint

[2021-07-12 17:48] ericthomasswenson commented on #1046
The vehicle was found to violate test condition assumptions.
Correct performance will be rechecked at a later date.

[2021-07-12 17:48] ericthomasswenson commented on #1045
The vehicle was found to violate test condition assumptions.
Correct performance will be rechecked at a later date.

[2021-07-12 17:53] ericthomasswenson commented on #1043
750 ms timeout for TP as given in J1939-21 was confirmed.
Frequency of race conditions in task 1 changes to be assessed.

[2021-07-12 18:01] ericthomasswenson commented on #1044
One recent vehicle was found to violate test condition assumptions.
Correct performance will be rechecked at a later date, when busy replies are observed again.

[2021-07-13 14:06] mmschaefer commented on #1051
Observed by @ericthomasswenson  **// 6.9.8.3 Header is missing here?** above, is not actually what has happened here.  6.9.8.3.a is the DS DM11 to each OBD which is written out correctly prior to the listing for section 6.9.8.2.  Because 6.9.8.2 is verifying, sorting and assembling data which takes longer than the transmission of the individual DM11 requests to the module, the data for the DM11 re

[2021-07-13 16:13] mmschaefer commented on #1051
@ericthomasswenson can we get the packet log for this as it appears to have stopped executing at step 6.9.8.2 at the very and.  We may have thrown an exception and need to do some investigating as 6.9.8.4 & 6.9.8.6 should have both appeared at the end of the log.

[2021-07-13 23:07] ericthomasswenson opened #1052 "Correct Omissions in Table A-4-2"
NEW1 and NEW2 were not replaced with actual values in Table A-4-2.
On 7/21/2021, a need for NEW3, Air Fuel Cylinder Imbalance was identified by CARB in addition to NEW1 and NEW2, for Table A-4-2 and J1939-73 5.7.20 Table 17

Add new values from Table 17, after August Committee meetings.
(Application layer will need to assign three diagnostic SPs).

Define ‘all or nothing’ bank2 rule for assessment

[2021-07-13 23:09] ericthomasswenson commented on #1052
as proposed to CARB 7/13/2021, and confirmed with CARB on 7/21/2021 and revised 7/30/2021, 8/5/2021, & 8/8/2021 for Table A-4-2.

Monitored System | SPN | SPN Name
-- | -- | --
Secondary Air | 3054 | Secondary Air System Monitor
EGR | 3058 | EGR System Monitor
VVT System | 3306 | Variable Valve Timing and/or Control
Evaporative Emissions | 3053 | Engine Evaporative System Monitor
Catalyst | 3050 |

[2021-07-15 01:13] ericthomasswenson commented on #1052
CARB accepts. Need text. Acceptance of proposed text confirmed 7/21/2021.

[2021-07-15 01:43] ericthomasswenson commented on #1052
2.	All responses received from all responding ECUs/devices shall be combined with appropriate ‘AND/OR’ logic to create a composite vehicle monitor performance response (i.e., if one or more responses indicates a particular SP as supported with numerator and denominator data, then the composite vehicle monitor performance shall indicate that SP is supported for monitor performance data else it shal

[2021-07-15 02:11] ericthomasswenson opened #1053 "Update SAE J3162 IUMPR Tool to Java 11"
1. Update SAE J3162 IUMPR Tool to Java 11 using the same Java 11 version

This work:
2. Add NOX Binning and GHG Tracking to Functions B and E, by adapting J1939-84 queries and displays.
was moved to ticket [#1054](https://github.com/Equipment-and-Tool-Institute/j1939-84/issues/1054)

[2021-07-15 11:39] mmschaefer opened #1054 "Add NOX Binning and GHG Tracking to Functions B and E, to IUMPR Tool"
From j1939-84 created by [ericthomasswenson](https://github.com/ericthomasswenson): Equipment-and-Tool-Institute/j1939-84#1053

1. Update SAE J3162 IUMPR Tool to Java 11 using the same Java 11 version
2. Add NOX Binning and GHG Tracking to Functions B and E, by adapting J1939-84 queries and displays.

[2021-07-15 12:35] mmschaefer opened #1055 "Part 01 Step 26 Controller Unit Test"
Unit tests need to written for Part 01 Step 26 Controller

[2021-07-15 12:36] mmschaefer opened #1056 "Part 02 Step 17 Controller Unit Test"
Unit tests need to written for Part 02 Step 17 Controller

[2021-07-20 14:27] #1056 closed, assigned to mmschaefer

[2021-07-21 22:38] ericthomasswenson opened #1059 "Support DEF Used This Operating Cycle in Table A-1"
Support DEF Used This Operating Cycle in Table A-1

DEF Used This Operating Cycle in Table A-1 is needed for 2024 MY engines

[2021-07-21 22:51] ericthomasswenson commented on #1059
Add a category of 2 SPs to Table A-1 for Diesel Exhaust Fluid Used This Operating Cycle

SPN | Name | PGN | Broadcast or Upon Request? | Fail if SPN is Not Supported in DM24 | Warn/info if SPN is Not Supported in DM24 | Warn/info if More Than 1 SPN is Supported | Action if Two or More ECUs Respond | Action if SPN Provided by Non-OBD Module | Action if SPN Provided but Not Included in DM24 | Warn i

[2021-07-21 22:52] ericthomasswenson commented on #1059
SPs 5963 and 5964 define lifetime totals and not operating cycle totals and are not relevant.

[2021-07-27 19:49] vmuthu2 commented on #989
Please add PM sensor SPNs to it. SPN 7393 and SPN 5835 need to be added to this list.

[2021-07-28 02:21] ericthomasswenson commented on #989
As written it’s a general principle…. And should be accepted for any SP including the omitted PM mass sensors, SPN 7393 and SPN 5835.

If Needed, we can add fail if FBh in Table A-1 Entries.

It’s not worth the groups’ time to chase FBh sensor by sensor.

There are more important issues for our limited funds.

The recommendation provided to Greg Gillham for J1939DA:

Please add the following note

[2021-07-28 04:17] ericthomasswenson commented on #989
A more extensive list could include:
3216 3217 3221 3225 3226 3227 3231 3235
3255 3256 3260 3264 3265 3266 3270 3274
7649 7660 7661 7665 7670 7671 7682 7650
7654 7659 7672 7676 7681 7683 7687 7692
9177 9178
12754 12755 12750 12751

[2021-07-28 05:23] ericthomasswenson opened #1060 "Reorganize Table A-5-1, 2 For New Tests"
Test progress has left the ten year old concepts in the dust.
Need new alternate tests for CI Engines added to Table A-5-1.
Candidate test SP and FMIs will be collected and reviewed with CARB.

Collect feedback on omissions for Table A-5-2, too.

[2021-07-30 19:50] ericthomasswenson commented on #1052
Ideally we should add any CI changes to this Issue.

Table A-4-1 - Composite vehicle monitor support (Diesel) Monitored System

Monitored System | SPN | SPN Name
-- | -- | --
NMHC Converting Catalyst | 5322 | Aftertreatment NMHC Converting Catalyst System Monitor
Exhaust Gas Sensor | 5318 | Aftertreatment Exhaust Gas Sensor System Monitor
EGR System | 3058 | EGR System Monitor
IPM Filter | 3064 |

[2021-08-05 12:51] #1042 closed, assigned to battjt, gumbelmj

[2021-08-05 12:52] #1041 closed, assigned to battjt, gumbelmj

[2021-08-10 16:08] vmuthu2 commented on #982
We just observed another issue with Part 11 Test 7. Majority of the trucks are built with Engine Idle Shutdown feature. When idling the truck for 10 minutes to exercise the general denominator, the engine idle shutdown feature kicks in. To disable engine idle shutdown, the accelerator pedal needs to be used when the engine is idling at base idle (650 rpm). Plausibility check is executed at that ti

[2021-08-10 22:50] ericthomasswenson opened #1061 "Standardize DM11 Action to Consistent Phrasing"
Pick one phrasing and use throughout.  No software should change for this document improvement.

6.1.10.1.b Allow 5 seconds to elapse before proceeding with test step 6.1.9.2.
6.9.8.3.b Wait 5 seconds before checking for erased data.
6.9.8.5.b Wait 5 seconds before checking for erased data.
6.12.9.1.b Wait 5 seconds before checking for erased data.
6.12.9.3.b Wait 5 seconds before checking for era

[2021-08-10 23:28] ericthomasswenson commented on #982
The WMA is supposed to catch engine speed blips.
Relaxed plausibility values are included in Task 1, and can be expanded.
Which is the better explanation.
Vimal will check and a new ticket will be raised.

[2021-08-13 23:53] ericthomasswenson opened #1062 "Assess 7/22/2021 DM5 monitor support bits that are now always complete."
Assess DM5 impact for

7/22/2021 Hearing Proposal:
(h)(4.1.1) … The readiness status for the following component/system
readiness bits shall always indicate “complete”:
(A)(i) Diesel misfire (section (e)(2)) for engines **_with a single monitor
designed to detect both misfires identified in section (e)(2.2.1)_** and subject to the monitoring conditions of sections (e)(2.3.1) and (e)(2.3.2)
and mis

[2021-08-31 19:55] ericthomasswenson opened #1063 "Value observed for SP 188 Engine Idle Speed not used in Part 11 test 7"
Value observed for SP 188 Engine Idle Speed not used in Part 11 test 7.

As a result the engine idle speed timer does not increment, and the user must abort the test

Start Test 11.7 - DM20/DM28/Broadcast data: Waiting until general denominator is met
11:59:08.1993 Test Update:
          Engine Speed: 831.25 RPM
      WMA Engine Speed: 831.25 RPM
     **_Idle Engine Speed: 600.0 RPM_**
        Ped

[2021-08-31 19:57] ericthomasswenson commented on #1063
PGN 65251 with Supported SPNs 544
11:08:27.8113 18FEE300 [39] 00 19 C3 20 4E DB 60 22 D9 80 25 DE 40 38 E1 20 4E FF FF 52 03 00 4B 3C 46 FA 7D DE 20 4E 86 00 FF FF FF FF FF FF FF
Found: Engine Configuration 1 from Engine #1 (0):
  **_SPN   188, Engine Speed At Idle, Point 1:_** **_800.000000 rpm_**
  SPN   539, Engine Percent Torque At Idle, Point 1: 70.000000 %

[2021-08-31 20:00] ericthomasswenson commented on #1063
Recommend correcting this in conjunction with #982

[2021-08-31 20:16] ericthomasswenson commented on #1063
Vimal’s examples in #982 show 650 as engine idle speed … which was used as the standard.

[2021-09-02 16:55] mmschaefer commented on #1063
@ericthomasswenson - Can we get all files and logs on this, please?

[2021-09-06 21:52] ericthomasswenson opened #1064 "WMA engine speed in part 11 test 7 overstates engine speed"
Testing with 3.0.11 was observed to overstate WMA Engine Speed.

Time above 1150 did not accumulate.  The value was stuck at 10s

10:26:46.6392 Test Update:
Engine Speed: _**1424.125**_ RPM
WMA Engine Speed: **_1441.9817081773729_** RPM
Idle Engine Speed: 750.0 RPM
Pedal Position: 15.600000000000001 %
Run Time >= 1150 RPM: _**10**_ seconds
Run Time at Idle: 185 seconds
Total Run Time: 424 seconds

[2021-09-06 22:07] ericthomasswenson commented on #1064
This example data was collected:

10:26:46.6392 Test Update:
          Engine Speed: **_1424.125 RPM_**
      WMA Engine Speed: **_1441.9817081773729_** RPM
     Idle Engine Speed: 750.0 RPM
        Pedal Position: 15.600000000000001 %
  Run Time >= 1150 RPM: **_10_** seconds
      Run Time at Idle: 185 seconds
        Total Run Time: 424 seconds

10:27:46.5722 Test Update:
          Engine Speed:

[2021-09-06 23:41] ericthomasswenson commented on #1063
Logs have been provided.  See #1063 for related issue.

[2021-09-09 01:18] ericthomasswenson commented on #1063
Item 3 was suggested as the better approach.
2. I’m thinking I should add an action step: …
3. Should the proposed step say
a. Send global request (PG 59904) for EC1 (PG 65351) to obtain SP 188 Engine Idle Speed.  If SP 188 is not provided, use the value provided from Part 1 Test 26, or Part 2 test 17, when observed.  Otherwise, use 725 rpm as the default idle speed standard for test 6.7.
… instea

[2021-09-15 15:10] ericthomasswenson opened #1065 "Update SP 84 from Warn to Info"
CARB approved modification of SP 84 entries as shown in the attached image and table A-1 text.

These changes are not perceived to be material change to the level of effort for Table A-1 changes given in #820, #818, #982, #970, #971, #859, #515

![image](https://user-images.githubusercontent.com/78398059/133455579-5b277fc9-c3ce-42b8-8dfe-e30379857921.png)

[J1939-84-Table-A-1-MY24 15Sept2021.docx]

[2021-09-17 13:54] mmschaefer opened #1066 "DM Label Mismatch in Test 6.1.4.2.a"
Reported by field tech:
"This was found using v3.0.10
Is this a DM label mismatch?

DM25 should be DM24?

10:46:00.5773 Destination Specific DM24 Request to Exhaust Emission Controller (61)
10:46:00.5819 18EA3DF9 [3] B6 FD 00 (TX)
10:46:01.1786 Timeout - No Response

10:46:01.6882 Destination Specific DM24 Request to Exhaust Emission Controller (61)
10:46:01.6917 18EA3DF9 [3] B6 FD 00 (TX)
10:46:0

[2021-09-24 00:03] ericthomasswenson opened #1067 "Transposed Entries Observed in CAN Message Logs"
Logs documenting the complaint show transposed TP.DT packets, based on adapter arrival times and typical packet numbering practices.

…
    11:34:21.4943 0CF0021B [8] FF 00 00 00 0F 00 00 00
    11:34:21.4948 0CF00400 [8] 70 7D 88 72 17 00 0F 89
    11:34:21.4967 18F00F00 [8] 00 FB FF FF FF 9F FF FF
    11:34:21.4973 1CECFF00 [8] 20 0A 00 02 FF CA FE 00
    // Next TP.BAM Starts before the last on

[2021-09-24 00:07] ericthomasswenson commented on #1067
V.3.0.13 addresses a user complaint with their use of V.3.0.12.

A single line change reversed a multiple thread approach that was intended to better support “slower/older” laptops, which created a side effect where TP.DT packets could be transposed.

Transpositions occurred during periods where TP messages were presented to the adapter in a back-to-back fashion with no intervening messages. When,

[2021-09-24 00:07] #1067 closed, assigned to battjt

[2021-10-28 17:49] ericthomasswenson commented on #978
Check 2019 MY Misfire change

(4.1.1)  The  readiness  status  for  the following  component/system  readiness  bits shall  always  indicate “complete”: (A) Diesel  misfire (section (e)(2))  for  engines  with  a  single monitor  designed to detect  both  misfires  identified in section (e)(2.2.1) and subject  to the monitoring  conditions  of  sections  (e)(2.3.1)  and (e)(2.3.2)  and misfires  i

[2022-01-21 15:16] ericthomasswenson opened #1068 "Process Model: User Test - Issue #849 ECM DM3 ACK does not fail"
(Model)
Confirm completion of issue #849
Does not fail ECM ACK for DM3

… (admin) mention assigned number in original issue (here 849)

Use multiple assignees as appropriate to collect ideas from multiple organizations.

Use the UT label to Identify as a User Test contribution
The UVAR label will be added (typically) when the associated software is committed to a release.
The documentation label s

[2022-01-21 15:17] ericthomasswenson commented on #1068
(Unit Test suggestions here
Cite test step e.g. 6.X.Y.Z.a)

Test Step 6.X.Y.Z.a — (Description)

(Provided as Query and Vehicle System Responses in hex)
Vehicle Query and Response(s)

E.G. x18EADAF9 00 PG 00 (PDU1)
E.G. x18EAFFF9 GE PG XX (PDU2)
E.G. x18PGDASA X1 X2 X3 X4 X5 X6 X7 X8 (PDU1)
E.G. x18PGGESA X1 X2 X3 X4 X5 X6 X7 X8 (PDU2)

(And outcome description here)
Expected Outcome:
E.G. The res

[2022-01-21 15:17] ericthomasswenson commented on #1068
Unit Test Title / Description Here

User test evidence here (often in a separate comment)

[2022-01-21 15:38] ericthomasswenson commented on #1068
Closing comment when success achieved: example test description attached to this ticket, and code commited for next release.

Mentioned issue closed separately, after acceptance and has been released.

[2022-01-21 15:49] ericthomasswenson opened #1069 "Process Model: User Test - Candidate Release 3.1.xx — (PCAR, CMNS, DDC, NAV)"
(Model) User System Test Assignment.
(Distinct assignments may be used for SI, and Distinct Engine Families, to be identified in title and here)

Use the UT label to Identify as a User Test contribution
The UVAR label will be added when the associated software is committed to a release.
The documentation label shall not be used.

[2022-01-21 15:52] ericthomasswenson commented on #1069
Add mentions for candidate bugs here.
Data to be included in issue descriptions and comments for linked #bug

[2022-01-21 15:53] ericthomasswenson commented on #1069
Administratively closed after each mention is fixed (committed to a release) or assigned for future work

[2022-01-25 17:00] ericthomasswenson opened #1070 "User Test - DM24 Tabular Display Including DM58"
Use the following vehicle example data for DM24 tabular display unit test that includes DM58 support displays.

Reference #913

[2022-01-25 17:01] ericthomasswenson commented on #1070
10:08:44.3542 Destination Specific DM24 Request to Engine #1 (0)
10:08:44.3589 18EA00F9 [3] B6 FD 00 (TX)
10:08:44.3692 18FDB600 [240] 54 00 1D 02 5B 00 1D 01 5C 00 1D 01 5E 00 1D 01 60 00 1D 01 64 00 1D 01 66 00 1D 01 69 00 1D 01 6A 00 1D 01 6C 00 1D 01 6E 00 1D 01 A8 00 1D 02 AB 00 1D 02 AE 00 1D 01 AF 00 1D 02 B7 00 1D 02 BC 00 1D 02 BE 00 1D 02 EB 00 1D 04 ED 00 1D 00 F7 00 1D 04 F8 00 1D 04 9

[2022-01-26 01:45] ericthomasswenson commented on #1070
Example messages and outcomes.
Does not include FF offset display.

[DM24-DM58-Support-Bit-UT.docx](https://github.com/Equipment-and-Tool-Institute/j1939-84/files/8094201/DM24-DM58-Support-Bit-UT.docx)

(Corrected Truth Table Example 1/27/2022)
(Add omitted SP 10 02 to truth table message 2/18/2022)

[2022-01-26 01:47] ericthomasswenson commented on #1070
File includes

Test Message

10:08:44.3542 Destination Specific DM24 Request to Engine #1 (0)
10:08:44.3589 18EA00F9 [3] B6 FD 00 (TX)
10:08:44.3692 18FDB600 [64] **_10 02_**  1F 01 10 01 1E 01 11 00 D F T R 1 1D 01 12 02 1C 01 13 00 1B 01 14 04 1A 01 15 00 19 01 16 00 18 01 17 00 17 01 18 01 16 01 19 00 15 01 1A 02 14 01 1B 04 13 01 1C 01 12 01 1D 00 11 01 1E 02 10 01 1F 00

Outcome

[2022-01-26 02:14] ericthomasswenson commented on #1070
DM58 and R … will be used instead of … EngV and E … as documented in artifacts.

(R matches rationality … implementors’ suggestion)

[2022-01-27 14:37] mmschaefer commented on #913
![Example Output Table](https://user-images.githubusercontent.com/7682306/151380188-a2754c78-a79f-4c6b-acea-c7171e52aede.png)

[2022-02-11 22:23] ericthomasswenson opened #1071 "Example NOx Binning Test Data"
Example NOX Binning Data Created last year
Now with ascii text strings on sheet 5
Now in little Endian

[NOX Bin Test Data.xlsx](https://github.com/Equipment-and-Tool-Institute/j1939-84/files/8081999/NOX.Bin.Test.Data.xlsx)

[2022-02-16 22:07] ericthomasswenson opened #1072 "Provide Example DM58 Responses"
In support of #976, Provide example DM58 data responses covering each Table 25 row, using 1, 2, and 4 byte examples. Scaled data shall match slot limits and resolution in J1939DA

[DM58 Example Responses.xlsx](https://github.com/Equipment-and-Tool-Institute/j1939-84/files/8084948/DM58.Example.Responses.xlsx)

[2022-02-17 00:28] ericthomasswenson commented on #1072
SPs for Enumerated Values are not measured, and are unlikely to appear in a DM58 response.
There are no measured 4-byte SPs in J1939DA at present, test data substitutes a NOx bin SP for the 4-byte demonstration data.
All 00s and all FF are expected to fail.
May need to reconsider FE.

[2022-02-18 00:23] ericthomasswenson commented on #1070
### Truth Table Example Outcome
…

**12:39:50.2992 Global DM5 Request
12:39:50.2986 18EAFFF9 [3] CE FE 00 (TX)
12:39:50.3060 18FECE00 [8] 00 00 14 37 E0 1E E0 1E [0.0074]
DM5 from Engine #1 (0): OBD Compliance: HD OBD (20), Active Codes: 0, Previously Active Codes: 0
12:39:50.9579 Destination Specific DM24 Request to Engine #1 (0)
12:39:50.9577 18EA00F9 [3] B6 FD 00 (TX)
12:39:50.9590 18FDB600 [64

[2022-02-18 05:12] ericthomasswenson opened #1073 "User Test - GHG Tabular Display Example Data"
Provide message values for GHG Tracking Arrays to support #667

[GHG Unit Test Data EV.xlsx](https://github.com/Equipment-and-Tool-Institute/j1939-84/files/8098051/GHG.Unit.Test.Data.EV.xlsx)

[GHG Data Examples UT.docx](https://github.com/Equipment-and-Tool-Institute/j1939-84/files/8098061/GHG.Data.Examples.UT.docx)

[2022-02-18 05:12] ericthomasswenson commented on #1073
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

HH:MM:SS.SSSS GHG Tracking Arrays |   |   |   |   |  
-- | -- | -- | -- | -- | --
  |   |   |   |   |  
  | Active | Stored |   |   |  
  | 100 Hour | 100 Hour | Lifetime |   |  
Engine Run Time,

[2022-02-18 05:31] ericthomasswenson commented on #1073
**GHG Array Examples**

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

  | Active | Stored |  
-- | -- | -- | --
  | 100 Hour | 100 Hour | Lifetime
Engine Run Time, m | 4500 | 6000 | 607507
Vehicle Dist., km | 7053 | 5290 | 535619112
Vehicle

[2022-02-18 19:03] ericthomasswenson opened #1074 "Improve wait time provision before part 3."
Add wait time provision to the Part 2 to Part 3 transition to better accommodate pending fault detection before part 3 starts.  As shown in **_f._** below.  This is intended to reduce excess spin for the DM6 query by giving the user more control over the wait time.

This is perceived to be an additional user prompt after engine start … to indicate the vehicle is expected to provide a positive DM6

[2022-02-18 19:22] ericthomasswenson commented on #1074
When the DTC selected for Fault A takes engine speed manipulation or a relatively long time to mature, this will minimize a potential failure for not detecting DM6 before the DM6 query cycle gives up and fails.

[2022-02-21 15:23] ericthomasswenson opened #1075 "DM21 Global Response Missed in Test 2.9"
I expect that the software saw the NACK first in Part 2.
The engine’s response was observed and reported in Part 1, followed by the NACK.

Start Test 2.9 - DM21: Diagnostic readiness 2

10:22:33.1738 Global DM21 Request
10:22:33.1781 18EAFFF9 [3] 00 C1 00 (TX)
10:22:33.1799 18E8FFE8 [8] 01 FF FF FF F9 00 C1 00
Acknowledgment from Forward Road Image Processor (232): Response: NACK, Group Function:

[2022-02-21 16:02] ericthomasswenson commented on #1075
This pattern (seeing interfering NAC first) appears to have been repeated in Part 3.

Attempt 35

10:44:21.2291 Global DM6 Request
10:44:21.2316 18EAFFF9 [3] CF FE 00 (TX)
10:44:21.2325 18FECF17 [8] 00 FF [00 00 00 00](tel:00 00 00 00) FF FF
DM6 from Instrument Cluster #1 (23): MIL: off, RSL: off, AWL: off, PL: off, No DTCs
10:44:21.2388 18FECF00 [8] 00 FF [00 00 00 00](tel:00 00 00 00) FF FF
DM6

[2022-02-21 16:38] ericthomasswenson opened #1076 "DM11 Retry Missing?"
Engine sent busy, yet 2nd DM11 was not not observed in log.

11:57:23.0553 Global DM11 Request
11:57:23.0583 18EAFFF9 [3] D3 FE 00 (TX)
11:57:23.0609 18E8FF13 [8] 00 00 FF FF FF D3 FE 00
Acknowledgment from Steering Controller (19): Response: ACK, Group Function: 0, Address Acknowledged: 255, PGN Requested: 65235
11:57:23.0615 18E8FF17 [8] 00 FF FF FF F9 D3 FE 00
Acknowledgment from Instrument Clu

[2022-02-21 16:52] ericthomasswenson commented on #1076
27 is likely correct.

from 13 CCR 1971.1 (h)(4)
(4.1.1)  The  readiness  status  for  the following  component/system  readiness  bits shall  always  indicate “complete”: **_(A) Diesel  misfire (section (e)(2))  for  engines  with  a  single monitor  designed to detect  both  misfires  identified in section (e)_**(2.2.1) and subject  to the monitoring  conditions  of  sections  (e)(2.3.1)  and (e

[2022-02-22 16:37] ericthomasswenson opened #1077 "Non OBD Module fails Test 9.23 for DM1"
Body Controller is not an OBD Module.
Body Controller faults should not be relevant.

Start Test 9.23 - DM1: Active DTCs

11:57:52.9291 Reading the bus for published DM1 messages

11:57:53.0299 18FECA0B [8] C0 FF [00 00 00 00](tel:00 00 00 00) FF FF
DM1 from Brakes - System Controller (11): MIL: not supported, RSL: off, AWL: off, PL: off, No DTCs

11:57:53.0756 18FECAE8 [8] 00 FF [00 00 00 00](tel

[2022-02-22 16:49] ericthomasswenson commented on #1077
6.9.23.2 Fail Criteria
a. Fail if any ECU does not report MIL off or MIL not supported.
b. Fail if **_any_** ECU reports an active DTC.
c. Fail if no OBD ECU provides DM1.

3/10/2022 Also,
6.12.6 DM1: Active Diagnostic Trouble Codes (DTCs)
6.12.6.1 Actions
a. Receive broadcast info ([PG 65226 (SPs 1213-1215, 1706, 3038)]).
6.12.6.2 Fail Criteria
a. Fail if any ECU does not report MIL off or not su

[2022-02-22 16:51] ericthomasswenson commented on #1077
The criteria text for DTCs should say
b. Fail if **_any OBD ECU_** reports an active DTCs

There is unanimous agreement to address later.
Additional parties have observed this occurrence.
ETS will look for additional text errors matching this pattern in the -84 ballot draft.

DM1 are active DTCs. DM2: Previously Active

[2022-02-25 19:06] ericthomasswenson commented on #1075
False failures for NACK responses are highly undesirable.
Acceptance of the engine’s positive response is indeed expected by all participants.

ETS to check example -84 text for expected nack behavior and post here.

3/10/2022 Nack handling text, J1934-84 P-18.

_F. The acknowledgement PGN provides the identification of the request in the PGN data field. The data in the field shall be matched to t

[2022-02-25 19:12] ericthomasswenson commented on #1076
Retries after a busy for DM11 are preferred by all.

ETS to check busy retry language in -84 ballot draft.

[2022-02-28 20:48] vmuthu2 opened #1078 "SPN 3700 incorrect WARN - Tool Issue"
SPN 3700 (DPF Active regeneration status) reports binary 10 (regeneration needed - automatically initiated active regeneration imminent).

Tool issue - Tool is decoding 10 binary as ERROR and issuing an incorrect WARN in Part 1 Test 26 and Part 2 Test 17.

Below is the specification for WARNING.
![image](https://user-images.githubusercontent.com/46825003/156055946-a9ea6870-188b-4d7f-9b23-3a1a71946

[2022-03-01 20:33] vmuthu2 opened #1079 "Incorrect timing count in the J1939-84 test summary report outcome"
The timing error count in the test summary report outcome is incorrect. When there is no timing: late responses in the report file, there is one count of timing reported. Attached the report file and j1939_84xx.log files for root cause finding
[report2468311710962679495J1939-84.txt](https://github.com/Equipment-and-Tool-Institute/j1939-84/files/8164570/report2468311710962679495J1939-84.txt)
[j1939

[2022-03-04 19:50] ericthomasswenson commented on #1079
Timing error count in the header was not observed in the detail report as shown in the exhibits. It is believed such errors may be improved when the response time calculations are directly shown in the log.

Recurrences in the candidate releases will be used to start an investigation

[2022-03-04 19:56] ericthomasswenson commented on #1078
The SP 3700 enumeration in J1939-84 does not map 10b to error
10b is mapped to “regeneration needed - automatically initiated active regeneration imminent”.
EMA ETSC to discuss.
Further discussion needed.

[2022-03-06 18:50] battjt opened #1080 "Reconfiguring adapter causes multiple requests for each button press"
Each time we reconfigured the adapter, we added another handler. If you switched from auto to 500 and back to auto, you will see 3 requests sent for each request that should be sent. Reconfiguring the adapter again, would have resulted in 4 packets sent.

Close old adapter handlers when opening new.

[2022-03-09 18:49] jacobbosch-cummins opened #1081 "Tool is silent on datalink adapter error"
We have had a few instances where there is a datalink adapter hardware issue, and the tool does not attempt to reconnect or notify the user.  Progress appears to silently "hang" for the user.  User must manually abort (usually after waiting several minutes).  No indication of errors in log file, but the CAN trace does have a "SEVERE org.etools.j1939_84.bus.RP1210Bus poll Failed to read RP1210
org.

[2022-03-09 19:14] jacobbosch-cummins opened #1082 "J1939-84 too strict on ignition cycle count diagnostic 6.7.13.2.a"
Action 6.6.11.1.d allows for an optional engine start, which is not accounted for by Fail Criteria 6.7.13.2.a.  The J1939-84 tool implements the diagnostic as written, which causes the tool to generate an incorrect failure when engine is not started at 6.6.11.1.d.

Recommend modifying 6.7.13.2.a to allow 2 or 3 ignition cycle increments since Part 5.

[2022-03-09 19:36] jacobbosch-cummins opened #1083 "Tool flagging PGN 7424 broadcast rate"
The J1939DA lists the broadcast rate of PGN 7424 as "Engine speed dependent".  We are observing the message below on our spark ignited products.

PGN 7424 from Engine #1 (0)
09:54:39.1013 0C1DFF00 [8] 7A 66 FF FF FF FF FF FF
09:54:39.1513 0C1DFF00 [8] 7A 66 FF FF FF FF FF FF
09:54:39.2014 0C1DFF00 [8] 7A 66 FF FF FF FF FF FF
FAIL: 6.1.26 - Broadcast period of PGN 7424 (49 ms) by ECU Engine #1 (0)

[2022-03-09 20:33] jacobbosch-cummins opened #1084 "Table A.1 allows multiple ECUs to provide SPN 2978, but flagged by tool"
Table A.1 doesn't require a diagnostic if multiple ECUs provide SPN 2978.  Additionally, Table A.1 does require a failure if provided by a non-OBD device, but the J1939DA allows multiple ancillary devices to provide SPN 2978.

PGN 65247 with Supported SPNs 514, 2978
13:05:57.2070 18FEDF00 [8] 7D A0 28 7D 7D FF FF F0
Found: Electronic Engine Controller 3 from Engine #1 (0):
SPN 514, Nominal Frictio

[2022-03-10 20:12] ericthomasswenson commented on #1077
Preliminary review suggests this text appears isolated cases, and not a general, systematic problem.  Often the example text is shown for tests using DS queries to (all) OBD ECUs, where the responses are limited to OBD ECUs by the query text, and responses are thereby understood to be limited to OBD ECUs.  Non-OBD ECUs reliably do not respond to DS requests to OBD ECUs, so text revisions in such c

[2022-03-10 20:19] ericthomasswenson commented on #1084
The ballot draft says: Fail for ‘Action if SPN Provided by Non-OBD Module’ and ‘Action if SPN Provided but Not Included in DM24’

| 2978* | Estimated Engine Parasitic Losses - Percent Torque | 65247 | BC 250 ms or RPM Dependent | Yes  | No | No | None |  N/A | **_Fail_** | **_Fail_** | > 0%  |  <= 0%  |

[2022-03-10 20:30] ericthomasswenson commented on #1082
6.5.6 DM20: Monitor Performance Ratio
6.5.6.1 Actions
a. DS DM20 {(send Request (PG 59904) for PG 49664 (SP 3048)]) to OBD ECU(s) that provided DM20 data in part 1.
b. Store each ignition cycle counter value (SP 3048) for future use.

6.5.7 Complete Fault A Three Trip Countdown Cycle 1 and Cycle 2
6.5.7.1 Actions
a. Turn the engine off to complete the first cycle.
b. Wait manufacturer’s recommende

[2022-03-10 20:52] ericthomasswenson commented on #1082
Counts of 2 or 3 both appear to be correct for 6.7.13.2.

Recommended for task 8.

[2022-03-10 21:05] ericthomasswenson commented on #1083
PG 7424 has no default period, assumption of 100 ms is incorrect

7424 | Engine Ignition Controller | EIC | Commanded engine ignition timing advance | 0 | 0 | 29 | DA | No | **_Engine speed dependent_**

[2022-03-17 22:58] ericthomasswenson opened #1085 "J1939-84 User Community Communications Check"
Please leave a comment to verify your access to create comments in this GitHub repository.

In the blank comment dialog box, enter your GitHub user name and today’s date

The ability to add new issues may be assessed at a later date.

An example response is provided below.

[2022-03-17 23:01] ericthomasswenson commented on #1085
ericthomasswenson — 03/17/2022

[2022-03-17 23:49] gumbelmj commented on #1085
@gumbelmj 03/17/2022

[2022-03-18 15:10] naroner commented on #1085
naroner -- 3/18/2022 (Nathan Roner - Detroit Diesel)

[2022-03-18 15:20] anthonyhbest commented on #1085
anthonyhbest - 3/18/2022 (Anthony Best - PACCAR)

[2022-03-18 16:07] jacobbosch-cummins commented on #1085
jacobbosch-cummins - 3/18/22 (Jacob Bosch - Cummins)

[2022-03-18 16:16] vmuthu2 commented on #1085
vmuthu2 - 03/18/2022 (Vimal Muthukumar - PACCAR)

[2022-03-18 16:36] PVEcompliance commented on #1085
Bob Halfman - 18mar2022

[2022-03-18 16:43] mmschaefer commented on #1085
@mmschaefer - 3/18/2022

[2022-03-18 17:27] ericthomasswenson commented on #1081
Add user interface notification pop up to inform user.

Add adapter’s error notice in the log.

Review timing with developer

[2022-03-18 17:32] ericthomasswenson commented on #1080
Jacob Bosch & Vimal Muthukumar have also observed this in 3.0.13.

[2022-03-18 17:40] ericthomasswenson commented on #1078
Status of 10 - Regen Imminent confirmed with EPA who will recognize this for SP 3700 in Title 40 Part 86.

Need to clarify expected handling of error status v. SPs lacking error status.

SP 3700 only observed SP thus far.

[2022-03-18 18:08] PVEcompliance commented on #1078
Title 40  Part 86.1370(d)(2) will be updated to show the same status bit meaning as defined in the J1939DA

"
00b = not active
01b = active
10b = regeneration needed - automatically initiated active regeneration imminent
11b = not available
"

[2022-03-18 19:53] GovindarajKarthik commented on #1085
GovindarajKarthik - 03/18/2022 ( Karthik Govindaraj - Detroit Diesel)

[2022-03-18 19:53] DPatasky commented on #1085
David Patasky - March 18th 2022.

[2022-03-19 18:36] tgolub1 commented on #1085
Tom Golub -- 19 MAR 2022

[2022-03-19 20:03] battjt commented on #1085
Joe Batt - 19 MAR 2022

[2022-03-21 13:28] markmorrisoncummins commented on #1085
Mark Morrison (Cummins) - 03/21/2022

[2022-03-21 15:27] ericthomasswenson commented on #1085
All users have responded. Thank you all.

The developer’s team also responded.

You may see Joe, Matt, and Marianne comment on your issues in the future.

[2022-03-24 02:34] ericthomasswenson opened #1086 "Support SPs 21227 and 21228 Additions in Table A-4-2"
Update Table A-4-2 processing with the Outlet O2 Sensor Monitor SPs recently balloted in SAE J1939-73 5.7.20. (These were previously documented as NEW1 and NEW2).

Outlet Oxygen sensor bank 1	21227	Engine Exhaust Bank 1 Secondary O2 Sensor Monitor
Outlet Oxygen sensor bank 2	21228	Engine Exhaust Bank 2 Secondary O2 Sensor Monitor

[2022-03-24 02:40] ericthomasswenson commented on #1086
J1939-84 ballot comments noted that the newly assigned SPs for DM20 did not replace NEW1 and NEW2 in Table A-4-2.

[2022-03-24 10:50] ericthomasswenson commented on #1066
Present as built text:
6.1.4	DM24: SP Support
6.1.4.1	Actions
a.	Destination Specific (DS) DM24 [send Request (PG 59904) for PG 64950 (SPs 3297, 4100-4103)] to each OBD ECU.
b.	If no response [transport protocol RTS or NACK(Busy) in 220 ms], then retry DS DM24 request to the OBD ECU. (Do not attempt retry for NACKs that indicate not supported.)
c.	Create vehicle list of supported SPs for data stre

[2022-03-24 10:58] ericthomasswenson commented on #1061
6.1.10.1.b Allow 5 seconds to elapse before proceeding with test step 6.1.9.2.

Does not lead to a get diag. Info … check for erased data routine.

It really should be different.

[2022-03-24 11:09] ericthomasswenson commented on #1062
Criteria were not modified for the 3.0.13 ballot draft.

The text illustrated in (h)(4.1.1)(A) does capture the change in the misfire bit.

Observations of complete CCM and Misfire Status are expected.

Revisions for DM5 and DM26 Misfire status bits may need to alternate by engine model year.

[2022-03-24 11:12] ericthomasswenson commented on #1063
Review Part 11 timer performance in next release.

[2022-03-24 11:13] ericthomasswenson commented on #1064
Users to Review as part of next release

[2022-03-24 11:19] ericthomasswenson commented on #1065
Check SP 84 warning messages provided by the next release

[2022-03-24 11:22] ericthomasswenson commented on #1080
Confirmed on bench

To be included in 1st candidate release

[2022-03-24 11:31] ericthomasswenson commented on #1053
IUMPR issues now capture this request.  This is thus obsolete.

https://github.com/Equipment-and-Tool-Institute/iumpr/issues/85

[2022-03-24 11:34] ericthomasswenson commented on #1054
This issue is now captured in the IUMPR issues list

https://github.com/Equipment-and-Tool-Institute/iumpr/issues/84

[2022-03-24 19:14] ericthomasswenson commented on #1051
Let’s check the next release for omitted steps …

[2022-03-24 19:23] ericthomasswenson commented on #1059
This need was not included in the Sept 15, 2021 Table A-1

https://github.com/Equipment-and-Tool-Institute/j1939-84/issues/1065

https://github.com/Equipment-and-Tool-Institute/j1939-84/files/7171010/J1939-84-Table-A-1-MY24.15Sept2021.docx

[2022-03-25 15:44] naroner opened #1087 "When checking for erased information, tool interprets NACKs as deleted data"
**One of our OBD controllers only support DM5 and will NACK others when requested. During the check for erased diagnostic information our controller NACKs the requests, however the tool interprets this as deleting data.**

6.9.3.10.d - Checking for erased diagnostic information

15:26:25.1048 Destination Specific DM6 Request to Engine #1 (0)
15:26:25.1054 18EA00F9 [3] CF FE 00 (TX)
15:26:25.1111 1